# 필요한 패키지 로드

In [1]:
import pandas as pd

# Question 1.
- 데이터를 로드하라.

In [10]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(data, index_col = 0)
display(df.head(10))
display(df.info())

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
5,"(EN/CN/ID) 월드스타 한 분 더 모셨습니다. 비x박진영 & 싸이, 비주얼 가...",시즌비시즌 Season B Season,24,1274464,26660,368,2701,UCZf4ZESHAIuRtZ-eoMSL97A,2021-01-01
6,[미스트롯2] 많은 참가자가 라이벌로 뽑은 명실상부 트롯 천재! 전유진이 부르는 '...,TV CHOSUN JOY,24,682608,7435,434,1943,UCYeeEwH_s9yD9HQe4e2JuBw,2021-01-01
7,[아이유의 팔레트] 팔레트에 '있지' (With ITZY) Ep.4,이지금 [IU Official],24,2420537,200301,956,14641,UC3SyT4_WLHzN7JmHQwKQZww,2021-01-01
8,답답한 집콕.. 2020년은 예능으로 존버(존중하며 버팀)했다 MBC 연예대상 하이...,14F 일사에프,26,1001581,9462,337,1684,UCLKuglhGlMmDteQKoniENIQ,2021-01-01
9,나 숙취 있어! 알딸딸해! 필름 끊겼어를 영어로 어떻게 할까요?,Sarah Kim,27,1358098,8224,820,1406,UCMXFwld5hCpMc2-49cndljA,2021-01-01

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

None

# Question 2.
- 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라.

In [ ]:
# 1. channelId를 기준으로 빈도수를 계산, 상위 10개의 channelId를 가져온다. (후에 채널명에 매핑하기 위해).
#   - value_counts() 함수는 내림차순 정렬을 해주기에 바로 head()를 통해 상위 10개를 추출할 수 있다.
#   - index: value_counts() 함수를 사용하면 'index = channelId', 'value = 빈도수' 가 되기에 상위 10개의 Id를 가져오기위해 사용한다.
#   - tolist(): index를 사용하면 index 자료형으로 결과가 출력되기에 list type으로 변환한다.s
top10_channel_ids = df['channelId'].value_counts().head(10).index.tolist()
top10_channel_ids

['UCszFjh7CEfwDb7UUGb4RzCQ',
 'UCtm_QoN2SIxwCE-59shX7Qg',
 'UClzB2iZ5jPoTNz0S-QU6Wiw',
 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
 'UCiwQRG2sCcfjKkgxMEdJGPg',
 'UChbE5OZQ6dRHECsX0tEPEZQ',
 'UCLkAepWjdylmXSltofFvsYQ',
 'UCQ2O-iftmnlfrBuNsUUTofQ',
 'UCtfriFvIe5gIe8wRWb8UTMg',
 'UCRuSxVu4iqTK5kCh90ntAgA']

In [20]:
# 2. channelID에 channelTitle을 매핑
#   -> channelId에서 중복되는 범주를 제거한다.
#   -> set_index('channelId')
#       - channelId를 새로운 index로 하여 데이터프레임을 반환한다.
#       - * 주의 *: set_index() 함수는 기존 데이터프레임을 변환하는 것이 아니라 변환된 데이터프레임을 return 한다.
#   -> ['channelTitle']
#       - channelId가 index가 된 새로운 데이터프레임에서 channelTitle 컬럼만을 필터링한다.
#   -> 결과적으로 channelId와 channelTitle 두 컬럼을 갖는 데이터프레임 `id_to_title` 객체를 초기화한다.
id_to_title = df.drop_duplicates('channelId').set_index('channelId')['channelTitle']
id_to_title

channelId
UChbE5OZQ6dRHECsX0tEPEZQ                        장삐쭈
UCxXgIeE5hxWxHG6dz9Scg2w    RAIN's Official Channel
UCZUPZW5idAxYp-Asj__lVAA                서울시 · Seoul
UCT3CumbFIJiW33uq0UI3zlg               고기남자 MeatMan
UCdWgRSfttvDucq4ApcCg5Mw                      스브스밥집
                                     ...
UCsiuN8Jco3LbbuTyGuqRgKg                        멸치형
UCRnEWJKVc5FpC-9Z3CBt2ZQ            키키TV, 전지적 예능 시점
UCkMN06eC97XL1qR1bExdwWg                      기용이tv
UCp9G3sWsE42Qo9jgnB1ta2Q         INSSAOPPA G [인싸오빠]
UCRCK5FCJtomQT3b88jXI_DA                한국닌텐도 공식 채널
Name: channelTitle, Length: 1770, dtype: object

In [21]:
# 3. id_to_title 이전에 추출한 상위 10 개의 목록인 top10_channel_ids의 각 요소를 순회하며 매칭되는 값을 결과로 받는다.
Ans = [id_to_title[ch_id] for ch_id in top10_channel_ids]
Ans

['짤툰',
 'SPOTV',
 '파뿌리',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 '장삐쭈',
 'BANGTANTV',
 '채널 십오야',
 '이과장',
 '총몇명']

# Question 3.
- 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes 수가 likes 수보다 높은 동영상을 제작한 채널을 모두 출력하라.

In [ ]:
# loc을 통한 행 조건 필터링.
target = list(df.loc[df.dislikes > df.likes].channelTitle.unique())
target

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

# Question 4.
- 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한 번이라도 바꾼 채널의 갯수를 구하여라.

In [ ]:
# 1. channelId를 기준으로 groupby한 뒤 chnnelTItle 컬럼만을 추출한다.
#   -> nunique(): 고유한 범주의 종류의 수를 추출한다. (현재는 channelId 별 channelTitle의 수를 반환).
'''
< nunique() >
- pandas의 함수로 몇 개의 서로 다른 범주(범주의 종류)가 있는지 출력한다.
- 현재 문제에서는 channelId 별로 몇 개의 서로다른 channelTitle이 있는지 출력한다.
- 사용 예
    - Series.nunique()
    - DataFrame.nunique()
''' 
title_counts = df.groupby('channelId')['channelTitle'].nunique() # title_counts는 Series이다.
title_counts

# 2. 고유한 범주 종류의 수(title_counts)가 2 이상인 경우만 필터링 한다.
#   - title_counts는 Series이기에 조건에 맞는 경우를 필터링하면 `index(channelId)`와 `channelId별 해당되는 channelTitle의 수'를 출력한다.
#   - len()을 통해 총 개수를 반환.
Ans = title_counts[title_counts > 1]
len(Ans)

71

# Question 5.
- 일요일에 인기있었던 영상들 중 가장 많은 종류(categoryId)는 무엇인가?

In [ ]:
# 1. 요일을 다루기 위해 trending_date2를 datetime 형으로 변환
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

# 2. datetime으로 형변환된 trending_date2컬럼을 dt.day_name()함수를 통해 요일로 변환하고, Sunday와 일치하는 행만을 필터링.
#   -> categoryId의 빈도수를 계산.
#   -> index[0]을 통해 첫 번째 행 값을 반환 (value_counts()로 인해 index가 categoryId기이 때문).
Ans = df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(Ans)

24

# Question 6.
- 각 요일별 인기 영상들의 categoryId는 각각 몇 개씩인지 하나의 데이터프레임으로 표현하라.

In [52]:
# 1. 요일별 집계이기에 일단 날짜를 요일별로 매핑한 컬럼을 생성한다.
df['weekday'] = pd.to_datetime(df['trending_date2']).dt.day_name()

# 2. categoryId 별로 weekday을 매핑하고, 각 요일의 빈도수를 측정함.
#   -> unstack(): 요일을 unstack하여 컬럼으로 사용함.
Ans = df.groupby(['categoryId', 'weekday']).size().unstack()
print(Ans)

weekday     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

# Question 7. 
- 댓글의 수(comment_count)로 영상 반응에 대한 판단을 할 수 있다. view_count 대비 댓글 수가 가장 높은 영상을 확인하라. (view_count 값이 0인 경우는 제외).

In [110]:
# 1. view_count != 0인 데이터 필터링
#   - copy()를 써주는 것이 옳다. 원본 데이터프레임을 유지하기 위해서이다.
target = df.loc[df.view_count != 0 ].copy()
target

# 2. 추출한 데이터 프레임 target을 기준으로 view_count대비 댓글 수 컬럼 생성
target['view_vs_comment'] = target['comment_count'] / target['view_count']
target['view_vs_comment']

# 3. 정렬 후 영상 이름 출력.
Ans = target.sort_values('view_vs_comment', ascending = False)['title'].iloc[0]
Ans

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

# Question 8.
- `댓글의 수(comment_count)`로 영상 반응에 대한 판단을 할 수 있다. `view_count` 대비 댓글 수가 가장 적은 영상을 확인하라 (단, `view_count`와 `ratio`(`comment_count`와 `view_count`의 비율 계산 결과) 값이 0인 경우는 제외한다).

In [113]:
# 1. view_count 대비 comment_count 계산 (이전 문제의 `target`데이터 프레임과 `view_vs_comment` 컬럼 활용).
# view_vs_comment이 0인 경우 제외
target = target.loc[target['view_vs_comment'] != 0]
target.head()

# 2. view_vs_comment를 오름차순 정렬.
target = target.sort_values('view_vs_comment')

# 3. 첫 번째 행의 title을 출력
Ans = target['title'].iloc[0]
Ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

# Question 9.
- `likes` 대비 `dislikes`의 수가 가장 적은 영상은 무엇인가? (단, `likes`, `dislikes` 값 0인 경우는 제외한다).

In [67]:
# 1. like와 dislike의 값이 0인 경우 제외
target = df.loc[(df['likes'] != 0) & (df['dislikes'] != 0)].copy()
target.head()

# 2. likes 대비 dislikes 컬럼 생성
target['likes_vs_dislikes'] = target['dislikes'] / target['likes']

# 3. 오름차순 정렬 후 가장 적은 영상의 title 추출.
Ans = target.sort_values('likes_vs_dislikes').title.iloc[0]
Ans

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

# Question 10.
- 가장 많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함).

In [ ]:
# 1. channelId를 index로하고 channelTitle를 대상으로 value_counts()를 한다.
target = df.groupby('channelId').size()
target = target.sort_values(ascending = False)
temp = target.index[0]

# 2. 정렬을 적용하고 값을 출력한다.
Ans = df.loc[df['channelId'] == temp, 'channelTitle'].iloc[0]
Ans

# groupby().size(): 여러 컬럼을 다룰 때 유용
#   - 현재 문제는 channelId로 group한 후 관련된 channelTitle까지 참조해야 하기에 groupby().size()가 적합.
# value_counts(): 단일 Series를 대상으로 한다.

'짤툰'

# Question 11.
- 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 수는?

In [ ]:
# 1. title을 기준으로 빈도수를 계산하여 target Series를 생성.
# ** 주의 **
#   - 마님은 channelId와 title로 필터링하였으나 문제 조건이 '동영상'만을 대상으로 하기에 channelId를 제외한 title만을 사용하였다.
#   - channelId를 포함하는 경우 `groupby(['channelId', 'title'])`로 코드를 변경해주면 같은 답을 얻을 수 있다.
target = df.groupby('title').size()
target

# 2. 생성해 둔 target Series를 기준으로 20이상인 행들만 필터링.
#   - loc은 Series에도 사용할 수 있다.
Ans = target.loc[target >= 20]
len(Ans)

41

# Question 12.
- 데이터를 로드하라.

In [4]:
channel_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'
video_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv'

channel = pd.read_csv(channel_data)
video = pd.read_csv(video_data)

print('channel')
display(channel.head())
print('video')
display(video.head())

channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

# Question 13.
- 각 데이터의 `ct`컬럼을 시간으로 인식할 수 있게 datatype을 변경하고, `video` 데이터프레임의 `videoname`의 각 범주마다 몇 개의 데이터씩을 갖고 있는지 확인하라.

In [5]:
# 1. 두 데이터프레임의 ct 컬럼을 datetime으로 변환
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
# print(channel['ct'].dtype)
# print(video['ct'].dtype)

# 2. video 데이터프레임의 videoname 컬럼의 범주별 빈도 확인.
Ans = video.groupby('videoname').size()
print(Ans)

videoname
공범 EP1    3492
공범 EP2    3204
공범 EP3    2568
공범 EP4    2280
공범 EP5    1562
공범 EP6    1274
공범 EP7     555
공범 EP8     266
dtype: int64

# Question 14.
- `video` 데이터프레임의 `videoname`의 각범주별로 `최신 날짜(ct)`의 `viewcnt`를 출력하라.

In [6]:
# 1. ct(날짜)를 최신 날짜로 하기 위해 우선 정렬(내림차순)
#   -> videoname 별로 viewcnt를 출력해야하기에 groupby('videoname')
#   -> first(): groupby()함수의 집계함수이다. 집계 후의 `첫 번째 행`을 반환한다.
#   -> reset_index(): 사용하지 않아도 되는데 이번 문제에서 groupby()에 사용된 videoname 컬럼을 index로 사용하지 않는 것을 테스트하기 위해 사용.
target = video.sort_values('ct', ascending = False).groupby(['videoname']).first().reset_index()

# 2. 필요한 컬럼만 추출해서 출력.
target[['viewcnt', 'videoname', 'ct']]

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

# Question 15.
- `channel` 데이터프레임의 2021-10-03일 이후 각 채널의 처음 기록 됐던 `구독자 수(subcnt)`를 출력하라.

In [7]:
# 1. 날짜 기준 필터링하여 새로운 데이터프레임을 생성.
target = channel.loc[channel['ct'] >= '2021-10-03'].copy()
target

# 2. 처음 기록된 날짜이기에 sort_values()함수의 ascending = True로 설정한다.
#   - ascending = True: 오름차순으로 과거 날짜를 시작으로 정렬되기에 first()로 가져오면 첫 번째 행이 `처음 기록된 구독자 수`가 된다.
Ans = target.sort_values('ct').groupby(['channelid']).first().reset_index()
Ans[['channelname', 'subcnt']]

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2           형사!탐정되다    14900
3       릴펄 Lilpearl    10100
4               조나단   215000
5        김농밀의 농밀한 삶     7520
6     Balming Tiger    54300
7               꽈뚜룹  1330000
8   와글와글 WagleWagle    55000
9        츄정ChuJeong   322000
10    곽토리 kwak tori   471000

# Question 16.
- channel 데이터프레임의 각 채널의 2021년 10월 03일 3시에 해당하는 데이터부터 2021년 11월 01일 15시에 해당하는 데이터까지의 구독자 수(subcnt)의 차이를 구하여라.

In [8]:
# 1. 필터링을 위한 기준 생성
oct_time = '2021-10-03 03'
nov_time = '2021-11-01 15'

# 2. 데이터프레임 생성
# dt.strftime(): 날짜형을 str 형으로 형변환하는 함수.
#   - 날짜형을 str 형으로 형변환하여 oct_time 그리고 nov_time과 비교하는 것.
oct_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == oct_time]
nov_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == nov_time]

# 3. 데이터프레임을 합치기 전 subcnt의 명칭을 변경(증가율을 계산할 때 중복된 명칭이면 안되기 때문).
oct_df = oct_df.rename(columns = {'subcnt' : 'subcnt_oct'})
nov_df = nov_df.rename(columns = {'subcnt' : 'subcnt_nov'})

# 4. 필터링한 두 데이터프레임을 channelId를 기준으로 merge. 
# (각 채널에 대한 빈도수를 구하기 때문에 channelId를 기준으로 한다.)
# on = 'channelname': 채널 별 구독자 수(subcnt)를 구하기에 channelname으로 병합한다. (그렇지 않으면 channelname_x와 channelname_y로 두 개의 컬럼이 생성된다).
merged_df = pd.merge(oct_df, nov_df, on = 'channelname', how = 'inner')

# 5. 병합된 데이터프레임(merged_df)에서 증가율을 새로운 컬럼으로 생성
merged_df['growth_ratio'] = (merged_df['subcnt_nov'] - merged_df['subcnt_oct'])

# 6. 결과 출력
Ans = merged_df[['channelname', 'growth_ratio']]
display(Ans)

        channelname  growth_ratio
0               꽈뚜룹         70000
1             야전삽짱재         11000
2        츄정ChuJeong          1000
3            논리왕 전기        -11000
4   와글와글 WagleWagle             0
5               조나단         12000
6           형사!탐정되다         10300
7        김농밀의 농밀한 삶          1540
8       릴펄 Lilpearl         11000
9     곽토리 kwak tori         -2000
10    Balming Tiger          2500

# Question 17.
- 각 비디오는 10분 간격으로 구독자 수, 좋아요, 싫어요 수, 댓글 수가 수집되었다. `videoname`컬럼의 `공범 EP1`값의 비디오 정보 데이터 중 수집 간격이 5분 이하, 20분 이상인 데이터 구간 (해당 시점 전과 후)의 시각을 모두 출력하라.

In [9]:
# 1. videoname이 공범 EP1인 데이터만을 필터링
# 놀랍게도 ' 공범 EP1'로 필터링해야 한다. (따라서 str.strip()을 통해 깔끔하게 필터링한다).
target = video.loc[video['videoname'].str.strip() == '공범 EP1'].copy()

# 2. 날짜 기준으로 차이를 계산해야 하기 때문에 날짜 기준 정렬.
#   - reset_index(): 현재기준 전과 후의 행도 필터링해야하기 때문에 index를 사용하는 경우 발생
#       -> 따라서 현재 문제에서는 sort 후 index를 재정리 해 둘 필요가 있음.
target = target.sort_values('ct').reset_index(drop = True)

# 3. 추출한 데이터프레임 target에서 시간 차이를 계산하여 새로운 컬럼 생성.
#   - dt.total_seconds(): datetime의 차이를 초 단위로 변환해 준다.
'''
< datetime의 자료형 >
1. 일반 datetime
    - 일반 datetime의 자료형은 datetime.datetime이다.
2. datetime 끼리의 차이
    - datetime으로 계산한 datetime의 차이는 자료형이 datetime.timedelta이다.

** 결론 **
- dt.total_seconds()는 정확히는 datetime의 차이를 초단위로 변환해 주기에 datetime.timedelta에 적용되는 함수이다.
'''
target['time_diff'] = target['ct'].diff().dt.total_seconds() / 60

# 4. 5분 이하, 20분 이상에 속하는 데이터의 index를 필터링하여 idx 추출
#   - index를 필터링하는 이유는 전과 후의 데이터도 추출해야하기 때문에 위치기반 추출(iloc)을 해야한다.
#   - (정확히는 정수형 필터링은 loc도 가능하지만 index를 사용하니 iloc을 사용하는 것이 형식상 맞다 이해하면 된다.)
#   - 이때 idx는 `.index`로 필터링된 index 객체이다. (Series 아님).
idx = target.loc[(target['time_diff'] <= 5) | (target['time_diff'] >= 20)].index
display('< idx 필터링 결과 >', idx)

# 5. 추출한 index를 기반으로 전과 후의 index를 필터링
#   - target_idx 또한 idx를 기반으로 추출된 index 객체이다. (Series 아님).
target_idx = idx.union(idx - 1).union(idx + 1)
display('< target_idx 필터링 결과 >', target_idx)

# 6. 추출한 index 중 범위 기준(0과 len(target) 사이)을 만족하는 index만 필터링
target_idx = target_idx[(target_idx >= 0) & (target_idx < len(target))]

# 7. 결과 출력
#   - 굳이 target_idx를 정렬해 줄 필요는 없다. 그럼에도 한 이유는 날짜(ct)로 정렬되어 보기에 하기 위함이다.
Ans = target.iloc[target_idx.sort_values()]
Ans

'< idx 필터링 결과 >'

Index([721, 722, 1636], dtype='int64')

'< target_idx 필터링 결과 >'

Index([720, 721, 722, 723, 1635, 1636, 1637], dtype='int64')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_diff
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,10.016667
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,861.566667
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0.000000
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1,8.433333
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1,10.000000
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,30.016667
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1,10.000000

# Question 18.
- video 데이터프레임의 각 videoname의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터프레임으로 만들고 출력하라.

In [25]:
# 1. video 데이터프레임의 ct 컬럼에서 날짜만 추출. `년-월-일`` 형식을 맞추기 위해.
video['date'] = video['ct'].dt.date

# 2. videoname으로 그룹화
#   -> 'date'컬럼만을 필터링
#   -> min(): 가장 최신 날짜를 가져오기 위함.
#   -> reset_index(): DataFrame 형태로 보기 편하게 하기 위해 사용. 
Ans = video.groupby('videoname')['date'].min().reset_index()
Ans

  videoname        date
0    공범 EP1  2021-10-07
1    공범 EP2  2021-10-09
2    공범 EP3  2021-10-14
3    공범 EP4  2021-10-16
4    공범 EP5  2021-10-21
5    공범 EP6  2021-10-23
6    공범 EP7  2021-10-28
7    공범 EP8  2021-10-30

# Question 19.
- video 데이터프레임의 `공범` 컨텐츠의 경우 19:00시에 공개 되는 것으로 알려져 있다. 공범 컨텐츠(videoname 컬럼)별로 공개된 날의 21시의 viewcnt, ct, 그리고 videoname으로 구성된 데이터프레임을 viewcnt를 내림차순으로 정렬하고, viewcnt가 가장 큰 데이터를 출력하라.

In [48]:
# 1.19:00 시와 21 시 등 시간을 처리와 날짜를 출력하기 위해 파생변수를 생성한다.
# 시간
video['hour'] = video['ct'].dt.hour
# 날짜
video['date'] = video['ct'].dt.date

# 2. 19:00 시를 기준으로 공개된 날짜 필터링
#   - 분단위 이하를 생략하는 이유는 초단위 비교연산에서는 에러가 생길 수 있기 때문이다. (부동소수점과 유사).
#   - unique(): 날짜만 추출하면 되기에 필요없는 중복을 제거한다.
release_dates = video.loc[video['hour'] == 19, 'date'].unique()

# 3. video 데이터프레임에서 release_dates와 21시에 해당하는 행만을 필터링.
target = video.loc[(video['date'].isin(release_dates)) & (video['hour'] == 21)]

# 4. 정답
#   - sort_values(): viewcnt를 기준으로 내림차순 정렬 조건을 만족하기 위해 설정.
#   - groupby(): 공범 컨텐츠별로 출력하기 위해 설정.
#   - first(): viewcnt가 가장 큰 데이터를 출력하기 위해 사용.
Ans = target[['viewcnt', 'ct', 'videoname']].sort_values(by = 'viewcnt', ascending = False).groupby('videoname', as_index = False).first()
Ans

  videoname  viewcnt                  ct
0    공범 EP1  3161641 2021-10-31 21:50:02
1    공범 EP2  2185062 2021-10-31 21:50:02
2    공범 EP3  1658039 2021-10-31 21:50:03
3    공범 EP4  1804957 2021-10-31 21:50:03
4    공범 EP5  1488913 2021-10-31 21:50:03
5    공범 EP6  1730661 2021-10-31 21:50:04
6    공범 EP7  1594029 2021-10-31 21:50:04
7    공범 EP8  1170183 2021-10-31 21:50:04

# Question 20.
- video 데이터프레임에서 videoname 별로 가장 최근 데이터를 필터링하고, 각 에피소드의 `싫어요의 수/좋아요의 수` 비율을 ratio 컬럼으로 만들어라. 그 후 videoname, ratio로 구성된 데이터프레임을 ratio를 기준으로 오름차순으로 정렬하라.

In [57]:
# 1. 우선 최근 데이터를 필터링하기 위해 내림차순 정렬.
target = video.sort_values('ct', ascending = False)
target

# 2. 가장 최근 데이터를 필터링하기 위해 groupby() 사용.
target = target.groupby('videoname').first().reset_index()
target

# 3. ratio 컬럼 생성
target['ratio'] = target['dislikecnt'] / target['likecnt']

# 4. videoname과 ratio컬럼만을 필터링
Ans = target[['videoname', 'ratio']]

# 5. ratio 컬럼을 기준으로 오름차순 정렬
Ans = Ans.sort_values('ratio', ascending = True)
Ans

  videoname     ratio
6    공범 EP7  0.013636
5    공범 EP6  0.015881
3    공범 EP4  0.017971
4    공범 EP5  0.021128
2    공범 EP3  0.022360
0    공범 EP1  0.027118
1    공범 EP2  0.029844
7    공범 EP8  0.141357

# Question 21.
- video 데이터프레임의 2021-11-01 00:00:00 ~ 15:00:00 사이의 각 에피소드(videoname)별 viewcnt의 증가량을 데이터프레임으로 만드시오.

In [94]:
# 1. 2021-11-01 00:00:00 ~ 15:00:00의 데이터를 필터링
#   - 범위로 필터링: `==` 연산자를 통한 비교는 `초단위` 비교에서 문제가 발생하기에 범위로 필터링하여 처리하는 것이 좋다.
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

# 기간 필터링
target = video.loc[(video['ct'] >= start) & (video['ct'] <= end)].reset_index(drop = True)

# 2. 마지막 날짜와 첫 날짜를 추출하기 위해 날짜를 기준으로 정렬
target = target.sort_values(['videoname', 'ct'], ascending= True)

# 3. 시작 시간대의 viewcnt와 끝 시간대의 viewcnr를 출력
#   - 오름차순: 가장 과거 데이터가 첫 번째로 온다.
start_view = target.groupby('videoname').first()
end_view = target.groupby('videoname').last()

# 4. 차이를 계산한 시리즈 생성
Ans = end_view['viewcnt'] - start_view['viewcnt']

# 5. index(viewname)를 기준으로 데이터프레임을 생성. (답의 형식을 맞추기 위해).
#   - to_frame(name = ): 데이터프레임으로 만들기 때문에 컬럼명을 주어야 한다.
Ans = Ans.to_frame(name = 'viewcnt')
Ans

           viewcnt
videoname
공범 EP1       13298
공범 EP2       10300
공범 EP3        9927
공범 EP4        9824
공범 EP5       10824
공범 EP6       14141
공범 EP7       26949
공범 EP8       89147

# Question 22.
- video 데이터프레임에는 중복되는 데이터가 존재한다. 날짜(ct)와 에피소드(videoname)를 기준으로 중복된 행을 출력하되 중복행중 가장 마지막 행을 출력하라.

In [ ]:
'''
< dublicated() 함수 인자 >
1. subset
    - 중복 기준이 되는 컬럼들을 지정한다.
    - 예: ['ct', 'videoname']은 'ct'와 'videoname'이 중복인 행들만 필터링한다.
    
2. keep
    - False: 중복되는 모든 행을 True로 한다.
    - first: 각 중복되는 행 중 첫 번째 중복 행만을 False로 한다. (나머지 중복 행은 모두 True).
    - last: 각 중복되는 행 중 마지막 중복 행만을 False로 한다. (나머지 중복 행은 모두 True).
'''

# 1. 우선 모든 중복 행을 필터링.
all_dup = video.loc[video.duplicated(subset=['ct', 'videoname'], keep = False)].copy()

# 2. all_dup에서 `keep = 'last'`를 통해 마지막 중복 행만을 False로 만들고 loc을 통해 False인 행만 추출.
Ans = all_dup.loc[all_dup.duplicated(subset = ['ct', 'videoname'], keep = 'last') == False]
Ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date,hour
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,2021-10-13,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,공범 EP2,2021-10-13,9

# Question 23.
- 데이터를 로드하라.

In [3]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv'
df = pd.read_csv(data)

df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [ ]:
Ans = df.loc[df.duplicated('Player', keep = False)].sort_values('Player')
Ans

           Player  Goals      Years  Country
460    Goikoetxea      2       1994    Spain
1132   Goikoetxea      1       1986    Spain
839   Jozsef Toth      1       1954  Hungary
840   Jozsef Toth      1  1978-1982  Hungary
1137      Juanito      1  1978-1982    Spain
1138      Juanito      1       2006    Spain
599        Junior      1  1982-1986   Brazil
600        Junior      1       2002   Brazil

# Question 24.
- 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임으로 출력하라.

In [4]:
# 1. 나라별(groupby) 골 수를 합계(sum)로 하여 집계 후 골 수대로 내림차순 정렬(sort_values())
Ans = df.groupby('Country').sum('Goals').sort_values('Goals', ascending = False).reset_index()

# 2. 상위 다섯 개의 행만을 필터링.
Ans.head(5)

     Country  Goals
0     Brazil    228
1    Germany    226
2  Argentina    135
3      Italy    123
4     France    115

# Question 25.
- 주어진 전체 기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수의 수를 데이터프레임 형식으로 출력하라.
- (마님 풀이의 경우 groupby().size()를 사용하셨는데 중복된 선수명이 있는 경우가 포함되어 현재 풀이와 결과가 조금 다르다).

In [17]:
# 1. Country로 groupby하고, 선수들에 대해 nunique()로 총 범주의 종류를 count
#   - nunique()는 범주의 종류의 수를 카운트하며 중복을 포함하지 않는다. 따라서 마님의 정답과는 조금 다른 답이 출력된다.
#       -> 현재 고유하게 선수를 식별할 수 있는 컬럼이 없다 생각하기에 nunique()를 그대로 사용.
Ans = df.groupby('Country').nunique('Player')

# 2. 상위 다섯 갱의 국가를 출력하기 위해 Player를 기준으로 내림차순 정렬.
Ans = Ans.sort_values('Player', ascending = False)
Ans

# 3. 정답 출력
Ans['Player'].head()

Country
Brazil       80
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

# Quesetion 26.
- Years 컬럼은 `년도-년도` 형식으로 구성되어 있고, 각 년도는 4자리 수이다. 년도 표기가 4자리 수가 아닌 경우가 존재하며 해당 케이스는 몇 건인지 출력하라.

In [ ]:
# 1. '-'을 기준으로 Years 컬럼을 분리하여 새로운 데이터프레임을 반환한다.
#   - expand = True: 문자열 분리 결과를 컬럼으로 나눈 새로운 DataFrame을 반환한다.
year_split = df['Years'].str.split('-', expand = True)
# display(year_split)

# 2. 각 셀별로 길이가 1) NULL이 아니고, 2) 문자열의 길이가 4가 아니라면 `True를 할당한다`.
mask = year_split.apply(
    lambda col : col.map( # 첫 번째 lambda 식은 year_split의 각 컬럼별로 적용된다. (DataFrame이기 때문).
        lambda x : len(str(x)) != 4 # 두 번째 lambda 식은 col(즉, Serise)에 적용되기에 각 셀을 대상으로 적용된다.
            if pd.notnull(x) # NULL이 아닌 경우에만 `x : len(str(x)) != 4`가 수행되며 `길이가 4가 아니라면 True`를 반환한다. (길이가 4인경우가 False임을 주의).
            else False) # NULL이라면 False를 반환한다.
    ) # 즉, NULL인 경우와 길이가 4인 경우만 False가 되고, 길이가 4가 아닌 경우만 True가 된다.
# display(mask)

# 3. 생성된 mask를 행단위로 적어도 하나의 길이가 4가 아닌 셀(True인 셀)이 있나 확인하고 합산
#   - any: 적어도 하나가 True라면 True를 반환
#   - any.(axis = 1): 각 행별로 적어도 하나의 셀이 True라면 True를 반환.
#   - sum(): 각 행별로 True 혹은 False가 반환 됐으니 모두 더하면(True를 모두 더함 = 4가 아닌 셀을 모두 더함) 길이가 4가 아닌 행들의 수를 반환받을 수 있다.
Ans = mask.any(axis = 1).sum()
print(Ans)

45

In [ ]:
# 1. 하이픈 기준 분리
year_split = df['Years'].str.split('-', expand=True)

# 2. 각 셀의 길이가 4가 아닌지 체크 (권장 방식)
invalid_mask = year_split.apply(lambda col: col.map(lambda x: len(str(x)) != 4 if pd.notnull(x) else False))

# 3. 하나라도 4자리가 아닌 값이 있는 행 찾기
rows_with_invalid_year = invalid_mask.any(axis=1)

# 4. 개수 출력
invalid_count = rows_with_invalid_year.sum()
print(invalid_count)

45