# í•„ìš”í•œ íŒ¨í‚¤ì§€ ë¡œë“œ

In [1]:
import pandas as pd

# Question 1.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [10]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(data, index_col = 0)
display(df.head(10))
display(df.info())

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
5,"(EN/CN/ID) ì›”ë“œìŠ¤íƒ€ í•œ ë¶„ ë” ëª¨ì…¨ìŠµë‹ˆë‹¤. ë¹„xë°•ì§„ì˜ & ì‹¸ì´, ë¹„ì£¼ì–¼ ê°€...",ì‹œì¦Œë¹„ì‹œì¦Œ Season B Season,24,1274464,26660,368,2701,UCZf4ZESHAIuRtZ-eoMSL97A,2021-01-01
6,[ë¯¸ìŠ¤íŠ¸ë¡¯2] ë§ì€ ì°¸ê°€ìê°€ ë¼ì´ë²Œë¡œ ë½‘ì€ ëª…ì‹¤ìƒë¶€ íŠ¸ë¡¯ ì²œì¬! ì „ìœ ì§„ì´ ë¶€ë¥´ëŠ” '...,TV CHOSUN JOY,24,682608,7435,434,1943,UCYeeEwH_s9yD9HQe4e2JuBw,2021-01-01
7,[ì•„ì´ìœ ì˜ íŒ”ë ˆíŠ¸] íŒ”ë ˆíŠ¸ì— 'ìˆì§€' (With ITZY) Ep.4,ì´ì§€ê¸ˆ [IU Official],24,2420537,200301,956,14641,UC3SyT4_WLHzN7JmHQwKQZww,2021-01-01
8,ë‹µë‹µí•œ ì§‘ì½•.. 2020ë…„ì€ ì˜ˆëŠ¥ìœ¼ë¡œ ì¡´ë²„(ì¡´ì¤‘í•˜ë©° ë²„íŒ€)í–ˆë‹¤ MBC ì—°ì˜ˆëŒ€ìƒ í•˜ì´...,14F ì¼ì‚¬ì—í”„,26,1001581,9462,337,1684,UCLKuglhGlMmDteQKoniENIQ,2021-01-01
9,ë‚˜ ìˆ™ì·¨ ìˆì–´! ì•Œë”¸ë”¸í•´! í•„ë¦„ ëŠê²¼ì–´ë¥¼ ì˜ì–´ë¡œ ì–´ë–»ê²Œ í• ê¹Œìš”?,Sarah Kim,27,1358098,8224,820,1406,UCMXFwld5hCpMc2-49cndljA,2021-01-01

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

None

# Question 2.
- ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼.

In [ ]:
# 1. channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë¹ˆë„ìˆ˜ë¥¼ ê³„ì‚°, ìƒìœ„ 10ê°œì˜ channelIdë¥¼ ê°€ì ¸ì˜¨ë‹¤. (í›„ì— ì±„ë„ëª…ì— ë§¤í•‘í•˜ê¸° ìœ„í•´).
#   - value_counts() í•¨ìˆ˜ëŠ” ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì„ í•´ì£¼ê¸°ì— ë°”ë¡œ head()ë¥¼ í†µí•´ ìƒìœ„ 10ê°œë¥¼ ì¶”ì¶œí•  ìˆ˜ ìˆë‹¤.
#   - index: value_counts() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ 'index = channelId', 'value = ë¹ˆë„ìˆ˜' ê°€ ë˜ê¸°ì— ìƒìœ„ 10ê°œì˜ Idë¥¼ ê°€ì ¸ì˜¤ê¸°ìœ„í•´ ì‚¬ìš©í•œë‹¤.
#   - tolist(): indexë¥¼ ì‚¬ìš©í•˜ë©´ index ìë£Œí˜•ìœ¼ë¡œ ê²°ê³¼ê°€ ì¶œë ¥ë˜ê¸°ì— list typeìœ¼ë¡œ ë³€í™˜í•œë‹¤.s
top10_channel_ids = df['channelId'].value_counts().head(10).index.tolist()
top10_channel_ids

['UCszFjh7CEfwDb7UUGb4RzCQ',
 'UCtm_QoN2SIxwCE-59shX7Qg',
 'UClzB2iZ5jPoTNz0S-QU6Wiw',
 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
 'UCiwQRG2sCcfjKkgxMEdJGPg',
 'UChbE5OZQ6dRHECsX0tEPEZQ',
 'UCLkAepWjdylmXSltofFvsYQ',
 'UCQ2O-iftmnlfrBuNsUUTofQ',
 'UCtfriFvIe5gIe8wRWb8UTMg',
 'UCRuSxVu4iqTK5kCh90ntAgA']

In [20]:
# 2. channelIDì— channelTitleì„ ë§¤í•‘
#   -> channelIdì—ì„œ ì¤‘ë³µë˜ëŠ” ë²”ì£¼ë¥¼ ì œê±°í•œë‹¤.
#   -> set_index('channelId')
#       - channelIdë¥¼ ìƒˆë¡œìš´ indexë¡œ í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì„ ë°˜í™˜í•œë‹¤.
#       - * ì£¼ì˜ *: set_index() í•¨ìˆ˜ëŠ” ê¸°ì¡´ ë°ì´í„°í”„ë ˆì„ì„ ë³€í™˜í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ ë³€í™˜ëœ ë°ì´í„°í”„ë ˆì„ì„ return í•œë‹¤.
#   -> ['channelTitle']
#       - channelIdê°€ indexê°€ ëœ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì—ì„œ channelTitle ì»¬ëŸ¼ë§Œì„ í•„í„°ë§í•œë‹¤.
#   -> ê²°ê³¼ì ìœ¼ë¡œ channelIdì™€ channelTitle ë‘ ì»¬ëŸ¼ì„ ê°–ëŠ” ë°ì´í„°í”„ë ˆì„ `id_to_title` ê°ì²´ë¥¼ ì´ˆê¸°í™”í•œë‹¤.
id_to_title = df.drop_duplicates('channelId').set_index('channelId')['channelTitle']
id_to_title

channelId
UChbE5OZQ6dRHECsX0tEPEZQ                        ì¥ì‚ì­ˆ
UCxXgIeE5hxWxHG6dz9Scg2w    RAIN's Official Channel
UCZUPZW5idAxYp-Asj__lVAA                ì„œìš¸ì‹œ Â· Seoul
UCT3CumbFIJiW33uq0UI3zlg               ê³ ê¸°ë‚¨ì MeatMan
UCdWgRSfttvDucq4ApcCg5Mw                      ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘
                                     ...
UCsiuN8Jco3LbbuTyGuqRgKg                        ë©¸ì¹˜í˜•
UCRnEWJKVc5FpC-9Z3CBt2ZQ            í‚¤í‚¤TV, ì „ì§€ì  ì˜ˆëŠ¥ ì‹œì
UCkMN06eC97XL1qR1bExdwWg                      ê¸°ìš©ì´tv
UCp9G3sWsE42Qo9jgnB1ta2Q         INSSAOPPA G [ì¸ì‹¸ì˜¤ë¹ ]
UCRCK5FCJtomQT3b88jXI_DA                í•œêµ­ë‹Œí…ë„ ê³µì‹ ì±„ë„
Name: channelTitle, Length: 1770, dtype: object

In [21]:
# 3. id_to_title ì´ì „ì— ì¶”ì¶œí•œ ìƒìœ„ 10 ê°œì˜ ëª©ë¡ì¸ top10_channel_idsì˜ ê° ìš”ì†Œë¥¼ ìˆœíšŒí•˜ë©° ë§¤ì¹­ë˜ëŠ” ê°’ì„ ê²°ê³¼ë¡œ ë°›ëŠ”ë‹¤.
Ans = [id_to_title[ch_id] for ch_id in top10_channel_ids]
Ans

['ì§¤íˆ°',
 'SPOTV',
 'íŒŒë¿Œë¦¬',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'ì¥ì‚ì­ˆ',
 'BANGTANTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'ì´ëª‡ëª…']

# Question 3.
- ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikes ìˆ˜ê°€ likes ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼.

In [ ]:
# locì„ í†µí•œ í–‰ ì¡°ê±´ í•„í„°ë§.
target = list(df.loc[df.dislikes > df.likes].channelTitle.unique())
target

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

# Question 4.
- ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œ ë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [ ]:
# 1. channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ groupbyí•œ ë’¤ chnnelTItle ì»¬ëŸ¼ë§Œì„ ì¶”ì¶œí•œë‹¤.
#   -> nunique(): ê³ ìœ í•œ ë²”ì£¼ì˜ ì¢…ë¥˜ì˜ ìˆ˜ë¥¼ ì¶”ì¶œí•œë‹¤. (í˜„ì¬ëŠ” channelId ë³„ channelTitleì˜ ìˆ˜ë¥¼ ë°˜í™˜).
'''
< nunique() >
- pandasì˜ í•¨ìˆ˜ë¡œ ëª‡ ê°œì˜ ì„œë¡œ ë‹¤ë¥¸ ë²”ì£¼(ë²”ì£¼ì˜ ì¢…ë¥˜)ê°€ ìˆëŠ”ì§€ ì¶œë ¥í•œë‹¤.
- í˜„ì¬ ë¬¸ì œì—ì„œëŠ” channelId ë³„ë¡œ ëª‡ ê°œì˜ ì„œë¡œë‹¤ë¥¸ channelTitleì´ ìˆëŠ”ì§€ ì¶œë ¥í•œë‹¤.
- ì‚¬ìš© ì˜ˆ
    - Series.nunique()
    - DataFrame.nunique()
''' 
title_counts = df.groupby('channelId')['channelTitle'].nunique() # title_countsëŠ” Seriesì´ë‹¤.
title_counts

# 2. ê³ ìœ í•œ ë²”ì£¼ ì¢…ë¥˜ì˜ ìˆ˜(title_counts)ê°€ 2 ì´ìƒì¸ ê²½ìš°ë§Œ í•„í„°ë§ í•œë‹¤.
#   - title_countsëŠ” Seriesì´ê¸°ì— ì¡°ê±´ì— ë§ëŠ” ê²½ìš°ë¥¼ í•„í„°ë§í•˜ë©´ `index(channelId)`ì™€ `channelIdë³„ í•´ë‹¹ë˜ëŠ” channelTitleì˜ ìˆ˜'ë¥¼ ì¶œë ¥í•œë‹¤.
#   - len()ì„ í†µí•´ ì´ ê°œìˆ˜ë¥¼ ë°˜í™˜.
Ans = title_counts[title_counts > 1]
len(Ans)

71

# Question 5.
- ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ ì¤‘ ê°€ì¥ ë§ì€ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [ ]:
# 1. ìš”ì¼ì„ ë‹¤ë£¨ê¸° ìœ„í•´ trending_date2ë¥¼ datetime í˜•ìœ¼ë¡œ ë³€í™˜
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

# 2. datetimeìœ¼ë¡œ í˜•ë³€í™˜ëœ trending_date2ì»¬ëŸ¼ì„ dt.day_name()í•¨ìˆ˜ë¥¼ í†µí•´ ìš”ì¼ë¡œ ë³€í™˜í•˜ê³ , Sundayì™€ ì¼ì¹˜í•˜ëŠ” í–‰ë§Œì„ í•„í„°ë§.
#   -> categoryIdì˜ ë¹ˆë„ìˆ˜ë¥¼ ê³„ì‚°.
#   -> index[0]ì„ í†µí•´ ì²« ë²ˆì§¸ í–‰ ê°’ì„ ë°˜í™˜ (value_counts()ë¡œ ì¸í•´ indexê°€ categoryIdê¸°ì´ ë•Œë¬¸).
Ans = df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(Ans)

24

# Question 6.
- ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ ê°œì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼.

In [52]:
# 1. ìš”ì¼ë³„ ì§‘ê³„ì´ê¸°ì— ì¼ë‹¨ ë‚ ì§œë¥¼ ìš”ì¼ë³„ë¡œ ë§¤í•‘í•œ ì»¬ëŸ¼ì„ ìƒì„±í•œë‹¤.
df['weekday'] = pd.to_datetime(df['trending_date2']).dt.day_name()

# 2. categoryId ë³„ë¡œ weekdayì„ ë§¤í•‘í•˜ê³ , ê° ìš”ì¼ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì¸¡ì •í•¨.
#   -> unstack(): ìš”ì¼ì„ unstackí•˜ì—¬ ì»¬ëŸ¼ìœ¼ë¡œ ì‚¬ìš©í•¨.
Ans = df.groupby(['categoryId', 'weekday']).size().unstack()
print(Ans)

weekday     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

# Question 7. 
- ëŒ“ê¸€ì˜ ìˆ˜(comment_count)ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. view_count ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼. (view_count ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸).

In [110]:
# 1. view_count != 0ì¸ ë°ì´í„° í•„í„°ë§
#   - copy()ë¥¼ ì¨ì£¼ëŠ” ê²ƒì´ ì˜³ë‹¤. ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì„ ìœ ì§€í•˜ê¸° ìœ„í•´ì„œì´ë‹¤.
target = df.loc[df.view_count != 0 ].copy()
target

# 2. ì¶”ì¶œí•œ ë°ì´í„° í”„ë ˆì„ targetì„ ê¸°ì¤€ìœ¼ë¡œ view_countëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ ì»¬ëŸ¼ ìƒì„±
target['view_vs_comment'] = target['comment_count'] / target['view_count']
target['view_vs_comment']

# 3. ì •ë ¬ í›„ ì˜ìƒ ì´ë¦„ ì¶œë ¥.
Ans = target.sort_values('view_vs_comment', ascending = False)['title'].iloc[0]
Ans

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

# Question 8.
- `ëŒ“ê¸€ì˜ ìˆ˜(comment_count)`ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. `view_count` ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (ë‹¨, `view_count`ì™€ `ratio`(`comment_count`ì™€ `view_count`ì˜ ë¹„ìœ¨ ê³„ì‚° ê²°ê³¼) ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤).

In [113]:
# 1. view_count ëŒ€ë¹„ comment_count ê³„ì‚° (ì´ì „ ë¬¸ì œì˜ `target`ë°ì´í„° í”„ë ˆì„ê³¼ `view_vs_comment` ì»¬ëŸ¼ í™œìš©).
# view_vs_commentì´ 0ì¸ ê²½ìš° ì œì™¸
target = target.loc[target['view_vs_comment'] != 0]
target.head()

# 2. view_vs_commentë¥¼ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬.
target = target.sort_values('view_vs_comment')

# 3. ì²« ë²ˆì§¸ í–‰ì˜ titleì„ ì¶œë ¥
Ans = target['title'].iloc[0]
Ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

# Question 9.
- `likes` ëŒ€ë¹„ `dislikes`ì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (ë‹¨, `likes`, `dislikes` ê°’ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤).

In [67]:
# 1. likeì™€ dislikeì˜ ê°’ì´ 0ì¸ ê²½ìš° ì œì™¸
target = df.loc[(df['likes'] != 0) & (df['dislikes'] != 0)].copy()
target.head()

# 2. likes ëŒ€ë¹„ dislikes ì»¬ëŸ¼ ìƒì„±
target['likes_vs_dislikes'] = target['dislikes'] / target['likes']

# 3. ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ í›„ ê°€ì¥ ì ì€ ì˜ìƒì˜ title ì¶”ì¶œ.
Ans = target.sort_values('likes_vs_dislikes').title.iloc[0]
Ans

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

# Question 10.
- ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨).

In [ ]:
# 1. channelIdë¥¼ indexë¡œí•˜ê³  channelTitleë¥¼ ëŒ€ìƒìœ¼ë¡œ value_counts()ë¥¼ í•œë‹¤.
target = df.groupby('channelId').size()
target = target.sort_values(ascending = False)
temp = target.index[0]

# 2. ì •ë ¬ì„ ì ìš©í•˜ê³  ê°’ì„ ì¶œë ¥í•œë‹¤.
Ans = df.loc[df['channelId'] == temp, 'channelTitle'].iloc[0]
Ans

# groupby().size(): ì—¬ëŸ¬ ì»¬ëŸ¼ì„ ë‹¤ë£° ë•Œ ìœ ìš©
#   - í˜„ì¬ ë¬¸ì œëŠ” channelIdë¡œ groupí•œ í›„ ê´€ë ¨ëœ channelTitleê¹Œì§€ ì°¸ì¡°í•´ì•¼ í•˜ê¸°ì— groupby().size()ê°€ ì í•©.
# value_counts(): ë‹¨ì¼ Seriesë¥¼ ëŒ€ìƒìœ¼ë¡œ í•œë‹¤.

'ì§¤íˆ°'

# Question 11.
- 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ˜ëŠ”?

In [ ]:
# 1. titleì„ ê¸°ì¤€ìœ¼ë¡œ ë¹ˆë„ìˆ˜ë¥¼ ê³„ì‚°í•˜ì—¬ target Seriesë¥¼ ìƒì„±.
# ** ì£¼ì˜ **
#   - ë§ˆë‹˜ì€ channelIdì™€ titleë¡œ í•„í„°ë§í•˜ì˜€ìœ¼ë‚˜ ë¬¸ì œ ì¡°ê±´ì´ 'ë™ì˜ìƒ'ë§Œì„ ëŒ€ìƒìœ¼ë¡œ í•˜ê¸°ì— channelIdë¥¼ ì œì™¸í•œ titleë§Œì„ ì‚¬ìš©í•˜ì˜€ë‹¤.
#   - channelIdë¥¼ í¬í•¨í•˜ëŠ” ê²½ìš° `groupby(['channelId', 'title'])`ë¡œ ì½”ë“œë¥¼ ë³€ê²½í•´ì£¼ë©´ ê°™ì€ ë‹µì„ ì–»ì„ ìˆ˜ ìˆë‹¤.
target = df.groupby('title').size()
target

# 2. ìƒì„±í•´ ë‘” target Seriesë¥¼ ê¸°ì¤€ìœ¼ë¡œ 20ì´ìƒì¸ í–‰ë“¤ë§Œ í•„í„°ë§.
#   - locì€ Seriesì—ë„ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.
Ans = target.loc[target >= 20]
len(Ans)

41

# Question 12.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [4]:
channel_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'
video_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv'

channel = pd.read_csv(channel_data)
video = pd.read_csv(video_data)

print('channel')
display(channel.head())
print('video')
display(video.head())

channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

# Question 13.
- ê° ë°ì´í„°ì˜ `ct`ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í•  ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³ , `video` ë°ì´í„°í”„ë ˆì„ì˜ `videoname`ì˜ ê° ë²”ì£¼ë§ˆë‹¤ ëª‡ ê°œì˜ ë°ì´í„°ì”©ì„ ê°–ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼.

In [5]:
# 1. ë‘ ë°ì´í„°í”„ë ˆì„ì˜ ct ì»¬ëŸ¼ì„ datetimeìœ¼ë¡œ ë³€í™˜
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
# print(channel['ct'].dtype)
# print(video['ct'].dtype)

# 2. video ë°ì´í„°í”„ë ˆì„ì˜ videoname ì»¬ëŸ¼ì˜ ë²”ì£¼ë³„ ë¹ˆë„ í™•ì¸.
Ans = video.groupby('videoname').size()
print(Ans)

videoname
ê³µë²” EP1    3492
ê³µë²” EP2    3204
ê³µë²” EP3    2568
ê³µë²” EP4    2280
ê³µë²” EP5    1562
ê³µë²” EP6    1274
ê³µë²” EP7     555
ê³µë²” EP8     266
dtype: int64

# Question 14.
- `video` ë°ì´í„°í”„ë ˆì„ì˜ `videoname`ì˜ ê°ë²”ì£¼ë³„ë¡œ `ìµœì‹  ë‚ ì§œ(ct)`ì˜ `viewcnt`ë¥¼ ì¶œë ¥í•˜ë¼.

In [6]:
# 1. ct(ë‚ ì§œ)ë¥¼ ìµœì‹  ë‚ ì§œë¡œ í•˜ê¸° ìœ„í•´ ìš°ì„  ì •ë ¬(ë‚´ë¦¼ì°¨ìˆœ)
#   -> videoname ë³„ë¡œ viewcntë¥¼ ì¶œë ¥í•´ì•¼í•˜ê¸°ì— groupby('videoname')
#   -> first(): groupby()í•¨ìˆ˜ì˜ ì§‘ê³„í•¨ìˆ˜ì´ë‹¤. ì§‘ê³„ í›„ì˜ `ì²« ë²ˆì§¸ í–‰`ì„ ë°˜í™˜í•œë‹¤.
#   -> reset_index(): ì‚¬ìš©í•˜ì§€ ì•Šì•„ë„ ë˜ëŠ”ë° ì´ë²ˆ ë¬¸ì œì—ì„œ groupby()ì— ì‚¬ìš©ëœ videoname ì»¬ëŸ¼ì„ indexë¡œ ì‚¬ìš©í•˜ì§€ ì•ŠëŠ” ê²ƒì„ í…ŒìŠ¤íŠ¸í•˜ê¸° ìœ„í•´ ì‚¬ìš©.
target = video.sort_values('ct', ascending = False).groupby(['videoname']).first().reset_index()

# 2. í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•´ì„œ ì¶œë ¥.
target[['viewcnt', 'videoname', 'ct']]

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

# Question 15.
- `channel` ë°ì´í„°í”„ë ˆì„ì˜ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ `êµ¬ë…ì ìˆ˜(subcnt)`ë¥¼ ì¶œë ¥í•˜ë¼.

In [7]:
# 1. ë‚ ì§œ ê¸°ì¤€ í•„í„°ë§í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±.
target = channel.loc[channel['ct'] >= '2021-10-03'].copy()
target

# 2. ì²˜ìŒ ê¸°ë¡ëœ ë‚ ì§œì´ê¸°ì— sort_values()í•¨ìˆ˜ì˜ ascending = Trueë¡œ ì„¤ì •í•œë‹¤.
#   - ascending = True: ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ê³¼ê±° ë‚ ì§œë¥¼ ì‹œì‘ìœ¼ë¡œ ì •ë ¬ë˜ê¸°ì— first()ë¡œ ê°€ì ¸ì˜¤ë©´ ì²« ë²ˆì§¸ í–‰ì´ `ì²˜ìŒ ê¸°ë¡ëœ êµ¬ë…ì ìˆ˜`ê°€ ëœë‹¤.
Ans = target.sort_values('ct').groupby(['channelid']).first().reset_index()
Ans[['channelname', 'subcnt']]

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
3       ë¦´í„ Lilpearl    10100
4               ì¡°ë‚˜ë‹¨   215000
5        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
6     Balming Tiger    54300
7               ê½ˆëšœë£¹  1330000
8   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
9        ì¸„ì •ChuJeong   322000
10    ê³½í† ë¦¬ kwak tori   471000

# Question 16.
- channel ë°ì´í„°í”„ë ˆì„ì˜ ê° ì±„ë„ì˜ 2021ë…„ 10ì›” 03ì¼ 3ì‹œì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¶€í„° 2021ë…„ 11ì›” 01ì¼ 15ì‹œì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ê¹Œì§€ì˜ êµ¬ë…ì ìˆ˜(subcnt)ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼.

In [8]:
# 1. í•„í„°ë§ì„ ìœ„í•œ ê¸°ì¤€ ìƒì„±
oct_time = '2021-10-03 03'
nov_time = '2021-11-01 15'

# 2. ë°ì´í„°í”„ë ˆì„ ìƒì„±
# dt.strftime(): ë‚ ì§œí˜•ì„ str í˜•ìœ¼ë¡œ í˜•ë³€í™˜í•˜ëŠ” í•¨ìˆ˜.
#   - ë‚ ì§œí˜•ì„ str í˜•ìœ¼ë¡œ í˜•ë³€í™˜í•˜ì—¬ oct_time ê·¸ë¦¬ê³  nov_timeê³¼ ë¹„êµí•˜ëŠ” ê²ƒ.
oct_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == oct_time]
nov_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == nov_time]

# 3. ë°ì´í„°í”„ë ˆì„ì„ í•©ì¹˜ê¸° ì „ subcntì˜ ëª…ì¹­ì„ ë³€ê²½(ì¦ê°€ìœ¨ì„ ê³„ì‚°í•  ë•Œ ì¤‘ë³µëœ ëª…ì¹­ì´ë©´ ì•ˆë˜ê¸° ë•Œë¬¸).
oct_df = oct_df.rename(columns = {'subcnt' : 'subcnt_oct'})
nov_df = nov_df.rename(columns = {'subcnt' : 'subcnt_nov'})

# 4. í•„í„°ë§í•œ ë‘ ë°ì´í„°í”„ë ˆì„ì„ channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ merge. 
# (ê° ì±„ë„ì— ëŒ€í•œ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ê¸° ë•Œë¬¸ì— channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤.)
# on = 'channelname': ì±„ë„ ë³„ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ êµ¬í•˜ê¸°ì— channelnameìœ¼ë¡œ ë³‘í•©í•œë‹¤. (ê·¸ë ‡ì§€ ì•Šìœ¼ë©´ channelname_xì™€ channelname_yë¡œ ë‘ ê°œì˜ ì»¬ëŸ¼ì´ ìƒì„±ëœë‹¤).
merged_df = pd.merge(oct_df, nov_df, on = 'channelname', how = 'inner')

# 5. ë³‘í•©ëœ ë°ì´í„°í”„ë ˆì„(merged_df)ì—ì„œ ì¦ê°€ìœ¨ì„ ìƒˆë¡œìš´ ì»¬ëŸ¼ìœ¼ë¡œ ìƒì„±
merged_df['growth_ratio'] = (merged_df['subcnt_nov'] - merged_df['subcnt_oct'])

# 6. ê²°ê³¼ ì¶œë ¥
Ans = merged_df[['channelname', 'growth_ratio']]
display(Ans)

        channelname  growth_ratio
0               ê½ˆëšœë£¹         70000
1             ì•¼ì „ì‚½ì§±ì¬         11000
2        ì¸„ì •ChuJeong          1000
3            ë…¼ë¦¬ì™• ì „ê¸°        -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle             0
5               ì¡°ë‚˜ë‹¨         12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          1540
8       ë¦´í„ Lilpearl         11000
9     ê³½í† ë¦¬ kwak tori         -2000
10    Balming Tiger          2500

# Question 17.
- ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ì ìˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš” ìˆ˜, ëŒ“ê¸€ ìˆ˜ê°€ ìˆ˜ì§‘ë˜ì—ˆë‹¤. `videoname`ì»¬ëŸ¼ì˜ `ê³µë²” EP1`ê°’ì˜ ë¹„ë””ì˜¤ ì •ë³´ ë°ì´í„° ì¤‘ ìˆ˜ì§‘ ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì¸ ë°ì´í„° êµ¬ê°„ (í•´ë‹¹ ì‹œì  ì „ê³¼ í›„)ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼.

In [9]:
# 1. videonameì´ ê³µë²” EP1ì¸ ë°ì´í„°ë§Œì„ í•„í„°ë§
# ë†€ëê²Œë„ ' ê³µë²” EP1'ë¡œ í•„í„°ë§í•´ì•¼ í•œë‹¤. (ë”°ë¼ì„œ str.strip()ì„ í†µí•´ ê¹”ë”í•˜ê²Œ í•„í„°ë§í•œë‹¤).
target = video.loc[video['videoname'].str.strip() == 'ê³µë²” EP1'].copy()

# 2. ë‚ ì§œ ê¸°ì¤€ìœ¼ë¡œ ì°¨ì´ë¥¼ ê³„ì‚°í•´ì•¼ í•˜ê¸° ë•Œë¬¸ì— ë‚ ì§œ ê¸°ì¤€ ì •ë ¬.
#   - reset_index(): í˜„ì¬ê¸°ì¤€ ì „ê³¼ í›„ì˜ í–‰ë„ í•„í„°ë§í•´ì•¼í•˜ê¸° ë•Œë¬¸ì— indexë¥¼ ì‚¬ìš©í•˜ëŠ” ê²½ìš° ë°œìƒ
#       -> ë”°ë¼ì„œ í˜„ì¬ ë¬¸ì œì—ì„œëŠ” sort í›„ indexë¥¼ ì¬ì •ë¦¬ í•´ ë‘˜ í•„ìš”ê°€ ìˆìŒ.
target = target.sort_values('ct').reset_index(drop = True)

# 3. ì¶”ì¶œí•œ ë°ì´í„°í”„ë ˆì„ targetì—ì„œ ì‹œê°„ ì°¨ì´ë¥¼ ê³„ì‚°í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±.
#   - dt.total_seconds(): datetimeì˜ ì°¨ì´ë¥¼ ì´ˆ ë‹¨ìœ„ë¡œ ë³€í™˜í•´ ì¤€ë‹¤.
'''
< datetimeì˜ ìë£Œí˜• >
1. ì¼ë°˜ datetime
    - ì¼ë°˜ datetimeì˜ ìë£Œí˜•ì€ datetime.datetimeì´ë‹¤.
2. datetime ë¼ë¦¬ì˜ ì°¨ì´
    - datetimeìœ¼ë¡œ ê³„ì‚°í•œ datetimeì˜ ì°¨ì´ëŠ” ìë£Œí˜•ì´ datetime.timedeltaì´ë‹¤.

** ê²°ë¡  **
- dt.total_seconds()ëŠ” ì •í™•íˆëŠ” datetimeì˜ ì°¨ì´ë¥¼ ì´ˆë‹¨ìœ„ë¡œ ë³€í™˜í•´ ì£¼ê¸°ì— datetime.timedeltaì— ì ìš©ë˜ëŠ” í•¨ìˆ˜ì´ë‹¤.
'''
target['time_diff'] = target['ct'].diff().dt.total_seconds() / 60

# 4. 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì— ì†í•˜ëŠ” ë°ì´í„°ì˜ indexë¥¼ í•„í„°ë§í•˜ì—¬ idx ì¶”ì¶œ
#   - indexë¥¼ í•„í„°ë§í•˜ëŠ” ì´ìœ ëŠ” ì „ê³¼ í›„ì˜ ë°ì´í„°ë„ ì¶”ì¶œí•´ì•¼í•˜ê¸° ë•Œë¬¸ì— ìœ„ì¹˜ê¸°ë°˜ ì¶”ì¶œ(iloc)ì„ í•´ì•¼í•œë‹¤.
#   - (ì •í™•íˆëŠ” ì •ìˆ˜í˜• í•„í„°ë§ì€ locë„ ê°€ëŠ¥í•˜ì§€ë§Œ indexë¥¼ ì‚¬ìš©í•˜ë‹ˆ ilocì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ í˜•ì‹ìƒ ë§ë‹¤ ì´í•´í•˜ë©´ ëœë‹¤.)
#   - ì´ë•Œ idxëŠ” `.index`ë¡œ í•„í„°ë§ëœ index ê°ì²´ì´ë‹¤. (Series ì•„ë‹˜).
idx = target.loc[(target['time_diff'] <= 5) | (target['time_diff'] >= 20)].index
display('< idx í•„í„°ë§ ê²°ê³¼ >', idx)

# 5. ì¶”ì¶œí•œ indexë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì „ê³¼ í›„ì˜ indexë¥¼ í•„í„°ë§
#   - target_idx ë˜í•œ idxë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì¶”ì¶œëœ index ê°ì²´ì´ë‹¤. (Series ì•„ë‹˜).
target_idx = idx.union(idx - 1).union(idx + 1)
display('< target_idx í•„í„°ë§ ê²°ê³¼ >', target_idx)

# 6. ì¶”ì¶œí•œ index ì¤‘ ë²”ìœ„ ê¸°ì¤€(0ê³¼ len(target) ì‚¬ì´)ì„ ë§Œì¡±í•˜ëŠ” indexë§Œ í•„í„°ë§
target_idx = target_idx[(target_idx >= 0) & (target_idx < len(target))]

# 7. ê²°ê³¼ ì¶œë ¥
#   - êµ³ì´ target_idxë¥¼ ì •ë ¬í•´ ì¤„ í•„ìš”ëŠ” ì—†ë‹¤. ê·¸ëŸ¼ì—ë„ í•œ ì´ìœ ëŠ” ë‚ ì§œ(ct)ë¡œ ì •ë ¬ë˜ì–´ ë³´ê¸°ì— í•˜ê¸° ìœ„í•¨ì´ë‹¤.
Ans = target.iloc[target_idx.sort_values()]
Ans

'< idx í•„í„°ë§ ê²°ê³¼ >'

Index([721, 722, 1636], dtype='int64')

'< target_idx í•„í„°ë§ ê²°ê³¼ >'

Index([720, 721, 722, 723, 1635, 1636, 1637], dtype='int64')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_diff
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1,10.016667
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,861.566667
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,0.000000
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1,8.433333
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1,10.000000
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1,30.016667
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1,10.000000

# Question 18.
- video ë°ì´í„°í”„ë ˆì„ì˜ ê° videonameì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼.

In [25]:
# 1. video ë°ì´í„°í”„ë ˆì„ì˜ ct ì»¬ëŸ¼ì—ì„œ ë‚ ì§œë§Œ ì¶”ì¶œ. `ë…„-ì›”-ì¼`` í˜•ì‹ì„ ë§ì¶”ê¸° ìœ„í•´.
video['date'] = video['ct'].dt.date

# 2. videonameìœ¼ë¡œ ê·¸ë£¹í™”
#   -> 'date'ì»¬ëŸ¼ë§Œì„ í•„í„°ë§
#   -> min(): ê°€ì¥ ìµœì‹  ë‚ ì§œë¥¼ ê°€ì ¸ì˜¤ê¸° ìœ„í•¨.
#   -> reset_index(): DataFrame í˜•íƒœë¡œ ë³´ê¸° í¸í•˜ê²Œ í•˜ê¸° ìœ„í•´ ì‚¬ìš©. 
Ans = video.groupby('videoname')['date'].min().reset_index()
Ans

  videoname        date
0    ê³µë²” EP1  2021-10-07
1    ê³µë²” EP2  2021-10-09
2    ê³µë²” EP3  2021-10-14
3    ê³µë²” EP4  2021-10-16
4    ê³µë²” EP5  2021-10-21
5    ê³µë²” EP6  2021-10-23
6    ê³µë²” EP7  2021-10-28
7    ê³µë²” EP8  2021-10-30

# Question 19.
- video ë°ì´í„°í”„ë ˆì„ì˜ `ê³µë²”` ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ” ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ ìˆë‹¤. ê³µë²” ì»¨í…ì¸ (videoname ì»¬ëŸ¼)ë³„ë¡œ ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, ê·¸ë¦¬ê³  videonameìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„°í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ê³ , viewcntê°€ ê°€ì¥ í° ë°ì´í„°ë¥¼ ì¶œë ¥í•˜ë¼.

In [48]:
# 1.19:00 ì‹œì™€ 21 ì‹œ ë“± ì‹œê°„ì„ ì²˜ë¦¬ì™€ ë‚ ì§œë¥¼ ì¶œë ¥í•˜ê¸° ìœ„í•´ íŒŒìƒë³€ìˆ˜ë¥¼ ìƒì„±í•œë‹¤.
# ì‹œê°„
video['hour'] = video['ct'].dt.hour
# ë‚ ì§œ
video['date'] = video['ct'].dt.date

# 2. 19:00 ì‹œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê³µê°œëœ ë‚ ì§œ í•„í„°ë§
#   - ë¶„ë‹¨ìœ„ ì´í•˜ë¥¼ ìƒëµí•˜ëŠ” ì´ìœ ëŠ” ì´ˆë‹¨ìœ„ ë¹„êµì—°ì‚°ì—ì„œëŠ” ì—ëŸ¬ê°€ ìƒê¸¸ ìˆ˜ ìˆê¸° ë•Œë¬¸ì´ë‹¤. (ë¶€ë™ì†Œìˆ˜ì ê³¼ ìœ ì‚¬).
#   - unique(): ë‚ ì§œë§Œ ì¶”ì¶œí•˜ë©´ ë˜ê¸°ì— í•„ìš”ì—†ëŠ” ì¤‘ë³µì„ ì œê±°í•œë‹¤.
release_dates = video.loc[video['hour'] == 19, 'date'].unique()

# 3. video ë°ì´í„°í”„ë ˆì„ì—ì„œ release_datesì™€ 21ì‹œì— í•´ë‹¹í•˜ëŠ” í–‰ë§Œì„ í•„í„°ë§.
target = video.loc[(video['date'].isin(release_dates)) & (video['hour'] == 21)]

# 4. ì •ë‹µ
#   - sort_values(): viewcntë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ ì¡°ê±´ì„ ë§Œì¡±í•˜ê¸° ìœ„í•´ ì„¤ì •.
#   - groupby(): ê³µë²” ì»¨í…ì¸ ë³„ë¡œ ì¶œë ¥í•˜ê¸° ìœ„í•´ ì„¤ì •.
#   - first(): viewcntê°€ ê°€ì¥ í° ë°ì´í„°ë¥¼ ì¶œë ¥í•˜ê¸° ìœ„í•´ ì‚¬ìš©.
Ans = target[['viewcnt', 'ct', 'videoname']].sort_values(by = 'viewcnt', ascending = False).groupby('videoname', as_index = False).first()
Ans

  videoname  viewcnt                  ct
0    ê³µë²” EP1  3161641 2021-10-31 21:50:02
1    ê³µë²” EP2  2185062 2021-10-31 21:50:02
2    ê³µë²” EP3  1658039 2021-10-31 21:50:03
3    ê³µë²” EP4  1804957 2021-10-31 21:50:03
4    ê³µë²” EP5  1488913 2021-10-31 21:50:03
5    ê³µë²” EP6  1730661 2021-10-31 21:50:04
6    ê³µë²” EP7  1594029 2021-10-31 21:50:04
7    ê³µë²” EP8  1170183 2021-10-31 21:50:04

# Question 20.
- video ë°ì´í„°í”„ë ˆì„ì—ì„œ videoname ë³„ë¡œ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê³ , ê° ì—í”¼ì†Œë“œì˜ `ì‹«ì–´ìš”ì˜ ìˆ˜/ì¢‹ì•„ìš”ì˜ ìˆ˜` ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ì–´ë¼. ê·¸ í›„ videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„°í”„ë ˆì„ì„ ratioë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼.

In [57]:
# 1. ìš°ì„  ìµœê·¼ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê¸° ìœ„í•´ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬.
target = video.sort_values('ct', ascending = False)
target

# 2. ê°€ì¥ ìµœê·¼ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê¸° ìœ„í•´ groupby() ì‚¬ìš©.
target = target.groupby('videoname').first().reset_index()
target

# 3. ratio ì»¬ëŸ¼ ìƒì„±
target['ratio'] = target['dislikecnt'] / target['likecnt']

# 4. videonameê³¼ ratioì»¬ëŸ¼ë§Œì„ í•„í„°ë§
Ans = target[['videoname', 'ratio']]

# 5. ratio ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
Ans = Ans.sort_values('ratio', ascending = True)
Ans

  videoname     ratio
6    ê³µë²” EP7  0.013636
5    ê³µë²” EP6  0.015881
3    ê³µë²” EP4  0.017971
4    ê³µë²” EP5  0.021128
2    ê³µë²” EP3  0.022360
0    ê³µë²” EP1  0.027118
1    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

# Question 21.
- video ë°ì´í„°í”„ë ˆì„ì˜ 2021-11-01 00:00:00 ~ 15:00:00 ì‚¬ì´ì˜ ê° ì—í”¼ì†Œë“œ(videoname)ë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤.

In [94]:
# 1. 2021-11-01 00:00:00 ~ 15:00:00ì˜ ë°ì´í„°ë¥¼ í•„í„°ë§
#   - ë²”ìœ„ë¡œ í•„í„°ë§: `==` ì—°ì‚°ìë¥¼ í†µí•œ ë¹„êµëŠ” `ì´ˆë‹¨ìœ„` ë¹„êµì—ì„œ ë¬¸ì œê°€ ë°œìƒí•˜ê¸°ì— ë²”ìœ„ë¡œ í•„í„°ë§í•˜ì—¬ ì²˜ë¦¬í•˜ëŠ” ê²ƒì´ ì¢‹ë‹¤.
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

# ê¸°ê°„ í•„í„°ë§
target = video.loc[(video['ct'] >= start) & (video['ct'] <= end)].reset_index(drop = True)

# 2. ë§ˆì§€ë§‰ ë‚ ì§œì™€ ì²« ë‚ ì§œë¥¼ ì¶”ì¶œí•˜ê¸° ìœ„í•´ ë‚ ì§œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
target = target.sort_values(['videoname', 'ct'], ascending= True)

# 3. ì‹œì‘ ì‹œê°„ëŒ€ì˜ viewcntì™€ ë ì‹œê°„ëŒ€ì˜ viewcnrë¥¼ ì¶œë ¥
#   - ì˜¤ë¦„ì°¨ìˆœ: ê°€ì¥ ê³¼ê±° ë°ì´í„°ê°€ ì²« ë²ˆì§¸ë¡œ ì˜¨ë‹¤.
start_view = target.groupby('videoname').first()
end_view = target.groupby('videoname').last()

# 4. ì°¨ì´ë¥¼ ê³„ì‚°í•œ ì‹œë¦¬ì¦ˆ ìƒì„±
Ans = end_view['viewcnt'] - start_view['viewcnt']

# 5. index(viewname)ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±. (ë‹µì˜ í˜•ì‹ì„ ë§ì¶”ê¸° ìœ„í•´).
#   - to_frame(name = ): ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê¸° ë•Œë¬¸ì— ì»¬ëŸ¼ëª…ì„ ì£¼ì–´ì•¼ í•œë‹¤.
Ans = Ans.to_frame(name = 'viewcnt')
Ans

           viewcnt
videoname
ê³µë²” EP1       13298
ê³µë²” EP2       10300
ê³µë²” EP3        9927
ê³µë²” EP4        9824
ê³µë²” EP5       10824
ê³µë²” EP6       14141
ê³µë²” EP7       26949
ê³µë²” EP8       89147

# Question 22.
- video ë°ì´í„°í”„ë ˆì„ì—ëŠ” ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ë‚ ì§œ(ct)ì™€ ì—í”¼ì†Œë“œ(videoname)ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì¤‘ë³µëœ í–‰ì„ ì¶œë ¥í•˜ë˜ ì¤‘ë³µí–‰ì¤‘ ê°€ì¥ ë§ˆì§€ë§‰ í–‰ì„ ì¶œë ¥í•˜ë¼.

In [ ]:
'''
< dublicated() í•¨ìˆ˜ ì¸ì >
1. subset
    - ì¤‘ë³µ ê¸°ì¤€ì´ ë˜ëŠ” ì»¬ëŸ¼ë“¤ì„ ì§€ì •í•œë‹¤.
    - ì˜ˆ: ['ct', 'videoname']ì€ 'ct'ì™€ 'videoname'ì´ ì¤‘ë³µì¸ í–‰ë“¤ë§Œ í•„í„°ë§í•œë‹¤.
    
2. keep
    - False: ì¤‘ë³µë˜ëŠ” ëª¨ë“  í–‰ì„ Trueë¡œ í•œë‹¤.
    - first: ê° ì¤‘ë³µë˜ëŠ” í–‰ ì¤‘ ì²« ë²ˆì§¸ ì¤‘ë³µ í–‰ë§Œì„ Falseë¡œ í•œë‹¤. (ë‚˜ë¨¸ì§€ ì¤‘ë³µ í–‰ì€ ëª¨ë‘ True).
    - last: ê° ì¤‘ë³µë˜ëŠ” í–‰ ì¤‘ ë§ˆì§€ë§‰ ì¤‘ë³µ í–‰ë§Œì„ Falseë¡œ í•œë‹¤. (ë‚˜ë¨¸ì§€ ì¤‘ë³µ í–‰ì€ ëª¨ë‘ True).
'''

# 1. ìš°ì„  ëª¨ë“  ì¤‘ë³µ í–‰ì„ í•„í„°ë§.
all_dup = video.loc[video.duplicated(subset=['ct', 'videoname'], keep = False)].copy()

# 2. all_dupì—ì„œ `keep = 'last'`ë¥¼ í†µí•´ ë§ˆì§€ë§‰ ì¤‘ë³µ í–‰ë§Œì„ Falseë¡œ ë§Œë“¤ê³  locì„ í†µí•´ Falseì¸ í–‰ë§Œ ì¶”ì¶œ.
Ans = all_dup.loc[all_dup.duplicated(subset = ['ct', 'videoname'], keep = 'last') == False]
Ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date,hour
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,2021-10-13,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,ê³µë²” EP2,2021-10-13,9

# Question 23.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [3]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv'
df = pd.read_csv(data)

df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [ ]:
Ans = df.loc[df.duplicated('Player', keep = False)].sort_values('Player')
Ans

           Player  Goals      Years  Country
460    Goikoetxea      2       1994    Spain
1132   Goikoetxea      1       1986    Spain
839   Jozsef Toth      1       1954  Hungary
840   Jozsef Toth      1  1978-1982  Hungary
1137      Juanito      1  1978-1982    Spain
1138      Juanito      1       2006    Spain
599        Junior      1  1982-1986   Brazil
600        Junior      1       2002   Brazil

# Question 24.
- ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼.

In [4]:
# 1. ë‚˜ë¼ë³„(groupby) ê³¨ ìˆ˜ë¥¼ í•©ê³„(sum)ë¡œ í•˜ì—¬ ì§‘ê³„ í›„ ê³¨ ìˆ˜ëŒ€ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬(sort_values())
Ans = df.groupby('Country').sum('Goals').sort_values('Goals', ascending = False).reset_index()

# 2. ìƒìœ„ ë‹¤ì„¯ ê°œì˜ í–‰ë§Œì„ í•„í„°ë§.
Ans.head(5)

     Country  Goals
0     Brazil    228
1    Germany    226
2  Argentina    135
3      Italy    123
4     France    115

# Question 25.
- ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼.
- (ë§ˆë‹˜ í’€ì´ì˜ ê²½ìš° groupby().size()ë¥¼ ì‚¬ìš©í•˜ì…¨ëŠ”ë° ì¤‘ë³µëœ ì„ ìˆ˜ëª…ì´ ìˆëŠ” ê²½ìš°ê°€ í¬í•¨ë˜ì–´ í˜„ì¬ í’€ì´ì™€ ê²°ê³¼ê°€ ì¡°ê¸ˆ ë‹¤ë¥´ë‹¤).

In [17]:
# 1. Countryë¡œ groupbyí•˜ê³ , ì„ ìˆ˜ë“¤ì— ëŒ€í•´ nunique()ë¡œ ì´ ë²”ì£¼ì˜ ì¢…ë¥˜ë¥¼ count
#   - nunique()ëŠ” ë²”ì£¼ì˜ ì¢…ë¥˜ì˜ ìˆ˜ë¥¼ ì¹´ìš´íŠ¸í•˜ë©° ì¤‘ë³µì„ í¬í•¨í•˜ì§€ ì•ŠëŠ”ë‹¤. ë”°ë¼ì„œ ë§ˆë‹˜ì˜ ì •ë‹µê³¼ëŠ” ì¡°ê¸ˆ ë‹¤ë¥¸ ë‹µì´ ì¶œë ¥ëœë‹¤.
#       -> í˜„ì¬ ê³ ìœ í•˜ê²Œ ì„ ìˆ˜ë¥¼ ì‹ë³„í•  ìˆ˜ ìˆëŠ” ì»¬ëŸ¼ì´ ì—†ë‹¤ ìƒê°í•˜ê¸°ì— nunique()ë¥¼ ê·¸ëŒ€ë¡œ ì‚¬ìš©.
Ans = df.groupby('Country').nunique('Player')

# 2. ìƒìœ„ ë‹¤ì„¯ ê°±ì˜ êµ­ê°€ë¥¼ ì¶œë ¥í•˜ê¸° ìœ„í•´ Playerë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬.
Ans = Ans.sort_values('Player', ascending = False)
Ans

# 3. ì •ë‹µ ì¶œë ¥
Ans['Player'].head()

Country
Brazil       80
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

# Quesetion 26.
- Years ì»¬ëŸ¼ì€ `ë…„ë„-ë…„ë„` í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ˜ì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ˜ê°€ ì•„ë‹Œ ê²½ìš°ê°€ ì¡´ì¬í•˜ë©° í•´ë‹¹ ì¼€ì´ìŠ¤ëŠ” ëª‡ ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼.

In [ ]:
# 1. '-'ì„ ê¸°ì¤€ìœ¼ë¡œ Years ì»¬ëŸ¼ì„ ë¶„ë¦¬í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì„ ë°˜í™˜í•œë‹¤.
#   - expand = True: ë¬¸ìì—´ ë¶„ë¦¬ ê²°ê³¼ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ë‚˜ëˆˆ ìƒˆë¡œìš´ DataFrameì„ ë°˜í™˜í•œë‹¤.
year_split = df['Years'].str.split('-', expand = True)
# display(year_split)

# 2. ê° ì…€ë³„ë¡œ ê¸¸ì´ê°€ 1) NULLì´ ì•„ë‹ˆê³ , 2) ë¬¸ìì—´ì˜ ê¸¸ì´ê°€ 4ê°€ ì•„ë‹ˆë¼ë©´ `Trueë¥¼ í• ë‹¹í•œë‹¤`.
mask = year_split.apply(
    lambda col : col.map( # ì²« ë²ˆì§¸ lambda ì‹ì€ year_splitì˜ ê° ì»¬ëŸ¼ë³„ë¡œ ì ìš©ëœë‹¤. (DataFrameì´ê¸° ë•Œë¬¸).
        lambda x : len(str(x)) != 4 # ë‘ ë²ˆì§¸ lambda ì‹ì€ col(ì¦‰, Serise)ì— ì ìš©ë˜ê¸°ì— ê° ì…€ì„ ëŒ€ìƒìœ¼ë¡œ ì ìš©ëœë‹¤.
            if pd.notnull(x) # NULLì´ ì•„ë‹Œ ê²½ìš°ì—ë§Œ `x : len(str(x)) != 4`ê°€ ìˆ˜í–‰ë˜ë©° `ê¸¸ì´ê°€ 4ê°€ ì•„ë‹ˆë¼ë©´ True`ë¥¼ ë°˜í™˜í•œë‹¤. (ê¸¸ì´ê°€ 4ì¸ê²½ìš°ê°€ Falseì„ì„ ì£¼ì˜).
            else False) # NULLì´ë¼ë©´ Falseë¥¼ ë°˜í™˜í•œë‹¤.
    ) # ì¦‰, NULLì¸ ê²½ìš°ì™€ ê¸¸ì´ê°€ 4ì¸ ê²½ìš°ë§Œ Falseê°€ ë˜ê³ , ê¸¸ì´ê°€ 4ê°€ ì•„ë‹Œ ê²½ìš°ë§Œ Trueê°€ ëœë‹¤.
# display(mask)

# 3. ìƒì„±ëœ maskë¥¼ í–‰ë‹¨ìœ„ë¡œ ì ì–´ë„ í•˜ë‚˜ì˜ ê¸¸ì´ê°€ 4ê°€ ì•„ë‹Œ ì…€(Trueì¸ ì…€)ì´ ìˆë‚˜ í™•ì¸í•˜ê³  í•©ì‚°
#   - any: ì ì–´ë„ í•˜ë‚˜ê°€ Trueë¼ë©´ Trueë¥¼ ë°˜í™˜
#   - any.(axis = 1): ê° í–‰ë³„ë¡œ ì ì–´ë„ í•˜ë‚˜ì˜ ì…€ì´ Trueë¼ë©´ Trueë¥¼ ë°˜í™˜.
#   - sum(): ê° í–‰ë³„ë¡œ True í˜¹ì€ Falseê°€ ë°˜í™˜ ëìœ¼ë‹ˆ ëª¨ë‘ ë”í•˜ë©´(Trueë¥¼ ëª¨ë‘ ë”í•¨ = 4ê°€ ì•„ë‹Œ ì…€ì„ ëª¨ë‘ ë”í•¨) ê¸¸ì´ê°€ 4ê°€ ì•„ë‹Œ í–‰ë“¤ì˜ ìˆ˜ë¥¼ ë°˜í™˜ë°›ì„ ìˆ˜ ìˆë‹¤.
Ans = mask.any(axis = 1).sum()
print(Ans)

45

In [ ]:
# 1. í•˜ì´í”ˆ ê¸°ì¤€ ë¶„ë¦¬
year_split = df['Years'].str.split('-', expand=True)

# 2. ê° ì…€ì˜ ê¸¸ì´ê°€ 4ê°€ ì•„ë‹Œì§€ ì²´í¬ (ê¶Œì¥ ë°©ì‹)
invalid_mask = year_split.apply(lambda col: col.map(lambda x: len(str(x)) != 4 if pd.notnull(x) else False))

# 3. í•˜ë‚˜ë¼ë„ 4ìë¦¬ê°€ ì•„ë‹Œ ê°’ì´ ìˆëŠ” í–‰ ì°¾ê¸°
rows_with_invalid_year = invalid_mask.any(axis=1)

# 4. ê°œìˆ˜ ì¶œë ¥
invalid_count = rows_with_invalid_year.sum()
print(invalid_count)

45