# 필요한 패키지 로드

In [2]:
import pandas as pd

# Question 1.
- 데이터를 로드하라.

In [10]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(data, index_col = 0)
display(df.head(10))
display(df.info())

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
5,"(EN/CN/ID) 월드스타 한 분 더 모셨습니다. 비x박진영 & 싸이, 비주얼 가...",시즌비시즌 Season B Season,24,1274464,26660,368,2701,UCZf4ZESHAIuRtZ-eoMSL97A,2021-01-01
6,[미스트롯2] 많은 참가자가 라이벌로 뽑은 명실상부 트롯 천재! 전유진이 부르는 '...,TV CHOSUN JOY,24,682608,7435,434,1943,UCYeeEwH_s9yD9HQe4e2JuBw,2021-01-01
7,[아이유의 팔레트] 팔레트에 '있지' (With ITZY) Ep.4,이지금 [IU Official],24,2420537,200301,956,14641,UC3SyT4_WLHzN7JmHQwKQZww,2021-01-01
8,답답한 집콕.. 2020년은 예능으로 존버(존중하며 버팀)했다 MBC 연예대상 하이...,14F 일사에프,26,1001581,9462,337,1684,UCLKuglhGlMmDteQKoniENIQ,2021-01-01
9,나 숙취 있어! 알딸딸해! 필름 끊겼어를 영어로 어떻게 할까요?,Sarah Kim,27,1358098,8224,820,1406,UCMXFwld5hCpMc2-49cndljA,2021-01-01

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

None

# Question 2.
- 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라.

In [ ]:
# 1. channelId를 기준으로 빈도수를 계산, 상위 10개의 channelId를 가져온다. (후에 채널명에 매핑하기 위해).
#   - value_counts() 함수는 내림차순 정렬을 해주기에 바로 head()를 통해 상위 10개를 추출할 수 있다.
#   - index: value_counts() 함수를 사용하면 'index = channelId', 'value = 빈도수' 가 되기에 상위 10개의 Id를 가져오기위해 사용한다.
#   - tolist(): index를 사용하면 index 자료형으로 결과가 출력되기에 list type으로 변환한다.s
top10_channel_ids = df['channelId'].value_counts().head(10).index.tolist()
top10_channel_ids

['UCszFjh7CEfwDb7UUGb4RzCQ',
 'UCtm_QoN2SIxwCE-59shX7Qg',
 'UClzB2iZ5jPoTNz0S-QU6Wiw',
 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
 'UCiwQRG2sCcfjKkgxMEdJGPg',
 'UChbE5OZQ6dRHECsX0tEPEZQ',
 'UCLkAepWjdylmXSltofFvsYQ',
 'UCQ2O-iftmnlfrBuNsUUTofQ',
 'UCtfriFvIe5gIe8wRWb8UTMg',
 'UCRuSxVu4iqTK5kCh90ntAgA']

In [20]:
# 2. channelID에 channelTitle을 매핑
#   -> channelId에서 중복되는 범주를 제거한다.
#   -> set_index('channelId')
#       - channelId를 새로운 index로 하여 데이터프레임을 반환한다.
#       - * 주의 *: set_index() 함수는 기존 데이터프레임을 변환하는 것이 아니라 변환된 데이터프레임을 return 한다.
#   -> ['channelTitle']
#       - channelId가 index가 된 새로운 데이터프레임에서 channelTitle 컬럼만을 필터링한다.
#   -> 결과적으로 channelId와 channelTitle 두 컬럼을 갖는 데이터프레임 `id_to_title` 객체를 초기화한다.
id_to_title = df.drop_duplicates('channelId').set_index('channelId')['channelTitle']
id_to_title

channelId
UChbE5OZQ6dRHECsX0tEPEZQ                        장삐쭈
UCxXgIeE5hxWxHG6dz9Scg2w    RAIN's Official Channel
UCZUPZW5idAxYp-Asj__lVAA                서울시 · Seoul
UCT3CumbFIJiW33uq0UI3zlg               고기남자 MeatMan
UCdWgRSfttvDucq4ApcCg5Mw                      스브스밥집
                                     ...
UCsiuN8Jco3LbbuTyGuqRgKg                        멸치형
UCRnEWJKVc5FpC-9Z3CBt2ZQ            키키TV, 전지적 예능 시점
UCkMN06eC97XL1qR1bExdwWg                      기용이tv
UCp9G3sWsE42Qo9jgnB1ta2Q         INSSAOPPA G [인싸오빠]
UCRCK5FCJtomQT3b88jXI_DA                한국닌텐도 공식 채널
Name: channelTitle, Length: 1770, dtype: object

In [21]:
# 3. id_to_title 이전에 추출한 상위 10 개의 목록인 top10_channel_ids의 각 요소를 순회하며 매칭되는 값을 결과로 받는다.
Ans = [id_to_title[ch_id] for ch_id in top10_channel_ids]
Ans

['짤툰',
 'SPOTV',
 '파뿌리',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 '장삐쭈',
 'BANGTANTV',
 '채널 십오야',
 '이과장',
 '총몇명']

# Question 3.
- 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes 수가 likes 수보다 높은 동영상을 제작한 채널을 모두 출력하라.

In [ ]:
# loc을 통한 행 조건 필터링.
target = list(df.loc[df.dislikes > df.likes].channelTitle.unique())
target

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

# Question 4.
- 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한 번이라도 바꾼 채널의 갯수를 구하여라.

In [ ]:
# 1. channelId를 기준으로 groupby한 뒤 chnnelTItle 컬럼만을 추출한다.
#   -> nunique(): 고유한 범주의 종류의 수를 추출한다. (현재는 channelId 별 channelTitle의 수를 반환).
'''
< nunique() >
- pandas의 함수로 몇 개의 서로 다른 범주(범주의 종류)가 있는지 출력한다.
- 현재 문제에서는 channelId 별로 몇 개의 서로다른 channelTitle이 있는지 출력한다.
- 사용 예
    - Series.nunique()
    - DataFrame.nunique()
''' 
title_counts = df.groupby('channelId')['channelTitle'].nunique() # title_counts는 Series이다.
title_counts

# 2. 고유한 범주 종류의 수(title_counts)가 2 이상인 경우만 필터링 한다.
#   - title_counts는 Series이기에 조건에 맞는 경우를 필터링하면 `index(channelId)`와 `channelId별 해당되는 channelTitle의 수'를 출력한다.
#   - len()을 통해 총 개수를 반환.
Ans = title_counts[title_counts > 1]
len(Ans)

71

# Question 5.
- 일요일에 인기있었던 영상들 중 가장 많은 종류(categoryId)는 무엇인가?

In [ ]:
# 1. 요일을 다루기 위해 trending_date2를 datetime 형으로 변환
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

# 2. datetime으로 형변환된 trending_date2컬럼을 dt.day_name()함수를 통해 요일로 변환하고, Sunday와 일치하는 행만을 필터링.
#   -> categoryId의 빈도수를 계산.
#   -> index[0]을 통해 첫 번째 행 값을 반환 (value_counts()로 인해 index가 categoryId기이 때문).
Ans = df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(Ans)

24

# Question 6.
- 각 요일별 인기 영상들의 categoryId는 각각 몇 개씩인지 하나의 데이터프레임으로 표현하라.

In [52]:
# 1. 요일별 집계이기에 일단 날짜를 요일별로 매핑한 컬럼을 생성한다.
df['weekday'] = pd.to_datetime(df['trending_date2']).dt.day_name()

# 2. categoryId 별로 weekday을 매핑하고, 각 요일의 빈도수를 측정함.
#   -> unstack(): 요일을 unstack하여 컬럼으로 사용함.
Ans = df.groupby(['categoryId', 'weekday']).size().unstack()
print(Ans)

weekday     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

# Question 7. 
- 댓글의 수(comment_count)로 영상 반응에 대한 판단을 할 수 있다. view_count 대비 댓글 수가 가장 높은 영상을 확인하라. (view_count 값이 0인 경우는 제외).

In [110]:
# 1. view_count != 0인 데이터 필터링
#   - copy()를 써주는 것이 옳다. 원본 데이터프레임을 유지하기 위해서이다.
target = df.loc[df.view_count != 0 ].copy()
target

# 2. 추출한 데이터 프레임 target을 기준으로 view_count대비 댓글 수 컬럼 생성
target['view_vs_comment'] = target['comment_count'] / target['view_count']
target['view_vs_comment']

# 3. 정렬 후 영상 이름 출력.
Ans = target.sort_values('view_vs_comment', ascending = False)['title'].iloc[0]
Ans

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

# Question 8.
- `댓글의 수(comment_count)`로 영상 반응에 대한 판단을 할 수 있다. `view_count` 대비 댓글 수가 가장 적은 영상을 확인하라 (단, `view_count`와 `ratio`(`comment_count`와 `view_count`의 비율 계산 결과) 값이 0인 경우는 제외한다).

In [113]:
# 1. view_count 대비 comment_count 계산 (이전 문제의 `target`데이터 프레임과 `view_vs_comment` 컬럼 활용).
# view_vs_comment이 0인 경우 제외
target = target.loc[target['view_vs_comment'] != 0]
target.head()

# 2. view_vs_comment를 오름차순 정렬.
target = target.sort_values('view_vs_comment')

# 3. 첫 번째 행의 title을 출력
Ans = target['title'].iloc[0]
Ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

# Question 9.
- `likes` 대비 `dislikes`의 수가 가장 적은 영상은 무엇인가? (단, `likes`, `dislikes` 값 0인 경우는 제외한다).

In [67]:
# 1. like와 dislike의 값이 0인 경우 제외
target = df.loc[(df['likes'] != 0) & (df['dislikes'] != 0)].copy()
target.head()

# 2. likes 대비 dislikes 컬럼 생성
target['likes_vs_dislikes'] = target['dislikes'] / target['likes']

# 3. 오름차순 정렬 후 가장 적은 영상의 title 추출.
Ans = target.sort_values('likes_vs_dislikes').title.iloc[0]
Ans

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

# Question 10.
- 가장 많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함).

In [ ]:
# 1. channelId를 index로하고 channelTitle를 대상으로 value_counts()를 한다.
target = df.groupby('channelId').size()
target = target.sort_values(ascending = False)
temp = target.index[0]

# 2. 정렬을 적용하고 값을 출력한다.
Ans = df.loc[df['channelId'] == temp, 'channelTitle'].iloc[0]
Ans

# groupby().size(): 여러 컬럼을 다룰 때 유용
#   - 현재 문제는 channelId로 group한 후 관련된 channelTitle까지 참조해야 하기에 groupby().size()가 적합.
# value_counts(): 단일 Series를 대상으로 한다.

'짤툰'

# Question 11.
- 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 수는?

In [ ]:
# 1. title을 기준으로 빈도수를 계산하여 target Series를 생성.
# ** 주의 **
#   - 마님은 channelId와 title로 필터링하였으나 문제 조건이 '동영상'만을 대상으로 하기에 channelId를 제외한 title만을 사용하였다.
#   - channelId를 포함하는 경우 `groupby(['channelId', 'title'])`로 코드를 변경해주면 같은 답을 얻을 수 있다.
target = df.groupby('title').size()
target

# 2. 생성해 둔 target Series를 기준으로 20이상인 행들만 필터링.
#   - loc은 Series에도 사용할 수 있다.
Ans = target.loc[target >= 20]
len(Ans)

41

# Question 12.
- 데이터를 로드하라.

In [4]:
channel_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'
video_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv'

channel = pd.read_csv(channel_data)
video = pd.read_csv(video_data)

print('channel')
display(channel.head())
print('video')
display(video.head())

channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

# Question 13.
- 각 데이터의 `ct`컬럼을 시간으로 인식할 수 있게 datatype을 변경하고, `video` 데이터프레임의 `videoname`의 각 범주마다 몇 개의 데이터씩을 갖고 있는지 확인하라.

In [5]:
# 1. 두 데이터프레임의 ct 컬럼을 datetime으로 변환
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
# print(channel['ct'].dtype)
# print(video['ct'].dtype)

# 2. video 데이터프레임의 videoname 컬럼의 범주별 빈도 확인.
Ans = video.groupby('videoname').size()
print(Ans)

videoname
공범 EP1    3492
공범 EP2    3204
공범 EP3    2568
공범 EP4    2280
공범 EP5    1562
공범 EP6    1274
공범 EP7     555
공범 EP8     266
dtype: int64

# Question 14.
- `video` 데이터프레임의 `videoname`의 각범주별로 `최신 날짜(ct)`의 `viewcnt`를 출력하라.

In [6]:
# 1. ct(날짜)를 최신 날짜로 하기 위해 우선 정렬(내림차순)
#   -> videoname 별로 viewcnt를 출력해야하기에 groupby('videoname')
#   -> first(): groupby()함수의 집계함수이다. 집계 후의 `첫 번째 행`을 반환한다.
#   -> reset_index(): 사용하지 않아도 되는데 이번 문제에서 groupby()에 사용된 videoname 컬럼을 index로 사용하지 않는 것을 테스트하기 위해 사용.
target = video.sort_values('ct', ascending = False).groupby(['videoname']).first().reset_index()

# 2. 필요한 컬럼만 추출해서 출력.
target[['viewcnt', 'videoname', 'ct']]

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

# Question 15.
- `channel` 데이터프레임의 2021-10-03일 이후 각 채널의 처음 기록 됐던 `구독자 수(subcnt)`를 출력하라.

In [7]:
# 1. 날짜 기준 필터링하여 새로운 데이터프레임을 생성.
target = channel.loc[channel['ct'] >= '2021-10-03'].copy()
target

# 2. 처음 기록된 날짜이기에 sort_values()함수의 ascending = True로 설정한다.
#   - ascending = True: 오름차순으로 과거 날짜를 시작으로 정렬되기에 first()로 가져오면 첫 번째 행이 `처음 기록된 구독자 수`가 된다.
Ans = target.sort_values('ct').groupby(['channelid']).first().reset_index()
Ans[['channelname', 'subcnt']]

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2           형사!탐정되다    14900
3       릴펄 Lilpearl    10100
4               조나단   215000
5        김농밀의 농밀한 삶     7520
6     Balming Tiger    54300
7               꽈뚜룹  1330000
8   와글와글 WagleWagle    55000
9        츄정ChuJeong   322000
10    곽토리 kwak tori   471000

# Question 16.
- channel 데이터프레임의 각 채널의 2021년 10월 03일 3시에 해당하는 데이터부터 2021년 11월 01일 15시에 해당하는 데이터까지의 구독자 수(subcnt)의 차이를 구하여라.

In [8]:
# 1. 필터링을 위한 기준 생성
oct_time = '2021-10-03 03'
nov_time = '2021-11-01 15'

# 2. 데이터프레임 생성
# dt.strftime(): 날짜형을 str 형으로 형변환하는 함수.
#   - 날짜형을 str 형으로 형변환하여 oct_time 그리고 nov_time과 비교하는 것.
oct_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == oct_time]
nov_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == nov_time]

# 3. 데이터프레임을 합치기 전 subcnt의 명칭을 변경(증가율을 계산할 때 중복된 명칭이면 안되기 때문).
oct_df = oct_df.rename(columns = {'subcnt' : 'subcnt_oct'})
nov_df = nov_df.rename(columns = {'subcnt' : 'subcnt_nov'})

# 4. 필터링한 두 데이터프레임을 channelId를 기준으로 merge. 
# (각 채널에 대한 빈도수를 구하기 때문에 channelId를 기준으로 한다.)
# on = 'channelname': 채널 별 구독자 수(subcnt)를 구하기에 channelname으로 병합한다. (그렇지 않으면 channelname_x와 channelname_y로 두 개의 컬럼이 생성된다).
merged_df = pd.merge(oct_df, nov_df, on = 'channelname', how = 'inner')

# 5. 병합된 데이터프레임(merged_df)에서 증가율을 새로운 컬럼으로 생성
merged_df['growth_ratio'] = (merged_df['subcnt_nov'] - merged_df['subcnt_oct'])

# 6. 결과 출력
Ans = merged_df[['channelname', 'growth_ratio']]
display(Ans)

        channelname  growth_ratio
0               꽈뚜룹         70000
1             야전삽짱재         11000
2        츄정ChuJeong          1000
3            논리왕 전기        -11000
4   와글와글 WagleWagle             0
5               조나단         12000
6           형사!탐정되다         10300
7        김농밀의 농밀한 삶          1540
8       릴펄 Lilpearl         11000
9     곽토리 kwak tori         -2000
10    Balming Tiger          2500

# Question 17.
- 각 비디오는 10분 간격으로 구독자 수, 좋아요, 싫어요 수, 댓글 수가 수집되었다. `videoname`컬럼의 `공범 EP1`값의 비디오 정보 데이터 중 수집 간격이 5분 이하, 20분 이상인 데이터 구간 (해당 시점 전과 후)의 시각을 모두 출력하라.

In [9]:
# 1. videoname이 공범 EP1인 데이터만을 필터링
# 놀랍게도 ' 공범 EP1'로 필터링해야 한다. (따라서 str.strip()을 통해 깔끔하게 필터링한다).
target = video.loc[video['videoname'].str.strip() == '공범 EP1'].copy()

# 2. 날짜 기준으로 차이를 계산해야 하기 때문에 날짜 기준 정렬.
#   - reset_index(): 현재기준 전과 후의 행도 필터링해야하기 때문에 index를 사용하는 경우 발생
#       -> 따라서 현재 문제에서는 sort 후 index를 재정리 해 둘 필요가 있음.
target = target.sort_values('ct').reset_index(drop = True)

# 3. 추출한 데이터프레임 target에서 시간 차이를 계산하여 새로운 컬럼 생성.
#   - dt.total_seconds(): datetime의 차이를 초 단위로 변환해 준다.
'''
< datetime의 자료형 >
1. 일반 datetime
    - 일반 datetime의 자료형은 datetime.datetime이다.
2. datetime 끼리의 차이
    - datetime으로 계산한 datetime의 차이는 자료형이 datetime.timedelta이다.

** 결론 **
- dt.total_seconds()는 정확히는 datetime의 차이를 초단위로 변환해 주기에 datetime.timedelta에 적용되는 함수이다.
'''
target['time_diff'] = target['ct'].diff().dt.total_seconds() / 60

# 4. 5분 이하, 20분 이상에 속하는 데이터의 index를 필터링하여 idx 추출
#   - index를 필터링하는 이유는 전과 후의 데이터도 추출해야하기 때문에 위치기반 추출(iloc)을 해야한다.
#   - (정확히는 정수형 필터링은 loc도 가능하지만 index를 사용하니 iloc을 사용하는 것이 형식상 맞다 이해하면 된다.)
#   - 이때 idx는 `.index`로 필터링된 index 객체이다. (Series 아님).
idx = target.loc[(target['time_diff'] <= 5) | (target['time_diff'] >= 20)].index
display('< idx 필터링 결과 >', idx)

# 5. 추출한 index를 기반으로 전과 후의 index를 필터링
#   - target_idx 또한 idx를 기반으로 추출된 index 객체이다. (Series 아님).
target_idx = idx.union(idx - 1).union(idx + 1)
display('< target_idx 필터링 결과 >', target_idx)

# 6. 추출한 index 중 범위 기준(0과 len(target) 사이)을 만족하는 index만 필터링
target_idx = target_idx[(target_idx >= 0) & (target_idx < len(target))]

# 7. 결과 출력
#   - 굳이 target_idx를 정렬해 줄 필요는 없다. 그럼에도 한 이유는 날짜(ct)로 정렬되어 보기에 하기 위함이다.
Ans = target.iloc[target_idx.sort_values()]
Ans

'< idx 필터링 결과 >'

Index([721, 722, 1636], dtype='int64')

'< target_idx 필터링 결과 >'

Index([720, 721, 722, 723, 1635, 1636, 1637], dtype='int64')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_diff
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,10.016667
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,861.566667
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,0.000000
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1,8.433333
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1,10.000000
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1,30.016667
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1,10.000000

# Question 18.
- video 데이터프레임의 각 videoname의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터프레임으로 만들고 출력하라.

In [25]:
# 1. video 데이터프레임의 ct 컬럼에서 날짜만 추출. `년-월-일`` 형식을 맞추기 위해.
video['date'] = video['ct'].dt.date

# 2. videoname으로 그룹화
#   -> 'date'컬럼만을 필터링
#   -> min(): 가장 최신 날짜를 가져오기 위함.
#   -> reset_index(): DataFrame 형태로 보기 편하게 하기 위해 사용. 
Ans = video.groupby('videoname')['date'].min().reset_index()
Ans

  videoname        date
0    공범 EP1  2021-10-07
1    공범 EP2  2021-10-09
2    공범 EP3  2021-10-14
3    공범 EP4  2021-10-16
4    공범 EP5  2021-10-21
5    공범 EP6  2021-10-23
6    공범 EP7  2021-10-28
7    공범 EP8  2021-10-30

# Question 19.
- video 데이터프레임의 `공범` 컨텐츠의 경우 19:00시에 공개 되는 것으로 알려져 있다. 공범 컨텐츠(videoname 컬럼)별로 공개된 날의 21시의 viewcnt, ct, 그리고 videoname으로 구성된 데이터프레임을 viewcnt를 내림차순으로 정렬하고, viewcnt가 가장 큰 데이터를 출력하라.

In [48]:
# 1.19:00 시와 21 시 등 시간을 처리와 날짜를 출력하기 위해 파생변수를 생성한다.
# 시간
video['hour'] = video['ct'].dt.hour
# 날짜
video['date'] = video['ct'].dt.date

# 2. 19:00 시를 기준으로 공개된 날짜 필터링
#   - 분단위 이하를 생략하는 이유는 초단위 비교연산에서는 에러가 생길 수 있기 때문이다. (부동소수점과 유사).
#   - unique(): 날짜만 추출하면 되기에 필요없는 중복을 제거한다.
release_dates = video.loc[video['hour'] == 19, 'date'].unique()

# 3. video 데이터프레임에서 release_dates와 21시에 해당하는 행만을 필터링.
target = video.loc[(video['date'].isin(release_dates)) & (video['hour'] == 21)]

# 4. 정답
#   - sort_values(): viewcnt를 기준으로 내림차순 정렬 조건을 만족하기 위해 설정.
#   - groupby(): 공범 컨텐츠별로 출력하기 위해 설정.
#   - first(): viewcnt가 가장 큰 데이터를 출력하기 위해 사용.
Ans = target[['viewcnt', 'ct', 'videoname']].sort_values(by = 'viewcnt', ascending = False).groupby('videoname', as_index = False).first()
Ans

  videoname  viewcnt                  ct
0    공범 EP1  3161641 2021-10-31 21:50:02
1    공범 EP2  2185062 2021-10-31 21:50:02
2    공범 EP3  1658039 2021-10-31 21:50:03
3    공범 EP4  1804957 2021-10-31 21:50:03
4    공범 EP5  1488913 2021-10-31 21:50:03
5    공범 EP6  1730661 2021-10-31 21:50:04
6    공범 EP7  1594029 2021-10-31 21:50:04
7    공범 EP8  1170183 2021-10-31 21:50:04

# Question 20.
- video 데이터프레임에서 videoname 별로 가장 최근 데이터를 필터링하고, 각 에피소드의 `싫어요의 수/좋아요의 수` 비율을 ratio 컬럼으로 만들어라. 그 후 videoname, ratio로 구성된 데이터프레임을 ratio를 기준으로 오름차순으로 정렬하라.

In [57]:
# 1. 우선 최근 데이터를 필터링하기 위해 내림차순 정렬.
target = video.sort_values('ct', ascending = False)
target

# 2. 가장 최근 데이터를 필터링하기 위해 groupby() 사용.
target = target.groupby('videoname').first().reset_index()
target

# 3. ratio 컬럼 생성
target['ratio'] = target['dislikecnt'] / target['likecnt']

# 4. videoname과 ratio컬럼만을 필터링
Ans = target[['videoname', 'ratio']]

# 5. ratio 컬럼을 기준으로 오름차순 정렬
Ans = Ans.sort_values('ratio', ascending = True)
Ans

  videoname     ratio
6    공범 EP7  0.013636
5    공범 EP6  0.015881
3    공범 EP4  0.017971
4    공범 EP5  0.021128
2    공범 EP3  0.022360
0    공범 EP1  0.027118
1    공범 EP2  0.029844
7    공범 EP8  0.141357

# Question 21.
- video 데이터프레임의 2021-11-01 00:00:00 ~ 15:00:00 사이의 각 에피소드(videoname)별 viewcnt의 증가량을 데이터프레임으로 만드시오.

In [94]:
# 1. 2021-11-01 00:00:00 ~ 15:00:00의 데이터를 필터링
#   - 범위로 필터링: `==` 연산자를 통한 비교는 `초단위` 비교에서 문제가 발생하기에 범위로 필터링하여 처리하는 것이 좋다.
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

# 기간 필터링
target = video.loc[(video['ct'] >= start) & (video['ct'] <= end)].reset_index(drop = True)

# 2. 마지막 날짜와 첫 날짜를 추출하기 위해 날짜를 기준으로 정렬
target = target.sort_values(['videoname', 'ct'], ascending= True)

# 3. 시작 시간대의 viewcnt와 끝 시간대의 viewcnr를 출력
#   - 오름차순: 가장 과거 데이터가 첫 번째로 온다.
start_view = target.groupby('videoname').first()
end_view = target.groupby('videoname').last()

# 4. 차이를 계산한 시리즈 생성
Ans = end_view['viewcnt'] - start_view['viewcnt']

# 5. index(viewname)를 기준으로 데이터프레임을 생성. (답의 형식을 맞추기 위해).
#   - to_frame(name = ): 데이터프레임으로 만들기 때문에 컬럼명을 주어야 한다.
Ans = Ans.to_frame(name = 'viewcnt')
Ans

           viewcnt
videoname
공범 EP1       13298
공범 EP2       10300
공범 EP3        9927
공범 EP4        9824
공범 EP5       10824
공범 EP6       14141
공범 EP7       26949
공범 EP8       89147

# Question 22.
- video 데이터프레임에는 중복되는 데이터가 존재한다. 날짜(ct)와 에피소드(videoname)를 기준으로 중복된 행을 출력하되 중복행중 가장 마지막 행을 출력하라.

In [ ]:
'''
< dublicated() 함수 인자 >
1. subset
    - 중복 기준이 되는 컬럼들을 지정한다.
    - 예: ['ct', 'videoname']은 'ct'와 'videoname'이 중복인 행들만 필터링한다.
    
2. keep
    - False: 중복되는 모든 행을 True로 한다.
    - first: 각 중복되는 행 중 첫 번째 중복 행만을 False로 한다. (나머지 중복 행은 모두 True).
    - last: 각 중복되는 행 중 마지막 중복 행만을 False로 한다. (나머지 중복 행은 모두 True).
'''

# 1. 우선 모든 중복 행을 필터링.
all_dup = video.loc[video.duplicated(subset=['ct', 'videoname'], keep = False)].copy()

# 2. all_dup에서 `keep = 'last'`를 통해 마지막 중복 행만을 False로 만들고 loc을 통해 False인 행만 추출.
Ans = all_dup.loc[all_dup.duplicated(subset = ['ct', 'videoname'], keep = 'last') == False]
Ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date,hour
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,2021-10-13,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,공범 EP2,2021-10-13,9

# Question 23.
- 데이터를 로드하라.

In [3]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv'
df = pd.read_csv(data)

df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [ ]:
Ans = df.loc[df.duplicated('Player', keep = False)].sort_values('Player')
Ans

           Player  Goals      Years  Country
460    Goikoetxea      2       1994    Spain
1132   Goikoetxea      1       1986    Spain
839   Jozsef Toth      1       1954  Hungary
840   Jozsef Toth      1  1978-1982  Hungary
1137      Juanito      1  1978-1982    Spain
1138      Juanito      1       2006    Spain
599        Junior      1  1982-1986   Brazil
600        Junior      1       2002   Brazil

# Question 24.
- 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임으로 출력하라.

In [4]:
# 1. 나라별(groupby) 골 수를 합계(sum)로 하여 집계 후 골 수대로 내림차순 정렬(sort_values())
Ans = df.groupby('Country').sum('Goals').sort_values('Goals', ascending = False).reset_index()

# 2. 상위 다섯 개의 행만을 필터링.
Ans.head(5)

     Country  Goals
0     Brazil    228
1    Germany    226
2  Argentina    135
3      Italy    123
4     France    115

# Question 25.
- 주어진 전체 기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수의 수를 데이터프레임 형식으로 출력하라.
- (마님 풀이의 경우 groupby().size()를 사용하셨는데 중복된 선수명이 있는 경우가 포함되어 현재 풀이와 결과가 조금 다르다).

In [17]:
# 1. Country로 groupby하고, 선수들에 대해 nunique()로 총 범주의 종류를 count
#   - nunique()는 범주의 종류의 수를 카운트하며 중복을 포함하지 않는다. 따라서 마님의 정답과는 조금 다른 답이 출력된다.
#       -> 현재 고유하게 선수를 식별할 수 있는 컬럼이 없다 생각하기에 nunique()를 그대로 사용.
Ans = df.groupby('Country').nunique('Player')

# 2. 상위 다섯 갱의 국가를 출력하기 위해 Player를 기준으로 내림차순 정렬.
Ans = Ans.sort_values('Player', ascending = False)
Ans

# 3. 정답 출력
Ans['Player'].head()

Country
Brazil       80
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

# Quesetion 26.
- Years 컬럼은 `년도-년도` 형식으로 구성되어 있고, 각 년도는 4자리 수이다. 년도 표기가 4자리 수가 아닌 경우가 존재하며 해당 케이스는 몇 건인지 출력하라.

In [33]:
# 1. '-'을 기준으로 Years 컬럼을 분리하여 새로운 데이터프레임을 반환한다.
#   - expand = True: 문자열 분리 결과를 컬럼으로 나눈 새로운 DataFrame을 반환한다.
year_split = df['Years'].str.split('-', expand = True)
# display(year_split)

# 2. 각 셀별로 길이가 1) NULL이 아니고, 2) 문자열의 길이가 4가 아니라면 `True를 할당한다`.
mask = year_split.apply(
    lambda col : col.map( # 첫 번째 lambda 식은 year_split의 각 컬럼별로 적용된다. (DataFrame이기 때문).
        lambda x : len(str(x)) != 4 # 두 번째 lambda 식은 col(즉, Serise)에 적용되기에 각 셀을 대상으로 적용된다.
            if pd.notnull(x) # NULL이 아닌 경우에만 `x : len(str(x)) != 4`가 수행되며 `길이가 4가 아니라면 True`를 반환한다. (길이가 4인경우가 False임을 주의).
            else False) # NULL이라면 False를 반환한다.
    ) # 즉, NULL인 경우와 길이가 4인 경우만 False가 되고, 길이가 4가 아닌 경우만 True가 된다.
# display(mask)

# 3. 생성된 mask를 행단위로 적어도 하나의 길이가 4가 아닌 셀(True인 셀)이 있나 확인하고 합산
#   - any: 적어도 하나가 True라면 True를 반환
#   - any.(axis = 1): 각 행별로 적어도 하나의 셀이 True라면 True를 반환.
#   - sum(): 각 행별로 True 혹은 False가 반환 됐으니 모두 더하면(True를 모두 더함 = 4가 아닌 셀을 모두 더함) 길이가 4가 아닌 행들의 수를 반환받을 수 있다.
Ans = mask.any(axis = 1).sum()
print(Ans)

45

# Question 27.
- `Question 26`에서 발생한 예외 케이스를 제외한 데이터프레임을 `df2`라고 정의하고, 데이터의 행의 수를 출력하라. (이후부터는 df2를 문제 풀이 대상으로 한다).

In [42]:
# 1. Question 26의 결과를 기존 데이터프레임의 check 컬럼으로 추가.
df['check'] = mask.any(axis = 1)
# display(df['check'])

# 2. `df['check'] == False`인 행만 필터링하면 Question 26의 예외를 제외한 행을 필터링할 수 있다.
df2 = df.loc[df['check'] == False].reset_index(drop = True)
display(df2)

# 3. 정답(행의 수) 출력.
df2.shape[0]

                   Player  Goals                Years     Country  check
0          Miroslav Klose     16  2002-2006-2010-2014     Germany  False
1                 Ronaldo     15       1998-2002-2006      Brazil  False
2             Gerd Muller     14            1970-1974     Germany  False
3           Just Fontaine     13                 1958      France  False
4                    Pele     12  1958-1962-1966-1970      Brazil  False
...                   ...    ...                  ...         ...    ...
1245        Josip Skoblar      1                 1962  Yugoslavia  False
1246          Safet Susic      1            1982-1990  Yugoslavia  False
1247  Aleksandar Tirnanic      1                 1930  Yugoslavia  False
1248  Djordje Vujadinovic      1                 1930  Yugoslavia  False
1249         Branko Zebec      1            1954-1958  Yugoslavia  False

[1250 rows x 5 columns]

1250

# Question 28.
- 월드컵 출전 횟수를 나타내는 `LenCup`컬럼을 추가하고, 4회 출전한 선수의 수를 구하여라.

In [49]:
# 1. df2의 Years컬럼을 년도별로 분리한 뒤 리스트형태로 값으로 하여 YearList 컬럼 생성. 
df2['YearList'] = df2['Years'].str.split('-')
# display(df2['YearList'])

# 2. 생성된 YearList 컬럼의 길이(월드컵 출전 년도의 수)를 값으로 하여 LenCup 컬럼 생성.
df2['LenCup'] = df2['YearList'].apply(len)
# display(df2['LenCup'])

# 3. LenCup이 4인 경우만 True로 하여 sum()을 하면 4번 월드컵을 출전한 선수의 수를 구할 수 있다.
Ans = (df['LenCup'] == 4).sum()
print(Ans)

16

# Question 29.
- Yugoslavia 국가의 월드컵 출전 횟수가 2회인 선수들의 수를 구하여라.

In [56]:
# 1. Country가 Yugoslavia이고, LenCup이 2인 행만 필터링.
target = df2.loc[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)]

# 2. 선수들의 수를 count하기 위해 len() 함수를 적용.
Ans = len(target)
print(Ans)

7

# Question 30.
- 2002년도에 출전한 전체 선수는 몇 명인가?

In [58]:
# 1. contains() 함수를 활용하여 2002가 포함된 행을 찾고, 모두 더한다.
Ans = df2['Years'].str.contains('2002').sum()
print(Ans)

156

# Question 31.
- 이름에 `carlos`가 들어가는 선수의 수는 몇 명인가? (대, 소문자 구분 X).

In [ ]:
# 1. 함수 설명
#   - str.lower(): 대, 소문자 구분이 없기 때문에 모두 소문자로 변경.
#   - str.contains(): 모두 소문자로 변경 되었기에 'carlos'를 포함하는 경우만을 찾아 모두 더한다.
Ans = df2['Player'].str.lower().str.contains('carlos').sum()
print(Ans)

13

# Question 32.
- 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올린 선수는 누구인가?

In [89]:
# 1. 월드컵 출전 횟수가 1회인 데이터만 필터링
target = df2.loc[df2['LenCup'] == 1].copy()
# display(target)

# 2. 득점순으로 정렬
target = target.sort_values('Goals', ascending = False)
# display(target)

# 3. 첫 번째 행의 선수 이름을 출력.
Ans = target.iloc[0]['Player']
print(Ans)

Just Fontaine

# Question 33.
- 월드컵 출전횟수가 1회뿐인 선수들이 가장 많은 국가는 어디인가?

In [98]:
# 1. 월드컵 출전횟수가 1회뿐인 행들만 필터링.
target = df2.loc[df2['LenCup'] == 1].copy()
# display(target)

# 2. 국가별로 그룹화한 뒤 선수들의 수를 반환.
target = target.groupby('Country')['Player'].nunique().reset_index()
# display(target)

# 3. 선수 수를 기준으로 내림차순 정렬
target = target.sort_values('Player', ascending = False)
# display(target)

# 4. 첫 번째 행의 Country만을 반환
Ans = target.iloc[0]['Country']
print(Ans)

Brazil

# Question 34.
- 데이터를 로드하라.

In [3]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv'
df = pd.read_csv(data)

df

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6
...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,정기권,M,60대,1,32.92,0.30,1279.01,37
678946,2021-06-14,23,2331,정기권,M,60대,1,11.88,0.09,400.00,4
678947,2021-06-14,23,722,정기권,M,60대,1,53.28,0.48,2070.00,20
678948,2021-06-14,23,3787,정기권,M,70대~,1,121.25,1.18,5103.30,86
678949,2021-06-14,23,1911,정기권,M,70대~,1,42.18,0.38,1638.70,28

# Question 35.
- 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라.

In [4]:
# 1. 대여일자 컬럼의 타입 확인
df['대여일자'].dtype

# 2. 대여일자 컬럼의 타입을 datetime으로 변환
df['대여일자'] = pd.to_datetime(df['대여일자'])
# print(df['대여일자'].dtype)

# 3. 일자별로 그룹화 한 뒤 size()를 통해 총 수를 반환
#   - reset_index(name = )
#       - index를 컬럼으로 옮긴다.
#       - name: 원래 값 컬럼의 컬럼명을 지정한다.
Ans = df.groupby('대여일자').size().reset_index(name = '데이터 수')
display(Ans)

# 4. 가장 데이터 수가 많은 일자를 출력하기 위해 `데이터 수`를 기준으로 내림차순 정렬.
Ans = Ans.sort_values('데이터 수', ascending = False)
# display(Ans)

# 5. 첫 행의 대여일자만 필터링
Ans = Ans.iloc[0]['대여일자']

# 6. 정답을 출력. (정답의 형식을 맞추기 위해 시간을 제외한 날짜만으로 형변환).
print(Ans.strftime('%Y-%m-%d'))

         대여일자  데이터 수
0  2021-06-01  48081
1  2021-06-02  56100
2  2021-06-03  18985
3  2021-06-04  56788
4  2021-06-05  52730
5  2021-06-06  47787
6  2021-06-07  52623
7  2021-06-08  55623
8  2021-06-09  54507
9  2021-06-10  36992
10 2021-06-11  52089
11 2021-06-12  48569
12 2021-06-13  43131
13 2021-06-14  54945

2021-06-04

# Question 36.
- 각 일자의 요일을 표기하여('Monday' ~ 'Sunday') `day_name`컬럼을 생성하고, 이를 이용하여 각 요일별 행의 수를 출력하라 (문제는 `이용횟수`인데 `이용건수` 컬럼과 헷갈릴 수 있어 수정).

In [5]:
# 1. 요일명으로 된 day_name 컬럼 생성.
df['day_name'] = df['대여일자'].dt.day_name()
# display(df['day_name'])

# 2. 요일별로 그룹화하고 데이터의 수를 출력.
Ans = df.groupby('day_name').size().reset_index(name = '데이터의 총 수')
Ans

# 3. 데이터프레임으로 변환
print(Ans)

    day_name  데이터의 총 수
0     Friday    108877
1     Monday    107568
2   Saturday    101299
3     Sunday     90918
4   Thursday     55977
5    Tuesday    103704
6  Wednesday    110607

# Question 37.
- 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소번호를 데이터프레임으로 출력하라.
- 마님의 코드는 `행의 수`를 기준으로 한다. 나의 코드는 `이용건수` 컬럼을 기준으로 작성. (답이 다르다).

In [6]:
# 1. `요일명-대여소번호`로 그룹화한 뒤, 이용건수를 계산한다.
target = df.groupby(['day_name', '대여소번호'])['이용건수'].sum().reset_index()
# display(target)

# 2. 요일명으로는 오름차순, 이용건수로는 내림차순으로 정렬한다.
target = target.sort_values(['day_name', '이용건수'], ascending = [True, False])
# display(target)

# 3. 요일별로 그룹화 하고 첫 번째 행만 필터링.
#   - 요일별로만 필터링하면 알아서 대여소번호는 정해지기 때문.
Ans = target.groupby('day_name').first().reset_index()
print(Ans)

    day_name  대여소번호  이용건수
0     Friday   2715   414
1     Monday   2715   374
2   Saturday    502   616
3     Sunday    502   574
4   Thursday   2715   188
5    Tuesday    502   371
6  Wednesday    502   399

# Question 38.
- 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 갖는 나이대를 확인하라. 일일권의 경우 일일권과 일일권(비회원)을 모두 포함하라.

In [7]:
# 1. `일일권`과 `일일권(비회원)`만을 True로 필터링하여 새로운 컬럼 생성.
df['is_daily'] = df['대여구분코드'].isin(['일일권', '일일권(비회원)'])
# display(df['is_daily'])

# 2. 연령대별로 전체 행의 수를 계산. (분모로 쓸 값).
denominator = df.groupby('연령대코드').size().reset_index(name = '전체수')
# display(denominator)

# 3. 연령대별 is_daily컬럼을 집계. (분모로 쓸 값).
numerator = df[df['is_daily']].groupby('연령대코드').size().reset_index(name = '전체일일권수')
# display(numerator)

# 4. denominator와 numerator를 하나의 데이터프렘임으로 생성. 비율을 계산하기 위해.
total = denominator.merge(
    numerator,
    # left join: 연령대가 기준이기에 공백이 있으면 안 된다.
    #   - 예를 들어 inner join을 하는 경우 denominator와 numerator을 두 값이 모두 없다면 해당 연령대가 비어버리는 문제가 발생한다.
    how = 'left',
    on = '연령대코드'
    ).fillna(0)
# display(total)

# 5. 비율계산
total['비율'] = total['전체일일권수'] / total['전체수']
# display(total['비율'])

# 6. 가장 높은 비율을 갖는 연령대를 확인하기위해 정렬
total = total.sort_values('비율', ascending = False).reset_index()
# display(total['비율'])

# 7. 정답 출력
#   - 필요한 컬럼만 필터링한 다음
#   -> 0번째 index를 필터링하여 최대 비율과 연령대만 필터링. 
Ans = total[['연령대코드', '비율']].iloc[[0]]  # ✅ 더 간단한 방식
Ans

  연령대코드        비율
0  ~10대  0.312525

# Question 39.
- 연령대별 평균 이동거리를 구하여라.

In [8]:
# 1. 연령대별로 그룹화한 뒤, 이동거리에 대해 집계.
Ans = df.groupby('연령대코드')['이동거리'].mean()
Ans

연령대코드
20대     3211.890552
30대     3341.443859
40대     3514.857416
50대     3593.668100
60대     3538.145737
70대~    3085.039641
~10대    2634.426279
Name: 이동거리, dtype: float64

# Question 40.
- 연령대코드가 20대인 데이터를 추출하고, 이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다. 최종 추출된 데이터를 대여일자, 대여소번호 순으로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소수점 세 번째 자리까지 구하여라.

In [9]:
# 1. 연령대코드가 20대인 데이터 필터링
target = df.loc[df['연령대코드'] == '20대'].copy().reset_index(drop = True)
# display(target)

# 2. 이동거리값이 추출한 데이터의 평균 이상인 데이터들을 필터링.
target = target.loc[target['이동거리'] >= target['이동거리'].mean()].reset_index(drop = True)
# display(target)

# 3. 대여일자, 대여소번호 순으로 내림차순 정렬
target = target.sort_values(['대여일자', '대여소번호'], ascending = False).reset_index(drop = True)
# display(target)

# 4. 1행부터 200행 까지의 탄소량의 평균을 소수점 세 번째 자리까지 계산
# 데이터 필터링
Ans = target['탄소량'].iloc[0 : 200]
# 평균을 구하기 위해 형변환
Ans = Ans.astype('float')
# 평균 계산. (결측값이 없기에 처리 안함, 있다면 dropna() 혹은 다른 방식으로 결측치를 처리하고 집계).
Ans = Ans.mean()
# 소수점 세 번째 자리까지 출력.
print(round(Ans, 3))

1.613

# Question 41.
- `6월 7일`날짜의 `~10대`의 `이용건수`의 중앙값을 출력하라.

In [10]:
# 1. 6월 7일 날짜를 필터링
target = df.loc[df['대여일자'].dt.strftime('%m-%d') == '06-07']
# display(target)

# 2. 이용건수의 중앙값을 출력. (결측값이 없기에 처리 안함, 있다면 dropna() 혹은 다른 방식으로 결측치를 처리하고 집계).
Ans = target['이용건수'].median()
print(Ans)

1.0

# Question 42.
- 평일 (월 ~ 금) 출근 시간대(오전 6, 7, 8 시)의 대여소별 이용건수를 구하여 데이터프레임으로 출력한 후, 각 대여시간별 이용건수의 상위 세 개의 대여소와 이용건수를 출력하라.

In [11]:
# 1. 문제를 풀기 전 데이터 구조 다시 확인
# display(df)

# 2. day_name 컬럼을 기준으로 요일 필터링, 대여시간을 기준으로 시간대 필터링.
target = df.loc[(df['day_name'].isin(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])) & (df['대여시간'].isin([6, 7, 8])) ].copy()
# display(target['day_name'].unique())
# display(target['대여시간'].unique())

# 3. target 데이터프레임에서 대여소별 이용건수를 집계 후 데이터프레임으로 출력.
Ans1 = target.groupby('대여소번호')['이용건수'].sum().reset_index(name = '이용건수총합')
display(Ans1)

# 4. `대여소-대여시간`별 이용건수 상위 세 개의 '대여시간', '대여소번호', 그리고 '이용건수'의 합을 출력하라.
Ans2 = target.groupby(['대여시간', '대여소번호'])['이용건수'].sum().reset_index(name = '이용건수총합')
# display(Ans2)

# 5 대여시간별로 상위 세 개의 이용건수총합 필터링
#   - 출력 형식을 맞추기 위해 set_index()로 멀티인덱스 설정.
Ans2 = Ans2.sort_values(['대여시간', '이용건수총합'], ascending = [True, False]).groupby('대여시간').head(3).set_index(['대여시간', '대여소번호'])
display(Ans2)

      대여소번호  이용건수총합
0       102      52
1       103      42
2       104      32
3       105       3
4       106      17
...     ...     ...
2372   4864      12
2373   4865      27
2374   4867       9
2375   4868      10
2376   9980       1

[2377 rows x 2 columns]

            이용건수총합
대여시간 대여소번호
6    2744       55
     1028       47
     1125       44
7    259       184
     2744      125
     2733      104
8    2701      360
     2715      155
     646       151

# Question 43.
- 평균 이상의 이동거리를 갖는 데이터를 필터링하고, 필터링 결과를 통해 이동거리의 표본표준편차를 출력하라.

In [12]:
# 1. 평균 이상의 이동거리를 기준으로 데이터 필터링
target = df.loc[df['이동거리'] >= df['이동거리'].mean()]
# display(target)

# 2. 표본표준편차 출력.
Ans = target['이동거리'].std()
print(Ans)

5092.139707505356

# Question 44.
- 남성('M' 혹은 'm')과 여성('F' 혹은 'f')의 이동거리의 평균을 구하여라.

In [ ]:
# 1. 성별 컬럼의 범주 확인
# display(df['성별'].unique())

# 2. `성별` 컬럼을 모두 대분자로 통일
df['성별'] = df['성별'].str.upper()
df['성별'].unique()

# 3. 성별로 그룹화 후 평균
Ans = df.groupby('성별')['이동거리'].mean()
display(Ans.to_frame(name = '이동거리평균'))

         이동거리평균
성별
F   3468.575025
M   3209.110871

# Question 45.
- 데이터를 로드하라.

In [17]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv'
df = pd.read_csv(data, encoding = 'utf-8')

df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

# Question 46.
- 데이터는 2018년도와 2019년도의 전세계 행복지수를 표현한다. 각 년도의(년도별 아님) 행복랭킹 10위를 차지한 나라의 행복점수 평균을 구하여라.

In [24]:
# 1. 행복랭킹 10위인 나라만 필터링
target = df.loc[df['행복랭킹'] == 10]
# display(target)

# 2. 평균을 계산
Ans = target['점수'].mean()
print(Ans)

7.259

# Question 47.
- 각 년도의 행복랭킹 50위 이내의 나라들 각각의 행복점수 평균을 데이터프레임으로 출력하라.

In [38]:
# 1. 50위 이내의 데이터만 필터링
target = df.loc[df['행복랭킹'] <= 50]
# display(target)

# 2. 년도-나라로 그룹화하고 점수의 평균을 계산
Ans = target.groupby(['년도', '나라명'])['점수'].mean()
Ans = Ans.to_frame()
Ans

                              점수
년도   나라명
2018 Argentina             6.388
     Australia             7.272
     Austria               7.139
     Bahrain               6.105
     Belgium               6.927
...                          ...
2019 United Arab Emirates  6.825
     United Kingdom        7.054
     United States         6.892
     Uruguay               6.293
     Uzbekistan            6.174

[100 rows x 1 columns]

# Question 48.
- 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 상관계수를 출력하라.

In [ ]:
# 1. 2018년도 데이터만 필터링
target = df.loc[df['년도'] == 2018]
# display(target)

# 2. 상관계수 행렬 생성
Ans = target[['점수', '부패에 대한인식']].corr()

# 3. 상관계수 행렬에서 정답만 필터링.
print(Ans.iloc[0, 1])

0.40529152271510027

# Question 49.
- 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라의 수를 구하여라.

In [55]:
# 1. 2018년도와 2019년도 각각 국가명과 행복랭킹을 필터링하여 두 개의 데이터프레임 생성.
df_18 = df.loc[df['년도'] == 2018][['나라명', '행복랭킹']].copy()
df_19 = df.loc[df['년도'] == 2019][['나라명', '행복랭킹']].copy()

# 2. 두 데이터프레임을 하나로 병합
#   - merge를 할 때 같은 이름의 컬럼이 있으면 suffixes 옵션을 통해 접미사를 설정해 줄 수 있다.
total = pd.merge(df_18, df_19, on = '나라명', suffixes = ('_2018', '_2019'))
# display(total)

# 3. 2018과 2019년도의 행복랭킹이 같은 행만 필터링
target = total.loc[total['행복랭킹_2018'] == total['행복랭킹_2019']]
# display(target)

# 4. nunique()를 통해 나라의 수를 반환.
Ans = target['나라명'].nunique()
print(Ans)

15

# Question 50.
- 2019년도 데이터들만 추출하여 각 변수간의 상관계수를 구하고 내림차순으로 정렬한 뒤 상위 5 개를 데이터프레임으로 출력하라. (단, 컬럼명은 v1, v2, corr로 표기).

In [94]:
# 1. 2019년의 데이터만 필터링
target = df.loc[df['년도'] == 2019]
# display(target['년도'].unique())

# 2. 수치형 변수만 필터링하여 상관관계 행렬 생성
corr_mat = target.select_dtypes(include = 'number').corr()
# display(corr_mat)

# 3. 상관관계 행렬을 unstack()으로 index를 해제하여 긴 형식으로 만듦.
corr_df = corr_mat.unstack().reset_index()
# display(corr_df)

# 4. 컬럼명을 문제에서 제시한 v1, v2, corr로 변경
corr_df.columns = ['v1', 'v2', 'corr']
# display(corr_df)

# 5. 중복행 제거
#   - 확인하고자 하는 두 컬럼(v1, v2)을 튜플로 묶고 정렬하면 다음과 같이 중복되는 경우를 만들 수 있다.
#       - 예: 
#           sorted(['GDP', '행복점수']) → ['GDP', '행복점수']
#           sorted(['행복점수', 'GDP']) → ['GDP', '행복점수']
#   -> 이후 위처럼 생성한 컬럼을 기준으로 중복을 제거.
corr_df['dup'] = corr_df.apply(lambda row: tuple(sorted([row['v1'], row['v2']])), axis=1)
# display(corr_df['dup'])

# 6. 생성된 dup 컬럼을 기준으로 중복을 제거. (중복 체크를 위해 생성한 dup 컬럼을 제거하는 것을 포함).
corr_df = corr_df.drop_duplicates('dup').drop(columns = 'dup')
# display(corr_df)

# 7. 상관계수가 1인 경우(자기자신)를 제외
corr_df = corr_df.loc[corr_df['v1'] != corr_df['v2']]
# display(corr_df)

# 7. 정답 출력을 위해 상관계수로 내림차순 정리 후 상위 다섯 행을 필터링하여 정답 출력.
corr_df = corr_df.sort_values('corr', ascending = False)
Ans = corr_df.head()
Ans

       v1     v2      corr
22  상대GDP  행복기대치  0.835462
11     점수  상대GDP  0.793883
13     점수  행복기대치  0.779883
12     점수  사회적지원  0.777058
21  상대GDP  사회적지원  0.754906

# Question 51.
- 각 년도별 행복점수가 하위 5개 국가의 행복점수 평균을 출력하라.

In [112]:
# 1. 년도, 점수 순으로 정렬 후 년도별로 그룹화하여 년도별 하위 5개의 행을 필터링.
#   - 년도별로 정렬하고 점수별로 정렬하면 이미 년도별로 정렬이 돼 있기 때문에 년도별 가장 낮은 점수부터 오름차순 정렬된다.
#   - 따라서 이때 년도별로 그룹화하고 head()를 활용하면 하위 5 개행을 필터링 할 수 있다.
target = df.sort_values(['년도', '점수']).groupby('년도').head()
# display(bottom5)

# 2. 년도별 평균 계산
#   - 필터링된 target 데이터프레임을 다시 년도별로 그룹화하고 점수의 평균을 집계하면 하위 5개국가의 평균을 집계할 수 있다.
#   - 만약 국가명이 중복이 존재한다면 df.drop_duplicated(subset = ['년도', '나라명'])을 시도하여 중복을 제거할 수 있다.
Ans = target.groupby('년도')['점수'].mean().reset_index(name='하위 5개국 평균점수')

# 3. 정답 출력
display(Ans)

     년도  하위 5개국 평균점수
0  2018       3.1800
1  2019       3.1408

# Question 52.
- 2019년 데이터를 추출하고 해당 데이터의 상대GDP가 평균 이상인 나라들과 평균 이하인 나라들의 행복점수의 평균을 각각 구하고 차이를 출력하라. 
<br>
**(마님풀이는 2019년을 필터링하지 않아 정답이 다름)**

In [119]:
# 1. 우선 2019년도 데이터를 필터링
target = df.loc[df['년도'] == 2019]
# display(target['년도'].unique())

# 2. 상대GDP를 기준으로 이상과 이하인 나라의 데이터프레임 생성.
mean_gdp = target['상대GDP'].mean()
df_upper = target.loc[target['상대GDP'] >= mean_gdp]
df_lower = target.loc[target['상대GDP'] <= mean_gdp]

# 3. df_upper와 df_lower의 평ㄱ륜을 계산하고 차이를 출력.
Ans = df_upper['상대GDP'].mean() - df_lower['상대GDP'].mean()
print(Ans)

0.6765307486631016

# Question 53.
- 각 년도의 부패에 대한인식을 내림차순으로 정렬했을 때 상위 20개 국가의 부패에 대한 인식의 평균을 구하여라.

In [ ]:
# 1. 조건을 전부 넣어서 한 번에 출력.
Ans = (
    df.sort_values(['년도', '부패에 대한인식'], ascending=False) # 년도와 부패에 대한인식 컬럼을 내림차순 정렬.
      .groupby('년도') # 년도로 그룹화하여
      .head(20) # 연도별 하위 20개의 행 필터링
      .groupby('년도')[['부패에 대한인식']] # 필터링된 결과를 다시 년도별로 그룹화한 뒤 부패에 대한인식을 대상
      .mean() # 평균집계
      .reset_index() # 인덱스를 정리하여 깔끔하게 데이터프레임으로 출력.
)

print(Ans)

     년도  부패에 대한인식
0  2018    0.3267
1  2019    0.3201

# Question 54.
- 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 수를 구하여라.

In [163]:
# 1. 2018년도와 2019년도를 나누어 데이터프레임 생성.
df_2018 = df.loc[df['년도'] == 2018]
# display(df_2018['년도'].unique())
df_2019 = df.loc[df['년도'] == 2019]
# display(df_2019['년도'].unique())

# 2. 2018년 데이터프레임에서 50위 이내의 국가명을 필터링
under_50 = df_2018.loc[df_2018['행복랭킹'] <= 50]['나라명'].to_list()
# display(under_50)

# 3. df_2019에서 2018년에 50위 이내인 under_50의 국가들만 필터링
target = df_2019.loc[df_2019['나라명'].isin(under_50)]
# display(target)

# 4. 필터링된 target 데이터프레임에서 행복랭킹이 50위권 밖인 국가의 수를 출력.
Ans = target.loc[target['행복랭킹'] > 50]['나라명'].nunique()
print(Ans)

3

# Question 55.
- 2018년, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 증가 정도를 출력하라.

In [ ]:
# 1. 2018과 2019 두 개의 데이터프레임 생성.
df_2018 = df.loc[df['년도'] == 2018][['나라명', '점수']].rename(columns = {'점수' : '점수_2018'})
# display(df_2018['년도'].unique())
df_2019 = df.loc[df['년도'] == 2019][['나라명', '점수']].rename(columns = {'점수' : '점수_2019'})
# display(df_2019['년도'].unique())

# 2. 두 데이터프레임을 나라명을 기준으로 merge. 즉, inner join을 통해 둘 다 존재하는 나라명만 남기며 병합한다.
target = pd.merge(df_2018, df_2019, on = '나라명', how = 'inner')
# display(target)

# 3. 행복점수 증가량을 계산
target['증가량'] = target['점수_2019'] - target['점수_2018']
# display(target['증가량'])

# 4. 증가량을 기준으로 내림차순 정렬 후 첫 번째 행의 나라명과 증가량을 출력.
#   - to_frame.T: 전치를 하여 데이터프레임의 형태를 맞춰줌
#       - 시리즈를 출력할 때 index가 컬럼에 위치하는데 이를 전치하여 데이터프레임의 형태를 잡아주는 것.
Ans = target.sort_values('증가량', ascending = False)[['나라명', '증가량']].iloc[0].to_frame().T
display(Ans)

         나라명   증가량
151  Burundi  0.87

# Question 56.
- 데이터를 로드하라.

In [174]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv'
df = pd.read_csv(data)

df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

# Question 57.
- DateTime 컬럼을 통해 각 월별로 몇 개의 데이터가 있는지 데이터프레임을 출력하라.

In [196]:
# 1. DateTime 컬럼의 데이터 타입을 확인
df['DateTime'].dtype

# 2. datetime으로 형변환
df['DateTime'] = pd.to_datetime(df['DateTime'])
# print(df['DateTime'].dtype)

# 3. 월별로 그룹화하고 size()를 통해 집계
Ans = df.groupby(df['DateTime'].dt.strftime('%m')).size().reset_index(name = '월별 데이터의 수')
display(Ans)

   DateTime  월별 데이터의 수
0        01       4464
1        02       4032
2        03       4464
3        04       4320
4        05       4464
5        06       4320
6        07       4464
7        08       4464
8        09       4320
9        10       4464
10       11       4320
11       12       4320

# Question 58.
- 3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라.

In [ ]:
# 1. 3월 데이터만 필터링
target = df.loc[df['DateTime'].dt.strftime('%m') == '03']
# display(target)

# 2. 시간대별로 그룹화하고 온도의 평균을 집계 후 오름차순 정렬하고 첫 행을 필터링.
Ans = target.groupby(target['DateTime'].dt.strftime('%H'))['Temperature'].mean().sort_values(ascending = True)
print(Ans.iloc[0])

11.506612903225806

# Question 59.
- 3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라.

In [212]:
# 1. 3월의 데이터만을 필터링
target = df.loc[df['DateTime'].dt.strftime('%m') == '03']
# display(target)

# 2. 시간대별로 그롭화하고 온도의 평균을 집계 후 내림차순 정렬하고 첫 행을 필터링
Ans = target.groupby(target['DateTime'].dt.strftime('%H'))['Temperature'].mean().sort_values(ascending = False)
print(Ans.iloc[0])

18.393602150537635

# Question 60.
- Zone 1 Power Consumption 컬럼이 Zone 2 Power Consumption 컬럼보다 큰 데이터들의 Humidity의 평균을 구하여라.

In [226]:
# 1. 컬럼명에 공백이 포함돼 있어 공백을 모두 '_'로 대체
#   - r: 문자열의 \를 특수문자로 해석하지 않도록 함. 즉, 이스케이프문이 아님.
#   - '\s+': s는 공백문자 하나를 의미. s+는 공백문자 하나 이상을 의미.
#   - regex = True: 첫 번째 인자를 정규표현식으로 해석하도록 함. 즉, '\s+'를 문자열로 인식하지 않고 정규표현식을 인식하게 하는 것.
df.columns = df.columns.str.lower().str.replace(r'\s+', '_', regex = True).str.strip()

# 1. 조건에 해당하는 데이터만 필터링. (컬러명에 공백이 포함돼 있어 주의).
target = df.loc[df['zone_1_power_consumption'] > df['zone_2_power_consumption']]
# display(target)

# 2. 필터링한 데이터프레임을 기준으로 Humidity의 평균을 계산
Ans = target['humidity'].mean()
print(Ans)

68.23624448055052

# Question 61.
- 각 zone의 에너지 소비량의 상관관계를 구해서 데이터프레임으로 표기하라.

In [229]:
# 1. 각 zone의 에너지소비량의 상관관계 행렬을 생성.
target = df[['zone_1_power_consumption', 'zone_2_power_consumption', 'zone_3_power_consumption']].corr()
display(target)

,zone_1_power_consumption,zone_2_power_consumption,zone_3_power_consumption
zone_1_power_consumption,1.000000,0.834519,0.750733
zone_2_power_consumption,0.834519,1.000000,0.570932
zone_3_power_consumption,0.750733,0.570932,1.000000

# Question 62.
- Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B, 20이상 30미만의 경우 C, 그외의 경우 D라할 때 각 단계의 데이터 수를 구하여라.

In [242]:
# 1. dp.cut()을 통해 각 범위를 매핑
df['단계의 수'] = pd.cut(
    df['temperature'], # 구간을 나눌 대상 컬럼
    bins = [-float('inf'), 10, 20, 30, float('inf')], # 범위는 하단의 right 인자와 관련있다. 
    labels = ['A', 'B', 'C', 'D'], # 각 구간별 라벨 설정.
    right = False # 우측 경계 미포함으로 `음의 무한 <= x < 10, 10 <= x < 20, 20 <= x < 30, ...`로 구간화 된다.
)
# display(df['단계의 수'].unique())

# 2. 각 범주별 데이터의 수 집계
#   - observed: True인 경우 집계 값이 존재하는 범주만 반환. False인 경우 모든 범주를 반환. (기본은 False 이다).
Ans = df.groupby('단계의 수', observed = False).size()
Ans

단계의 수
A     2874
B    26993
C    21105
D     1444
dtype: int64

# Question 63.
- 6월 데이터 중 12시 Temperature의 표준편차를 구하여라.

In [246]:
# 1. 6월 12시 데이터만 필터링
target = df.loc[df['datetime'].dt.strftime('%m %H') == '06 12']
# display(target['datetime'].unique())

# 2. 필터링된 데이터에서 Temperature 컬럼의 표준편차를 출력
Ans = target['temperature'].std()
print(Ans)

2.0499417827951025

# Question 64.
- 6월 데이터 중 12시의 Temperature의 분산을 구하여라.

In [249]:
# 1. 6월 12시 데이터만 필터링
target = df.loc[df['datetime'].dt.strftime('%m %H') == '06 12']
# display(target['datetime'].unique())

# 2. 필터링된 target 데이터프레임의 Temperature 컬럼의 분산을 계산
Ans = target['temperature'].var()
print(Ans)

4.202261312849163

# Question 65.
- Temperature의 평균이상의 Temperature의 값을 갖는 데이터를 Temperature를 기준으로 정렬했을 때 4번째 행의 Humidity 값을 출력하라.
- (마님 코드로 해도 답이 다른 걸로 보아 대상으로 사용하는 데이터프레임이 다른 듯).

In [277]:
# 1. Temperature 컬럼을 기준으로 평균 이상인 데이터만 필터링
target = df.loc[df['temperature'] >= df['temperature'].mean()]
# display(target)

# 2. Temperature를 기준으로 정렬
target = target.sort_values('temperature')
# display(target['temperature'])

# 3. 네 번째 행의 Humidity를 출력
Ans = target['humidity'].iloc[3]
print(Ans)

89.5

# Question 66.
- Temperature 컬럼이 중간값 이상을 갖는 데이터만 필터링하고, Temperature를 기준으로 정렬했을 때 네 번쩨 행의 Humidity를 출력하라.
- (마님 코드로 해도 답이 다른 걸로 보아 대상으로 사용하는 데이터프레임이 다른 듯).

In [278]:
# 1. Temperature가 중간값 이상인 데이터만 필터링
target = df.loc[df['temperature'] >= df['temperature'].median()]
# display(target)

# 2. Temperature 컬럼을 기준으로 정렬
target = target.sort_values('temperature')
# display(target['temperature'])

# 3. 네 번째 행의 Humidity를 출력.
Ans = target['humidity'].iloc[3]
print(Ans)

62.66

# Question 67.
- 데이터를 로드하라.

In [ ]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
df = pd.read_csv(data)

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Question 68.
- Legendary 컬럼은 전설 포켓몬 유무를 나타낸다. 전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 출력하라.

In [286]:
# 1. Legendary가 True인 경우와 False인 경우의 평균을 구하고 차이를 계산
Ans = df.loc[df['Legendary'] == True]['HP'].mean() - df.loc[df['Legendary'] == False]['HP'].mean()
print(Ans)

25.55614861329147

# Question 69.
- Type1은 주속성, Tpye2는 부속성을 나타낸다. 가장 많은 부속성의 종류는 무엇인가?

In [301]:
# 1. 컬럼명에 공백이 있기에 '_'로 먼저 치환 후 확인
df.columns = df.columns.str.replace(r'\s+', '_', regex = True).str.strip()
# print(df.columns)

# 2. nuique()를 통해 일단 부속성의 개수 확인
print(df.groupby('Type_2').size().sort_values(ascending = False).reset_index(name = '부속성의 수')['Type_2'].iloc[0])

Flying

# Question 70.
- 가장 많은 Type 1의 종의 평균 Attack 값을 평균 Defense로 나눈 값을 출력하라.

In [308]:
# 1. 가장 많은 Type 1의 종을 필터링.
most_type_1 = df.groupby('Type_1').size().sort_values(ascending = False).reset_index(name = '주속성의 수')['Type_1'].iloc[0]
# print(most_type_1)

# 2. most_type_1에 해당하는 데이터만 필터링
target = df.loc[df['Type_1'] == most_type_1]
# display(target['Type_1'].unique())

# 3. 필터링된 target 데이터프레임의 Attack의 평균을 Defense로 나눈다.
Ans = target['Attack'].mean() / target['Defense'].mean()
print(Ans)

1.0165238678090576

# Question 71.
- 포켓몬 세대(Generation) 중 가장 많은 Legendary를 보유한 세대은 몇 세대인가?

In [319]:
# 1. Legendary가 True인 데이터만 필터링
target = df.loc[df['Legendary'] == True].copy()

# 2. 필터링 된 target 데이터프[레임을 Generation과 Legendary로 그룹화하고 집계
target = target.groupby(['Generation', 'Legendary']).size().reset_index(name = '세대별 전설 수')
# display(target)

# 3. 집계된 데이터를 기준으로 내림차순 정렬
target = target.sort_values('세대별 전설 수', ascending = False)
# display(target)

# 4. 첫 번째 행의 세대를 정답으로 출력
Ans = target['Generation'].iloc[0]
print(Ans)

3

# Question 72.
- 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed' 간의 상관관계 계수 중 가장 절댓값이 큰 두 변수와 그 값을구하여라.

In [341]:
# 1. 컬럼명을 변환했기에 컬럼명을 우선 확인
# print(df.columns)

# 2. 필요한 컬럼만 추출하여 새로운 데이터프레임 생성
target_lst = ['HP', 'Attack', 'Defense', 'Sp._Atk', 'Sp._Def', 'Speed']
target = df[['HP', 'Attack', 'Defense', 'Sp._Atk', 'Sp._Def', 'Speed']]
# display(target)

# 3. 상관관계 행렬 생성
corr_mat = target.corr()

# 4. 상관관계 행렬을 긴 형태의 데이터프레임으로 변환
corr_mat = corr_mat.unstack().reset_index()
# display(corr_mat)

# 4. 컬럼명을 직관적으로 변경
corr_mat.columns = ['value_1', 'value_2', 'corr']
# display(corr_mat)

# 5. 중복되는 경우를 판단하기 위해 기준이 되는 컬럼 생성
corr_mat['dup'] = corr_mat.apply(lambda row : tuple(sorted([row['value_1'], row['value_2']])), axis = 1)
# display(corr_mat['dup'])

# 6. 생성한 컬럼을 기준으로 중복제거
corr_mat = corr_mat.drop_duplicates('dup').drop(columns = 'dup')
# display(corr_mat)

# 7. 자기자신과의 상관관계 제거
corr_mat = corr_mat.loc[corr_mat['value_1'] != corr_mat['value_2']]
# display(corr_mat)

# 8. corr 컬럼을 기준으로 내림차순 정렬하고 첫 번째 행을 필터링하여 출력
corr_mat = corr_mat.sort_values('corr', ascending = False)
Ans = corr_mat.iloc[0]
display(Ans)

value_1     Defense
value_2     Sp._Def
corr       0.510747
Name: 16, dtype: object

# Question 73.
- 각 Generation별로 Attack을 기준으로 오름차순 정렬시 상위 3개의 데이터(18개)의 Attack의 평균을 출력하라.

In [351]:
# 1. Generation과 Attack을 기준으로 Generation은 내림차순, Attack은 오름차순 정렬.
target = df.sort_values(['Generation', 'Attack'], ascending = [True, True])
# display(target)

# 2. 정렬된 데이터프레임 target을 Geration으로 그룹화하고 각 상위 3의 Attack을 출력.
target = target.groupby('Generation')[['Generation', 'Attack']].head(3).reset_index(drop = True)
# display(target)

# 3. 생서된 target 데이터프레임의 Attack의 평균을 정답으로 출력.
Ans = target['Attack'].mean()
print(Ans)

19.5

# Question 74.
- 각 Generation의 Attack으로 내림차순 정렬 후 상위 5개의 데이터들(30개)의 Attack의 평균을 출력하라.

In [ ]:
# 1. 바로 이전 문제(Question 73)와 같기에 한 줄로 코딩
Ans = df.sort_values(['Generation', 'Attack'], ascending = [True, False]).groupby('Generation')['Attack'].head(5).mean()
print(Ans)

157.23333333333332

# Question 75.
- 가장 흔하게 발견되는 (Type1, Type2)의 쌍은 무엇인가?
- (마님의 풀이가 더 직관적이고 효율적이다.)

In [ ]:
# 1. Type2가 nan이 있이게 non이 아닌 값들만 출력.
target = df.loc[df['Type_2'].notna()].copy()
# display(target.info())

# 1. (Type1, Type2) 쌍으로 된 컬럼 생성.
#   - zip(): 반복 가능한 객체를 묶어 튜플로 형태로 반환해 주는 함수.
#   - list()로 묶어 Series로 컬럼을 생성.
target['Type_pairs'] = list(zip(target['Type_1'], target['Type_2']))
# display(target['Type_pairs'])

# 2. Type_pairs로 그룹화를 한 뒤 각 범주의 빈도수를 출력.
target = target.groupby('Type_pairs').size().reset_index(name = '쌍별 빈도')
# display(target)

# 3. 쌍별 빈도를 중심으로 내림차순 정렬 후 첫 번째 행을 출력.
target = target.sort_values('쌍별 빈도', ascending = False).reset_index(drop = True).iloc[0]
display(target.to_frame().T)

# 4. 번외: 필요하다면 아래와 같이 Type_pairs 컬럼에서 개별 Type을 출력하여 사용.
Type_1_value = target['Type_pairs'][0]
Type_2_value = target['Type_pairs'][1]

'''
< 마님 풀이: 비용상으로 더 효율적임 (불필요한 컬럼 생성이 없기 때문) >
result = df[['Type 1','Type 2']].value_counts().head(1)
print(result)
'''

         Type_pairs 쌍별 빈도
0  (Normal, Flying)    24

Normal, Flying

# Question 76.
- 한 번씩만 존재하는 (Type1, Type2)의 쌍의 개수는 몇 개인가?
- (마님의 풀이가 더 직관적이고 효율적이다.)

In [ ]:
# 1. Type2가 존재하는 데이터만 필터링
target = df.loc[df['Type_2'].notna()].copy()
# display(target.info())

# 2. target데이터에 Type_pairs컬럼을 추가
target['Type_pairs'] = list(zip(target['Type_1'], target['Type_2']))
# display(target['Type_pairs'])

# 3. Type_pairs로 그룹화하고 빈도수가 1인 쌍만 리스트로 필터링
temp = target.groupby('Type_pairs').size().reset_index(name = '쌍별 빈도수')
# display(temp)

# 4. 리스트로 빈도수가 1인 쌍들만을 필터링 후 len()을 통해 결과반환
pairs_lst = list(temp.loc[temp['쌍별 빈도수'] == 1]['Type_pairs'])
Ans = len(pairs_lst)
print(Ans)

'''
< 마님 풀이: 비용상으로 더 효율적임 (불필요한 컬럼 생성이 없기 때문) >
target = df[['Type 1','Type 2']].value_counts()
result = len(target[target==1])
print(result)
'''

39

# Question 77.
- 한 번씩만 존재하는 (Type1, Type2)의 쌍을 각 세대(Generation)은 몇 개씩 갖고 있는가?
- 이번에는 컬럼을 생성하는 것이 더 효율적.

In [466]:
# 1. Type2가 존재하는 데이터만 필터링
target = df.loc[df['Type_2'].notna()].copy()
# display(target.info())

# 2. target데이터에 Type_pairs컬럼을 추가
target['Type_pairs'] = list(zip(target['Type_1'], target['Type_2']))
# display(target['Type_pairs'])

# 3. Type_pairs로 그룹화하고 빈도수가 1인 쌍만 리스트로 필터링
temp = target.groupby('Type_pairs').size().reset_index(name = '쌍별 빈도수')
# display(temp)

# 4. 리스트로 빈도수가 1인 쌍들만을 필터링 후 len()을 통해 결과반환
pairs_lst = list(temp.loc[temp['쌍별 빈도수'] == 1]['Type_pairs'])
# display(pairs_lst)

# 5. target에서 pairs_lst에 해당하는 데이터만 필터링
target_pair = target.loc[target['Type_pairs'].isin(pairs_lst)]
# display(target_pair.groupby('Type_pairs').size())

# 6. Generation으로 그룹화한 뒤 Type_pairs의 범주의 종류를 집계
Ans = target_pair.groupby(['Generation'])['Type_pairs'].nunique()
display(Ans)

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: Type_pairs, dtype: int64

# Question 78.
- 데이터를 로드하라.

In [468]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv'
df = pd.read_csv(data)

df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

# Question 79.
- 전체 데이터의 `수축기혈압(최고) - 이완기혈압(최저)`의 평균을 구하여라.

In [487]:
# 1. 컬럼명들부터 확인
# display(df.columns)

# 2. 공백이 있어 컬럼명을 출력하기 어려우니 공백제거
df.columns = df.columns.str.replace(r'\s+', '', regex = True).str.strip()
# display(df.columns)

# 3. `수축기혈압(최고) - 이완기혈압(최저)`를 컬럼으로 생성한다.
df['혈압차이'] = df['수축기혈압(최고):mmHg'] - df['이완기혈압(최저):mmHg']
# display(df['혈압차이'])

# 4. 평균을 계산하고 출력.
Ans = df['혈압차이'].mean()
print(Ans)

52.19539414750672

# Question 80.
- 50 ~ 59세의 평균신장을 구하여라.

In [491]:
# 1. 50대에 속하는 데이터만 필터링
target = df.loc[(df['측정나이'] >= 50) & (df['측정나이'] < 60)]
# display(target['측정나이'].describe())

# 2. 필터링한 target 데이터프레임의 평균신장을 출력.
Ans = target['신장:cm'].mean()
print(Ans)

164.07490107405314

# Question 81.
- 연령대 (20 ~ 29: 20대, 30 ~ 39: 30대, ...)인원수를 구하여라.

In [502]:
# 1. 나이 구간 확인
print(df['측정나이'].min(), df['측정나이'].max())

# 2. pd.cut을 통해 연령대 컬럼을 생성.
df['연령대 그룹'] = pd.cut(
    df['측정나이'],
    bins = [20, 30, 40, 50, 60, 70],
    labels = ['20대', '30대', '40대', '50대', '60대'],
    right = False
)
# display(df['연령대 그룹'])

# 3. 그룹화 하여 집계
Ans = df.groupby('연령대 그룹').size()
display(Ans)

21.0 64.0

C:\Users\ashle\AppData\Local\Temp\ipykernel_33672\526798433.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  Ans = df.groupby('연령대 그룹').size()

연령대 그룹
20대    5831
30대    2660
40대    1801
50대    1769
60대    1335
dtype: int64

# Question 82.
- 연령대(20 ~ 29: 20대, 30 ~ 39: 30대, ...)별 등급의 빈도수를 데이터프레임으로 출력하라.

In [510]:
# 1. 연령대 컬럼생성
df['연령대 그룹'] = pd.cut(
    df['측정나이'],
    bins = [20, 30, 40, 50, 60, 70],
    labels = ['20대', '30대', '40대', '50대', '60대'],
    right = False
)

# 2. `연령대-등급`별로 그룹화한 뒤 집계
Ans = df.groupby(['연령대 그룹', '등급'], observed = False).size().reset_index(name = '빈도수')
Ans

   연령대 그룹 등급   빈도수
0     20대  A  1585
1     20대  B  1443
2     20대  C  1455
3     20대  D  1348
4     30대  A   743
5     30대  B   697
6     30대  C   626
7     30대  D   594
8     40대  A   386
9     40대  B   428
10    40대  C   455
11    40대  D   532
12    50대  A   321
13    50대  B   410
14    50대  C   474
15    50대  D   564
16    60대  A   314
17    60대  B   371
18    60대  C   339
19    60대  D   311

# Question 83.
- 남성 중 A 등급과 D 등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라.

In [521]:
# 1. 측정회원성별 확인
# df['측정회원성별'].unique()

# 2. 남성이면서 A 등급과 D 등급만을 필터링
target = df.loc[(df['측정회원성별'] == 'M') & (df['등급'].isin(['A', 'D']))]
# target['등급'].unique()

# 3. 각 체지방률 평균을 계산
target_mean = target.groupby('등급')['체지방율:%'].mean().reset_index(name = '체지방율 평균')
target_mean

# 4. 더 큰 체지방율 평균에서 더 작은 체지방율 평균을 차감.
Ans = target_mean['체지방율 평균'].iloc[1] - target_mean['체지방율 평균'].iloc[0]
print(Ans)

7.932086486137521

# Question 84.
- 여성 중 A 등급과 D 등급의 체중의 평균 차이(큰 값에서 작은 값의 차)를 구하여라.

In [526]:
# 1. 여성이면서 A 등급과 D 등급인 데이터만 필터링
target = df.loc[(df['측정회원성별'] == 'F') & (df['등급'].isin(['A', 'D']))]
# display(target['등급'].unique())

# 2. 이번에는 한 줄 코딩하고 절대값 사용.
Ans = abs(target.loc[target['등급'] == 'A']['체중:kg'].mean() - target.loc[target['등급'] == 'D']['체중:kg'].mean())
print(Ans)

5.176211590296504

# Question 85.
- bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈 값이다. 데이터의 bmi를 구현한 새로운 컬럼을 추가하고, 남성의 bmi 평균을 구하여라.

In [530]:
# 1. bmi 컬럼 생성.
df['bmi'] = df['체중:kg'] / (((df['신장:cm']) / 100) ** 2)
# display(df['bmi'])

# 2. 남성의 평균 bmi를 한 줄 코딩
Ans = df.loc[df['측정회원성별'] == 'M']['bmi'].mean()
print(Ans)

24.46134409819308

# Question 86.
- bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라.

In [532]:
# 1. 앞서 생성한 bmi 컬럼을 활용하여 한 줄 코딩.
Ans = df.loc[df['체지방율:%'] > df['bmi']]['체중:kg'].mean()
print(Ans)

61.7408806392542

# Question 87.
- 남성과 여성의 악력 평균의 차이를 구하여라.

In [534]:
# 1. 필요한 데이터를 필터링하고 평균 차이를 구하는 한 줄 코딩
Ans = df.loc[df['측정회원성별'] == 'M']['악력D:kg'].mean() - df.loc[df['측정회원성별'] == 'F']['악력D:kg'].mean()
print(Ans)

17.55954185047464

# Question 88.
- 남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라.

In [535]:
# 1. 필요한 데이터만 필터링하여 평균 차이를 구하는 한 줄 코딩
Ans = df.loc[df['측정회원성별'] == 'M']['교차윗몸일으키기:회'].mean() - df.loc[df['측정회원성별'] == 'F']['교차윗몸일으키기:회'].mean()
print(Ans)

14.243156833157627