# í•„ìš”í•œ íŒ¨í‚¤ì§€ ë¡œë“œ

In [2]:
import pandas as pd

# Question 1.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [10]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(data, index_col = 0)
display(df.head(10))
display(df.info())

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01
5,"(EN/CN/ID) ì›”ë“œìŠ¤íƒ€ í•œ ë¶„ ë” ëª¨ì…¨ìŠµë‹ˆë‹¤. ë¹„xë°•ì§„ì˜ & ì‹¸ì´, ë¹„ì£¼ì–¼ ê°€...",ì‹œì¦Œë¹„ì‹œì¦Œ Season B Season,24,1274464,26660,368,2701,UCZf4ZESHAIuRtZ-eoMSL97A,2021-01-01
6,[ë¯¸ìŠ¤íŠ¸ë¡¯2] ë§ì€ ì°¸ê°€ìê°€ ë¼ì´ë²Œë¡œ ë½‘ì€ ëª…ì‹¤ìƒë¶€ íŠ¸ë¡¯ ì²œì¬! ì „ìœ ì§„ì´ ë¶€ë¥´ëŠ” '...,TV CHOSUN JOY,24,682608,7435,434,1943,UCYeeEwH_s9yD9HQe4e2JuBw,2021-01-01
7,[ì•„ì´ìœ ì˜ íŒ”ë ˆíŠ¸] íŒ”ë ˆíŠ¸ì— 'ìˆì§€' (With ITZY) Ep.4,ì´ì§€ê¸ˆ [IU Official],24,2420537,200301,956,14641,UC3SyT4_WLHzN7JmHQwKQZww,2021-01-01
8,ë‹µë‹µí•œ ì§‘ì½•.. 2020ë…„ì€ ì˜ˆëŠ¥ìœ¼ë¡œ ì¡´ë²„(ì¡´ì¤‘í•˜ë©° ë²„íŒ€)í–ˆë‹¤ MBC ì—°ì˜ˆëŒ€ìƒ í•˜ì´...,14F ì¼ì‚¬ì—í”„,26,1001581,9462,337,1684,UCLKuglhGlMmDteQKoniENIQ,2021-01-01
9,ë‚˜ ìˆ™ì·¨ ìˆì–´! ì•Œë”¸ë”¸í•´! í•„ë¦„ ëŠê²¼ì–´ë¥¼ ì˜ì–´ë¡œ ì–´ë–»ê²Œ í• ê¹Œìš”?,Sarah Kim,27,1358098,8224,820,1406,UCMXFwld5hCpMc2-49cndljA,2021-01-01

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

None

# Question 2.
- ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼.

In [ ]:
# 1. channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë¹ˆë„ìˆ˜ë¥¼ ê³„ì‚°, ìƒìœ„ 10ê°œì˜ channelIdë¥¼ ê°€ì ¸ì˜¨ë‹¤. (í›„ì— ì±„ë„ëª…ì— ë§¤í•‘í•˜ê¸° ìœ„í•´).
#   - value_counts() í•¨ìˆ˜ëŠ” ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì„ í•´ì£¼ê¸°ì— ë°”ë¡œ head()ë¥¼ í†µí•´ ìƒìœ„ 10ê°œë¥¼ ì¶”ì¶œí•  ìˆ˜ ìˆë‹¤.
#   - index: value_counts() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ 'index = channelId', 'value = ë¹ˆë„ìˆ˜' ê°€ ë˜ê¸°ì— ìƒìœ„ 10ê°œì˜ Idë¥¼ ê°€ì ¸ì˜¤ê¸°ìœ„í•´ ì‚¬ìš©í•œë‹¤.
#   - tolist(): indexë¥¼ ì‚¬ìš©í•˜ë©´ index ìë£Œí˜•ìœ¼ë¡œ ê²°ê³¼ê°€ ì¶œë ¥ë˜ê¸°ì— list typeìœ¼ë¡œ ë³€í™˜í•œë‹¤.s
top10_channel_ids = df['channelId'].value_counts().head(10).index.tolist()
top10_channel_ids

['UCszFjh7CEfwDb7UUGb4RzCQ',
 'UCtm_QoN2SIxwCE-59shX7Qg',
 'UClzB2iZ5jPoTNz0S-QU6Wiw',
 'UCaKod3X1Tn4c7Ci0iUKcvzQ',
 'UCiwQRG2sCcfjKkgxMEdJGPg',
 'UChbE5OZQ6dRHECsX0tEPEZQ',
 'UCLkAepWjdylmXSltofFvsYQ',
 'UCQ2O-iftmnlfrBuNsUUTofQ',
 'UCtfriFvIe5gIe8wRWb8UTMg',
 'UCRuSxVu4iqTK5kCh90ntAgA']

In [20]:
# 2. channelIDì— channelTitleì„ ë§¤í•‘
#   -> channelIdì—ì„œ ì¤‘ë³µë˜ëŠ” ë²”ì£¼ë¥¼ ì œê±°í•œë‹¤.
#   -> set_index('channelId')
#       - channelIdë¥¼ ìƒˆë¡œìš´ indexë¡œ í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì„ ë°˜í™˜í•œë‹¤.
#       - * ì£¼ì˜ *: set_index() í•¨ìˆ˜ëŠ” ê¸°ì¡´ ë°ì´í„°í”„ë ˆì„ì„ ë³€í™˜í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ ë³€í™˜ëœ ë°ì´í„°í”„ë ˆì„ì„ return í•œë‹¤.
#   -> ['channelTitle']
#       - channelIdê°€ indexê°€ ëœ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì—ì„œ channelTitle ì»¬ëŸ¼ë§Œì„ í•„í„°ë§í•œë‹¤.
#   -> ê²°ê³¼ì ìœ¼ë¡œ channelIdì™€ channelTitle ë‘ ì»¬ëŸ¼ì„ ê°–ëŠ” ë°ì´í„°í”„ë ˆì„ `id_to_title` ê°ì²´ë¥¼ ì´ˆê¸°í™”í•œë‹¤.
id_to_title = df.drop_duplicates('channelId').set_index('channelId')['channelTitle']
id_to_title

channelId
UChbE5OZQ6dRHECsX0tEPEZQ                        ì¥ì‚ì­ˆ
UCxXgIeE5hxWxHG6dz9Scg2w    RAIN's Official Channel
UCZUPZW5idAxYp-Asj__lVAA                ì„œìš¸ì‹œ Â· Seoul
UCT3CumbFIJiW33uq0UI3zlg               ê³ ê¸°ë‚¨ì MeatMan
UCdWgRSfttvDucq4ApcCg5Mw                      ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘
                                     ...
UCsiuN8Jco3LbbuTyGuqRgKg                        ë©¸ì¹˜í˜•
UCRnEWJKVc5FpC-9Z3CBt2ZQ            í‚¤í‚¤TV, ì „ì§€ì  ì˜ˆëŠ¥ ì‹œì
UCkMN06eC97XL1qR1bExdwWg                      ê¸°ìš©ì´tv
UCp9G3sWsE42Qo9jgnB1ta2Q         INSSAOPPA G [ì¸ì‹¸ì˜¤ë¹ ]
UCRCK5FCJtomQT3b88jXI_DA                í•œêµ­ë‹Œí…ë„ ê³µì‹ ì±„ë„
Name: channelTitle, Length: 1770, dtype: object

In [21]:
# 3. id_to_title ì´ì „ì— ì¶”ì¶œí•œ ìƒìœ„ 10 ê°œì˜ ëª©ë¡ì¸ top10_channel_idsì˜ ê° ìš”ì†Œë¥¼ ìˆœíšŒí•˜ë©° ë§¤ì¹­ë˜ëŠ” ê°’ì„ ê²°ê³¼ë¡œ ë°›ëŠ”ë‹¤.
Ans = [id_to_title[ch_id] for ch_id in top10_channel_ids]
Ans

['ì§¤íˆ°',
 'SPOTV',
 'íŒŒë¿Œë¦¬',
 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„',
 'ì¥ì‚ì­ˆ',
 'BANGTANTV',
 'ì±„ë„ ì‹­ì˜¤ì•¼',
 'ì´ê³¼ì¥',
 'ì´ëª‡ëª…']

# Question 3.
- ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikes ìˆ˜ê°€ likes ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼.

In [ ]:
# locì„ í†µí•œ í–‰ ì¡°ê±´ í•„í„°ë§.
target = list(df.loc[df.dislikes > df.likes].channelTitle.unique())
target

['í•«ë„ê·¸TV',
 'ASMR ì• ì •TV',
 'í•˜ì–€íŠ¸ë¦¬HayanTree',
 'ì–‘íŒ¡ YangPang',
 'ì² êµ¬í˜• (CHULTUBE)',
 'ì™œëƒë§¨í•˜ìš°ìŠ¤',
 '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€',
 'ì˜¤ë©”í‚´TV',
 'ìœ¡ì§€ë‹´',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO',
 'Gen.G esports']

# Question 4.
- ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œ ë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [ ]:
# 1. channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ groupbyí•œ ë’¤ chnnelTItle ì»¬ëŸ¼ë§Œì„ ì¶”ì¶œí•œë‹¤.
#   -> nunique(): ê³ ìœ í•œ ë²”ì£¼ì˜ ì¢…ë¥˜ì˜ ìˆ˜ë¥¼ ì¶”ì¶œí•œë‹¤. (í˜„ì¬ëŠ” channelId ë³„ channelTitleì˜ ìˆ˜ë¥¼ ë°˜í™˜).
'''
< nunique() >
- pandasì˜ í•¨ìˆ˜ë¡œ ëª‡ ê°œì˜ ì„œë¡œ ë‹¤ë¥¸ ë²”ì£¼(ë²”ì£¼ì˜ ì¢…ë¥˜)ê°€ ìˆëŠ”ì§€ ì¶œë ¥í•œë‹¤.
- í˜„ì¬ ë¬¸ì œì—ì„œëŠ” channelId ë³„ë¡œ ëª‡ ê°œì˜ ì„œë¡œë‹¤ë¥¸ channelTitleì´ ìˆëŠ”ì§€ ì¶œë ¥í•œë‹¤.
- ì‚¬ìš© ì˜ˆ
    - Series.nunique()
    - DataFrame.nunique()
''' 
title_counts = df.groupby('channelId')['channelTitle'].nunique() # title_countsëŠ” Seriesì´ë‹¤.
title_counts

# 2. ê³ ìœ í•œ ë²”ì£¼ ì¢…ë¥˜ì˜ ìˆ˜(title_counts)ê°€ 2 ì´ìƒì¸ ê²½ìš°ë§Œ í•„í„°ë§ í•œë‹¤.
#   - title_countsëŠ” Seriesì´ê¸°ì— ì¡°ê±´ì— ë§ëŠ” ê²½ìš°ë¥¼ í•„í„°ë§í•˜ë©´ `index(channelId)`ì™€ `channelIdë³„ í•´ë‹¹ë˜ëŠ” channelTitleì˜ ìˆ˜'ë¥¼ ì¶œë ¥í•œë‹¤.
#   - len()ì„ í†µí•´ ì´ ê°œìˆ˜ë¥¼ ë°˜í™˜.
Ans = title_counts[title_counts > 1]
len(Ans)

71

# Question 5.
- ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ ì¤‘ ê°€ì¥ ë§ì€ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [ ]:
# 1. ìš”ì¼ì„ ë‹¤ë£¨ê¸° ìœ„í•´ trending_date2ë¥¼ datetime í˜•ìœ¼ë¡œ ë³€í™˜
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

# 2. datetimeìœ¼ë¡œ í˜•ë³€í™˜ëœ trending_date2ì»¬ëŸ¼ì„ dt.day_name()í•¨ìˆ˜ë¥¼ í†µí•´ ìš”ì¼ë¡œ ë³€í™˜í•˜ê³ , Sundayì™€ ì¼ì¹˜í•˜ëŠ” í–‰ë§Œì„ í•„í„°ë§.
#   -> categoryIdì˜ ë¹ˆë„ìˆ˜ë¥¼ ê³„ì‚°.
#   -> index[0]ì„ í†µí•´ ì²« ë²ˆì§¸ í–‰ ê°’ì„ ë°˜í™˜ (value_counts()ë¡œ ì¸í•´ indexê°€ categoryIdê¸°ì´ ë•Œë¬¸).
Ans = df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(Ans)

24

# Question 6.
- ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ ê°œì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼.

In [52]:
# 1. ìš”ì¼ë³„ ì§‘ê³„ì´ê¸°ì— ì¼ë‹¨ ë‚ ì§œë¥¼ ìš”ì¼ë³„ë¡œ ë§¤í•‘í•œ ì»¬ëŸ¼ì„ ìƒì„±í•œë‹¤.
df['weekday'] = pd.to_datetime(df['trending_date2']).dt.day_name()

# 2. categoryId ë³„ë¡œ weekdayì„ ë§¤í•‘í•˜ê³ , ê° ìš”ì¼ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì¸¡ì •í•¨.
#   -> unstack(): ìš”ì¼ì„ unstackí•˜ì—¬ ì»¬ëŸ¼ìœ¼ë¡œ ì‚¬ìš©í•¨.
Ans = df.groupby(['categoryId', 'weekday']).size().unstack()
print(Ans)

weekday     Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
categoryId
1              243     263       255     274       246      257        234
2              120     105       119      99       128      119        129
10             833     837       776     830       890      894        917
15             187     215       198     217       207      208        207
17             633     668       592     636       682      708        706
19              90      92        87      91        92       89         85
20             283     298       296     289       282      285        291
22            1288    1373      1289    1337      1341     1375       1333
23             568     594       570     556       560      569        566
24            2976    3148      3066    3096      2954     3084       3090
25             444     453       422     437       470      452        468
26             369     378       364     363       375      394        385
27             183     205       183     199       194      194        212
28             171     160       173     167       166      161        165
29              12      10        10       9        13       11         12

# Question 7. 
- ëŒ“ê¸€ì˜ ìˆ˜(comment_count)ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. view_count ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼. (view_count ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸).

In [110]:
# 1. view_count != 0ì¸ ë°ì´í„° í•„í„°ë§
#   - copy()ë¥¼ ì¨ì£¼ëŠ” ê²ƒì´ ì˜³ë‹¤. ì›ë³¸ ë°ì´í„°í”„ë ˆì„ì„ ìœ ì§€í•˜ê¸° ìœ„í•´ì„œì´ë‹¤.
target = df.loc[df.view_count != 0 ].copy()
target

# 2. ì¶”ì¶œí•œ ë°ì´í„° í”„ë ˆì„ targetì„ ê¸°ì¤€ìœ¼ë¡œ view_countëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ ì»¬ëŸ¼ ìƒì„±
target['view_vs_comment'] = target['comment_count'] / target['view_count']
target['view_vs_comment']

# 3. ì •ë ¬ í›„ ì˜ìƒ ì´ë¦„ ì¶œë ¥.
Ans = target.sort_values('view_vs_comment', ascending = False)['title'].iloc[0]
Ans

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

# Question 8.
- `ëŒ“ê¸€ì˜ ìˆ˜(comment_count)`ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. `view_count` ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (ë‹¨, `view_count`ì™€ `ratio`(`comment_count`ì™€ `view_count`ì˜ ë¹„ìœ¨ ê³„ì‚° ê²°ê³¼) ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤).

In [113]:
# 1. view_count ëŒ€ë¹„ comment_count ê³„ì‚° (ì´ì „ ë¬¸ì œì˜ `target`ë°ì´í„° í”„ë ˆì„ê³¼ `view_vs_comment` ì»¬ëŸ¼ í™œìš©).
# view_vs_commentì´ 0ì¸ ê²½ìš° ì œì™¸
target = target.loc[target['view_vs_comment'] != 0]
target.head()

# 2. view_vs_commentë¥¼ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬.
target = target.sort_values('view_vs_comment')

# 3. ì²« ë²ˆì§¸ í–‰ì˜ titleì„ ì¶œë ¥
Ans = target['title'].iloc[0]
Ans

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

# Question 9.
- `likes` ëŒ€ë¹„ `dislikes`ì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (ë‹¨, `likes`, `dislikes` ê°’ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤).

In [67]:
# 1. likeì™€ dislikeì˜ ê°’ì´ 0ì¸ ê²½ìš° ì œì™¸
target = df.loc[(df['likes'] != 0) & (df['dislikes'] != 0)].copy()
target.head()

# 2. likes ëŒ€ë¹„ dislikes ì»¬ëŸ¼ ìƒì„±
target['likes_vs_dislikes'] = target['dislikes'] / target['likes']

# 3. ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ í›„ ê°€ì¥ ì ì€ ì˜ìƒì˜ title ì¶”ì¶œ.
Ans = target.sort_values('likes_vs_dislikes').title.iloc[0]
Ans

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

# Question 10.
- ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨).

In [ ]:
# 1. channelIdë¥¼ indexë¡œí•˜ê³  channelTitleë¥¼ ëŒ€ìƒìœ¼ë¡œ value_counts()ë¥¼ í•œë‹¤.
target = df.groupby('channelId').size()
target = target.sort_values(ascending = False)
temp = target.index[0]

# 2. ì •ë ¬ì„ ì ìš©í•˜ê³  ê°’ì„ ì¶œë ¥í•œë‹¤.
Ans = df.loc[df['channelId'] == temp, 'channelTitle'].iloc[0]
Ans

# groupby().size(): ì—¬ëŸ¬ ì»¬ëŸ¼ì„ ë‹¤ë£° ë•Œ ìœ ìš©
#   - í˜„ì¬ ë¬¸ì œëŠ” channelIdë¡œ groupí•œ í›„ ê´€ë ¨ëœ channelTitleê¹Œì§€ ì°¸ì¡°í•´ì•¼ í•˜ê¸°ì— groupby().size()ê°€ ì í•©.
# value_counts(): ë‹¨ì¼ Seriesë¥¼ ëŒ€ìƒìœ¼ë¡œ í•œë‹¤.

'ì§¤íˆ°'

# Question 11.
- 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ˜ëŠ”?

In [ ]:
# 1. titleì„ ê¸°ì¤€ìœ¼ë¡œ ë¹ˆë„ìˆ˜ë¥¼ ê³„ì‚°í•˜ì—¬ target Seriesë¥¼ ìƒì„±.
# ** ì£¼ì˜ **
#   - ë§ˆë‹˜ì€ channelIdì™€ titleë¡œ í•„í„°ë§í•˜ì˜€ìœ¼ë‚˜ ë¬¸ì œ ì¡°ê±´ì´ 'ë™ì˜ìƒ'ë§Œì„ ëŒ€ìƒìœ¼ë¡œ í•˜ê¸°ì— channelIdë¥¼ ì œì™¸í•œ titleë§Œì„ ì‚¬ìš©í•˜ì˜€ë‹¤.
#   - channelIdë¥¼ í¬í•¨í•˜ëŠ” ê²½ìš° `groupby(['channelId', 'title'])`ë¡œ ì½”ë“œë¥¼ ë³€ê²½í•´ì£¼ë©´ ê°™ì€ ë‹µì„ ì–»ì„ ìˆ˜ ìˆë‹¤.
target = df.groupby('title').size()
target

# 2. ìƒì„±í•´ ë‘” target Seriesë¥¼ ê¸°ì¤€ìœ¼ë¡œ 20ì´ìƒì¸ í–‰ë“¤ë§Œ í•„í„°ë§.
#   - locì€ Seriesì—ë„ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.
Ans = target.loc[target >= 20]
len(Ans)

41

# Question 12.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [4]:
channel_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'
video_data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv'

channel = pd.read_csv(channel_data)
video = pd.read_csv(video_data)

print('channel')
display(channel.head())
print('video')
display(video.head())

channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

# Question 13.
- ê° ë°ì´í„°ì˜ `ct`ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í•  ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³ , `video` ë°ì´í„°í”„ë ˆì„ì˜ `videoname`ì˜ ê° ë²”ì£¼ë§ˆë‹¤ ëª‡ ê°œì˜ ë°ì´í„°ì”©ì„ ê°–ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼.

In [5]:
# 1. ë‘ ë°ì´í„°í”„ë ˆì„ì˜ ct ì»¬ëŸ¼ì„ datetimeìœ¼ë¡œ ë³€í™˜
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
# print(channel['ct'].dtype)
# print(video['ct'].dtype)

# 2. video ë°ì´í„°í”„ë ˆì„ì˜ videoname ì»¬ëŸ¼ì˜ ë²”ì£¼ë³„ ë¹ˆë„ í™•ì¸.
Ans = video.groupby('videoname').size()
print(Ans)

videoname
ê³µë²” EP1    3492
ê³µë²” EP2    3204
ê³µë²” EP3    2568
ê³µë²” EP4    2280
ê³µë²” EP5    1562
ê³µë²” EP6    1274
ê³µë²” EP7     555
ê³µë²” EP8     266
dtype: int64

# Question 14.
- `video` ë°ì´í„°í”„ë ˆì„ì˜ `videoname`ì˜ ê°ë²”ì£¼ë³„ë¡œ `ìµœì‹  ë‚ ì§œ(ct)`ì˜ `viewcnt`ë¥¼ ì¶œë ¥í•˜ë¼.

In [6]:
# 1. ct(ë‚ ì§œ)ë¥¼ ìµœì‹  ë‚ ì§œë¡œ í•˜ê¸° ìœ„í•´ ìš°ì„  ì •ë ¬(ë‚´ë¦¼ì°¨ìˆœ)
#   -> videoname ë³„ë¡œ viewcntë¥¼ ì¶œë ¥í•´ì•¼í•˜ê¸°ì— groupby('videoname')
#   -> first(): groupby()í•¨ìˆ˜ì˜ ì§‘ê³„í•¨ìˆ˜ì´ë‹¤. ì§‘ê³„ í›„ì˜ `ì²« ë²ˆì§¸ í–‰`ì„ ë°˜í™˜í•œë‹¤.
#   -> reset_index(): ì‚¬ìš©í•˜ì§€ ì•Šì•„ë„ ë˜ëŠ”ë° ì´ë²ˆ ë¬¸ì œì—ì„œ groupby()ì— ì‚¬ìš©ëœ videoname ì»¬ëŸ¼ì„ indexë¡œ ì‚¬ìš©í•˜ì§€ ì•ŠëŠ” ê²ƒì„ í…ŒìŠ¤íŠ¸í•˜ê¸° ìœ„í•´ ì‚¬ìš©.
target = video.sort_values('ct', ascending = False).groupby(['videoname']).first().reset_index()

# 2. í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•´ì„œ ì¶œë ¥.
target[['viewcnt', 'videoname', 'ct']]

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

# Question 15.
- `channel` ë°ì´í„°í”„ë ˆì„ì˜ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ `êµ¬ë…ì ìˆ˜(subcnt)`ë¥¼ ì¶œë ¥í•˜ë¼.

In [7]:
# 1. ë‚ ì§œ ê¸°ì¤€ í•„í„°ë§í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±.
target = channel.loc[channel['ct'] >= '2021-10-03'].copy()
target

# 2. ì²˜ìŒ ê¸°ë¡ëœ ë‚ ì§œì´ê¸°ì— sort_values()í•¨ìˆ˜ì˜ ascending = Trueë¡œ ì„¤ì •í•œë‹¤.
#   - ascending = True: ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ê³¼ê±° ë‚ ì§œë¥¼ ì‹œì‘ìœ¼ë¡œ ì •ë ¬ë˜ê¸°ì— first()ë¡œ ê°€ì ¸ì˜¤ë©´ ì²« ë²ˆì§¸ í–‰ì´ `ì²˜ìŒ ê¸°ë¡ëœ êµ¬ë…ì ìˆ˜`ê°€ ëœë‹¤.
Ans = target.sort_values('ct').groupby(['channelid']).first().reset_index()
Ans[['channelname', 'subcnt']]

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
3       ë¦´í„ Lilpearl    10100
4               ì¡°ë‚˜ë‹¨   215000
5        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
6     Balming Tiger    54300
7               ê½ˆëšœë£¹  1330000
8   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
9        ì¸„ì •ChuJeong   322000
10    ê³½í† ë¦¬ kwak tori   471000

# Question 16.
- channel ë°ì´í„°í”„ë ˆì„ì˜ ê° ì±„ë„ì˜ 2021ë…„ 10ì›” 03ì¼ 3ì‹œì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¶€í„° 2021ë…„ 11ì›” 01ì¼ 15ì‹œì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ê¹Œì§€ì˜ êµ¬ë…ì ìˆ˜(subcnt)ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼.

In [8]:
# 1. í•„í„°ë§ì„ ìœ„í•œ ê¸°ì¤€ ìƒì„±
oct_time = '2021-10-03 03'
nov_time = '2021-11-01 15'

# 2. ë°ì´í„°í”„ë ˆì„ ìƒì„±
# dt.strftime(): ë‚ ì§œí˜•ì„ str í˜•ìœ¼ë¡œ í˜•ë³€í™˜í•˜ëŠ” í•¨ìˆ˜.
#   - ë‚ ì§œí˜•ì„ str í˜•ìœ¼ë¡œ í˜•ë³€í™˜í•˜ì—¬ oct_time ê·¸ë¦¬ê³  nov_timeê³¼ ë¹„êµí•˜ëŠ” ê²ƒ.
oct_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == oct_time]
nov_df = channel.loc[channel['ct'].dt.strftime('%Y-%m-%d %H') == nov_time]

# 3. ë°ì´í„°í”„ë ˆì„ì„ í•©ì¹˜ê¸° ì „ subcntì˜ ëª…ì¹­ì„ ë³€ê²½(ì¦ê°€ìœ¨ì„ ê³„ì‚°í•  ë•Œ ì¤‘ë³µëœ ëª…ì¹­ì´ë©´ ì•ˆë˜ê¸° ë•Œë¬¸).
oct_df = oct_df.rename(columns = {'subcnt' : 'subcnt_oct'})
nov_df = nov_df.rename(columns = {'subcnt' : 'subcnt_nov'})

# 4. í•„í„°ë§í•œ ë‘ ë°ì´í„°í”„ë ˆì„ì„ channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ merge. 
# (ê° ì±„ë„ì— ëŒ€í•œ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ê¸° ë•Œë¬¸ì— channelIdë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤.)
# on = 'channelname': ì±„ë„ ë³„ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ êµ¬í•˜ê¸°ì— channelnameìœ¼ë¡œ ë³‘í•©í•œë‹¤. (ê·¸ë ‡ì§€ ì•Šìœ¼ë©´ channelname_xì™€ channelname_yë¡œ ë‘ ê°œì˜ ì»¬ëŸ¼ì´ ìƒì„±ëœë‹¤).
merged_df = pd.merge(oct_df, nov_df, on = 'channelname', how = 'inner')

# 5. ë³‘í•©ëœ ë°ì´í„°í”„ë ˆì„(merged_df)ì—ì„œ ì¦ê°€ìœ¨ì„ ìƒˆë¡œìš´ ì»¬ëŸ¼ìœ¼ë¡œ ìƒì„±
merged_df['growth_ratio'] = (merged_df['subcnt_nov'] - merged_df['subcnt_oct'])

# 6. ê²°ê³¼ ì¶œë ¥
Ans = merged_df[['channelname', 'growth_ratio']]
display(Ans)

        channelname  growth_ratio
0               ê½ˆëšœë£¹         70000
1             ì•¼ì „ì‚½ì§±ì¬         11000
2        ì¸„ì •ChuJeong          1000
3            ë…¼ë¦¬ì™• ì „ê¸°        -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle             0
5               ì¡°ë‚˜ë‹¨         12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤         10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          1540
8       ë¦´í„ Lilpearl         11000
9     ê³½í† ë¦¬ kwak tori         -2000
10    Balming Tiger          2500

# Question 17.
- ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ì ìˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš” ìˆ˜, ëŒ“ê¸€ ìˆ˜ê°€ ìˆ˜ì§‘ë˜ì—ˆë‹¤. `videoname`ì»¬ëŸ¼ì˜ `ê³µë²” EP1`ê°’ì˜ ë¹„ë””ì˜¤ ì •ë³´ ë°ì´í„° ì¤‘ ìˆ˜ì§‘ ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì¸ ë°ì´í„° êµ¬ê°„ (í•´ë‹¹ ì‹œì  ì „ê³¼ í›„)ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼.

In [9]:
# 1. videonameì´ ê³µë²” EP1ì¸ ë°ì´í„°ë§Œì„ í•„í„°ë§
# ë†€ëê²Œë„ ' ê³µë²” EP1'ë¡œ í•„í„°ë§í•´ì•¼ í•œë‹¤. (ë”°ë¼ì„œ str.strip()ì„ í†µí•´ ê¹”ë”í•˜ê²Œ í•„í„°ë§í•œë‹¤).
target = video.loc[video['videoname'].str.strip() == 'ê³µë²” EP1'].copy()

# 2. ë‚ ì§œ ê¸°ì¤€ìœ¼ë¡œ ì°¨ì´ë¥¼ ê³„ì‚°í•´ì•¼ í•˜ê¸° ë•Œë¬¸ì— ë‚ ì§œ ê¸°ì¤€ ì •ë ¬.
#   - reset_index(): í˜„ì¬ê¸°ì¤€ ì „ê³¼ í›„ì˜ í–‰ë„ í•„í„°ë§í•´ì•¼í•˜ê¸° ë•Œë¬¸ì— indexë¥¼ ì‚¬ìš©í•˜ëŠ” ê²½ìš° ë°œìƒ
#       -> ë”°ë¼ì„œ í˜„ì¬ ë¬¸ì œì—ì„œëŠ” sort í›„ indexë¥¼ ì¬ì •ë¦¬ í•´ ë‘˜ í•„ìš”ê°€ ìˆìŒ.
target = target.sort_values('ct').reset_index(drop = True)

# 3. ì¶”ì¶œí•œ ë°ì´í„°í”„ë ˆì„ targetì—ì„œ ì‹œê°„ ì°¨ì´ë¥¼ ê³„ì‚°í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±.
#   - dt.total_seconds(): datetimeì˜ ì°¨ì´ë¥¼ ì´ˆ ë‹¨ìœ„ë¡œ ë³€í™˜í•´ ì¤€ë‹¤.
'''
< datetimeì˜ ìë£Œí˜• >
1. ì¼ë°˜ datetime
    - ì¼ë°˜ datetimeì˜ ìë£Œí˜•ì€ datetime.datetimeì´ë‹¤.
2. datetime ë¼ë¦¬ì˜ ì°¨ì´
    - datetimeìœ¼ë¡œ ê³„ì‚°í•œ datetimeì˜ ì°¨ì´ëŠ” ìë£Œí˜•ì´ datetime.timedeltaì´ë‹¤.

** ê²°ë¡  **
- dt.total_seconds()ëŠ” ì •í™•íˆëŠ” datetimeì˜ ì°¨ì´ë¥¼ ì´ˆë‹¨ìœ„ë¡œ ë³€í™˜í•´ ì£¼ê¸°ì— datetime.timedeltaì— ì ìš©ë˜ëŠ” í•¨ìˆ˜ì´ë‹¤.
'''
target['time_diff'] = target['ct'].diff().dt.total_seconds() / 60

# 4. 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì— ì†í•˜ëŠ” ë°ì´í„°ì˜ indexë¥¼ í•„í„°ë§í•˜ì—¬ idx ì¶”ì¶œ
#   - indexë¥¼ í•„í„°ë§í•˜ëŠ” ì´ìœ ëŠ” ì „ê³¼ í›„ì˜ ë°ì´í„°ë„ ì¶”ì¶œí•´ì•¼í•˜ê¸° ë•Œë¬¸ì— ìœ„ì¹˜ê¸°ë°˜ ì¶”ì¶œ(iloc)ì„ í•´ì•¼í•œë‹¤.
#   - (ì •í™•íˆëŠ” ì •ìˆ˜í˜• í•„í„°ë§ì€ locë„ ê°€ëŠ¥í•˜ì§€ë§Œ indexë¥¼ ì‚¬ìš©í•˜ë‹ˆ ilocì„ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ í˜•ì‹ìƒ ë§ë‹¤ ì´í•´í•˜ë©´ ëœë‹¤.)
#   - ì´ë•Œ idxëŠ” `.index`ë¡œ í•„í„°ë§ëœ index ê°ì²´ì´ë‹¤. (Series ì•„ë‹˜).
idx = target.loc[(target['time_diff'] <= 5) | (target['time_diff'] >= 20)].index
display('< idx í•„í„°ë§ ê²°ê³¼ >', idx)

# 5. ì¶”ì¶œí•œ indexë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì „ê³¼ í›„ì˜ indexë¥¼ í•„í„°ë§
#   - target_idx ë˜í•œ idxë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì¶”ì¶œëœ index ê°ì²´ì´ë‹¤. (Series ì•„ë‹˜).
target_idx = idx.union(idx - 1).union(idx + 1)
display('< target_idx í•„í„°ë§ ê²°ê³¼ >', target_idx)

# 6. ì¶”ì¶œí•œ index ì¤‘ ë²”ìœ„ ê¸°ì¤€(0ê³¼ len(target) ì‚¬ì´)ì„ ë§Œì¡±í•˜ëŠ” indexë§Œ í•„í„°ë§
target_idx = target_idx[(target_idx >= 0) & (target_idx < len(target))]

# 7. ê²°ê³¼ ì¶œë ¥
#   - êµ³ì´ target_idxë¥¼ ì •ë ¬í•´ ì¤„ í•„ìš”ëŠ” ì—†ë‹¤. ê·¸ëŸ¼ì—ë„ í•œ ì´ìœ ëŠ” ë‚ ì§œ(ct)ë¡œ ì •ë ¬ë˜ì–´ ë³´ê¸°ì— í•˜ê¸° ìœ„í•¨ì´ë‹¤.
Ans = target.iloc[target_idx.sort_values()]
Ans

'< idx í•„í„°ë§ ê²°ê³¼ >'

Index([721, 722, 1636], dtype='int64')

'< target_idx í•„í„°ë§ ê²°ê³¼ >'

Index([720, 721, 722, 723, 1635, 1636, 1637], dtype='int64')

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time_diff
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1,10.016667
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,861.566667
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,0.000000
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1,8.433333
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1,10.000000
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1,30.016667
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1,10.000000

# Question 18.
- video ë°ì´í„°í”„ë ˆì„ì˜ ê° videonameì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼.

In [25]:
# 1. video ë°ì´í„°í”„ë ˆì„ì˜ ct ì»¬ëŸ¼ì—ì„œ ë‚ ì§œë§Œ ì¶”ì¶œ. `ë…„-ì›”-ì¼`` í˜•ì‹ì„ ë§ì¶”ê¸° ìœ„í•´.
video['date'] = video['ct'].dt.date

# 2. videonameìœ¼ë¡œ ê·¸ë£¹í™”
#   -> 'date'ì»¬ëŸ¼ë§Œì„ í•„í„°ë§
#   -> min(): ê°€ì¥ ìµœì‹  ë‚ ì§œë¥¼ ê°€ì ¸ì˜¤ê¸° ìœ„í•¨.
#   -> reset_index(): DataFrame í˜•íƒœë¡œ ë³´ê¸° í¸í•˜ê²Œ í•˜ê¸° ìœ„í•´ ì‚¬ìš©. 
Ans = video.groupby('videoname')['date'].min().reset_index()
Ans

  videoname        date
0    ê³µë²” EP1  2021-10-07
1    ê³µë²” EP2  2021-10-09
2    ê³µë²” EP3  2021-10-14
3    ê³µë²” EP4  2021-10-16
4    ê³µë²” EP5  2021-10-21
5    ê³µë²” EP6  2021-10-23
6    ê³µë²” EP7  2021-10-28
7    ê³µë²” EP8  2021-10-30

# Question 19.
- video ë°ì´í„°í”„ë ˆì„ì˜ `ê³µë²”` ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ” ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ ìˆë‹¤. ê³µë²” ì»¨í…ì¸ (videoname ì»¬ëŸ¼)ë³„ë¡œ ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, ê·¸ë¦¬ê³  videonameìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„°í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ê³ , viewcntê°€ ê°€ì¥ í° ë°ì´í„°ë¥¼ ì¶œë ¥í•˜ë¼.

In [48]:
# 1.19:00 ì‹œì™€ 21 ì‹œ ë“± ì‹œê°„ì„ ì²˜ë¦¬ì™€ ë‚ ì§œë¥¼ ì¶œë ¥í•˜ê¸° ìœ„í•´ íŒŒìƒë³€ìˆ˜ë¥¼ ìƒì„±í•œë‹¤.
# ì‹œê°„
video['hour'] = video['ct'].dt.hour
# ë‚ ì§œ
video['date'] = video['ct'].dt.date

# 2. 19:00 ì‹œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê³µê°œëœ ë‚ ì§œ í•„í„°ë§
#   - ë¶„ë‹¨ìœ„ ì´í•˜ë¥¼ ìƒëµí•˜ëŠ” ì´ìœ ëŠ” ì´ˆë‹¨ìœ„ ë¹„êµì—°ì‚°ì—ì„œëŠ” ì—ëŸ¬ê°€ ìƒê¸¸ ìˆ˜ ìˆê¸° ë•Œë¬¸ì´ë‹¤. (ë¶€ë™ì†Œìˆ˜ì ê³¼ ìœ ì‚¬).
#   - unique(): ë‚ ì§œë§Œ ì¶”ì¶œí•˜ë©´ ë˜ê¸°ì— í•„ìš”ì—†ëŠ” ì¤‘ë³µì„ ì œê±°í•œë‹¤.
release_dates = video.loc[video['hour'] == 19, 'date'].unique()

# 3. video ë°ì´í„°í”„ë ˆì„ì—ì„œ release_datesì™€ 21ì‹œì— í•´ë‹¹í•˜ëŠ” í–‰ë§Œì„ í•„í„°ë§.
target = video.loc[(video['date'].isin(release_dates)) & (video['hour'] == 21)]

# 4. ì •ë‹µ
#   - sort_values(): viewcntë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ ì¡°ê±´ì„ ë§Œì¡±í•˜ê¸° ìœ„í•´ ì„¤ì •.
#   - groupby(): ê³µë²” ì»¨í…ì¸ ë³„ë¡œ ì¶œë ¥í•˜ê¸° ìœ„í•´ ì„¤ì •.
#   - first(): viewcntê°€ ê°€ì¥ í° ë°ì´í„°ë¥¼ ì¶œë ¥í•˜ê¸° ìœ„í•´ ì‚¬ìš©.
Ans = target[['viewcnt', 'ct', 'videoname']].sort_values(by = 'viewcnt', ascending = False).groupby('videoname', as_index = False).first()
Ans

  videoname  viewcnt                  ct
0    ê³µë²” EP1  3161641 2021-10-31 21:50:02
1    ê³µë²” EP2  2185062 2021-10-31 21:50:02
2    ê³µë²” EP3  1658039 2021-10-31 21:50:03
3    ê³µë²” EP4  1804957 2021-10-31 21:50:03
4    ê³µë²” EP5  1488913 2021-10-31 21:50:03
5    ê³µë²” EP6  1730661 2021-10-31 21:50:04
6    ê³µë²” EP7  1594029 2021-10-31 21:50:04
7    ê³µë²” EP8  1170183 2021-10-31 21:50:04

# Question 20.
- video ë°ì´í„°í”„ë ˆì„ì—ì„œ videoname ë³„ë¡œ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê³ , ê° ì—í”¼ì†Œë“œì˜ `ì‹«ì–´ìš”ì˜ ìˆ˜/ì¢‹ì•„ìš”ì˜ ìˆ˜` ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ì–´ë¼. ê·¸ í›„ videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„°í”„ë ˆì„ì„ ratioë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼.

In [57]:
# 1. ìš°ì„  ìµœê·¼ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê¸° ìœ„í•´ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬.
target = video.sort_values('ct', ascending = False)
target

# 2. ê°€ì¥ ìµœê·¼ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê¸° ìœ„í•´ groupby() ì‚¬ìš©.
target = target.groupby('videoname').first().reset_index()
target

# 3. ratio ì»¬ëŸ¼ ìƒì„±
target['ratio'] = target['dislikecnt'] / target['likecnt']

# 4. videonameê³¼ ratioì»¬ëŸ¼ë§Œì„ í•„í„°ë§
Ans = target[['videoname', 'ratio']]

# 5. ratio ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
Ans = Ans.sort_values('ratio', ascending = True)
Ans

  videoname     ratio
6    ê³µë²” EP7  0.013636
5    ê³µë²” EP6  0.015881
3    ê³µë²” EP4  0.017971
4    ê³µë²” EP5  0.021128
2    ê³µë²” EP3  0.022360
0    ê³µë²” EP1  0.027118
1    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

# Question 21.
- video ë°ì´í„°í”„ë ˆì„ì˜ 2021-11-01 00:00:00 ~ 15:00:00 ì‚¬ì´ì˜ ê° ì—í”¼ì†Œë“œ(videoname)ë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤.

In [94]:
# 1. 2021-11-01 00:00:00 ~ 15:00:00ì˜ ë°ì´í„°ë¥¼ í•„í„°ë§
#   - ë²”ìœ„ë¡œ í•„í„°ë§: `==` ì—°ì‚°ìë¥¼ í†µí•œ ë¹„êµëŠ” `ì´ˆë‹¨ìœ„` ë¹„êµì—ì„œ ë¬¸ì œê°€ ë°œìƒí•˜ê¸°ì— ë²”ìœ„ë¡œ í•„í„°ë§í•˜ì—¬ ì²˜ë¦¬í•˜ëŠ” ê²ƒì´ ì¢‹ë‹¤.
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

# ê¸°ê°„ í•„í„°ë§
target = video.loc[(video['ct'] >= start) & (video['ct'] <= end)].reset_index(drop = True)

# 2. ë§ˆì§€ë§‰ ë‚ ì§œì™€ ì²« ë‚ ì§œë¥¼ ì¶”ì¶œí•˜ê¸° ìœ„í•´ ë‚ ì§œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
target = target.sort_values(['videoname', 'ct'], ascending= True)

# 3. ì‹œì‘ ì‹œê°„ëŒ€ì˜ viewcntì™€ ë ì‹œê°„ëŒ€ì˜ viewcnrë¥¼ ì¶œë ¥
#   - ì˜¤ë¦„ì°¨ìˆœ: ê°€ì¥ ê³¼ê±° ë°ì´í„°ê°€ ì²« ë²ˆì§¸ë¡œ ì˜¨ë‹¤.
start_view = target.groupby('videoname').first()
end_view = target.groupby('videoname').last()

# 4. ì°¨ì´ë¥¼ ê³„ì‚°í•œ ì‹œë¦¬ì¦ˆ ìƒì„±
Ans = end_view['viewcnt'] - start_view['viewcnt']

# 5. index(viewname)ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±. (ë‹µì˜ í˜•ì‹ì„ ë§ì¶”ê¸° ìœ„í•´).
#   - to_frame(name = ): ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê¸° ë•Œë¬¸ì— ì»¬ëŸ¼ëª…ì„ ì£¼ì–´ì•¼ í•œë‹¤.
Ans = Ans.to_frame(name = 'viewcnt')
Ans

           viewcnt
videoname
ê³µë²” EP1       13298
ê³µë²” EP2       10300
ê³µë²” EP3        9927
ê³µë²” EP4        9824
ê³µë²” EP5       10824
ê³µë²” EP6       14141
ê³µë²” EP7       26949
ê³µë²” EP8       89147

# Question 22.
- video ë°ì´í„°í”„ë ˆì„ì—ëŠ” ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ë‚ ì§œ(ct)ì™€ ì—í”¼ì†Œë“œ(videoname)ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì¤‘ë³µëœ í–‰ì„ ì¶œë ¥í•˜ë˜ ì¤‘ë³µí–‰ì¤‘ ê°€ì¥ ë§ˆì§€ë§‰ í–‰ì„ ì¶œë ¥í•˜ë¼.

In [ ]:
'''
< dublicated() í•¨ìˆ˜ ì¸ì >
1. subset
    - ì¤‘ë³µ ê¸°ì¤€ì´ ë˜ëŠ” ì»¬ëŸ¼ë“¤ì„ ì§€ì •í•œë‹¤.
    - ì˜ˆ: ['ct', 'videoname']ì€ 'ct'ì™€ 'videoname'ì´ ì¤‘ë³µì¸ í–‰ë“¤ë§Œ í•„í„°ë§í•œë‹¤.
    
2. keep
    - False: ì¤‘ë³µë˜ëŠ” ëª¨ë“  í–‰ì„ Trueë¡œ í•œë‹¤.
    - first: ê° ì¤‘ë³µë˜ëŠ” í–‰ ì¤‘ ì²« ë²ˆì§¸ ì¤‘ë³µ í–‰ë§Œì„ Falseë¡œ í•œë‹¤. (ë‚˜ë¨¸ì§€ ì¤‘ë³µ í–‰ì€ ëª¨ë‘ True).
    - last: ê° ì¤‘ë³µë˜ëŠ” í–‰ ì¤‘ ë§ˆì§€ë§‰ ì¤‘ë³µ í–‰ë§Œì„ Falseë¡œ í•œë‹¤. (ë‚˜ë¨¸ì§€ ì¤‘ë³µ í–‰ì€ ëª¨ë‘ True).
'''

# 1. ìš°ì„  ëª¨ë“  ì¤‘ë³µ í–‰ì„ í•„í„°ë§.
all_dup = video.loc[video.duplicated(subset=['ct', 'videoname'], keep = False)].copy()

# 2. all_dupì—ì„œ `keep = 'last'`ë¥¼ í†µí•´ ë§ˆì§€ë§‰ ì¤‘ë³µ í–‰ë§Œì„ Falseë¡œ ë§Œë“¤ê³  locì„ í†µí•´ Falseì¸ í–‰ë§Œ ì¶”ì¶œ.
Ans = all_dup.loc[all_dup.duplicated(subset = ['ct', 'videoname'], keep = 'last') == False]
Ans

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,date,hour
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1,2021-10-13,9
3927,23QQ1ru9YQg,1408005,20484,554,0,8567,2021-10-13 09:41:37,ê³µë²” EP2,2021-10-13,9

# Question 23.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [3]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv'
df = pd.read_csv(data)

df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [ ]:
Ans = df.loc[df.duplicated('Player', keep = False)].sort_values('Player')
Ans

           Player  Goals      Years  Country
460    Goikoetxea      2       1994    Spain
1132   Goikoetxea      1       1986    Spain
839   Jozsef Toth      1       1954  Hungary
840   Jozsef Toth      1  1978-1982  Hungary
1137      Juanito      1  1978-1982    Spain
1138      Juanito      1       2006    Spain
599        Junior      1  1982-1986   Brazil
600        Junior      1       2002   Brazil

# Question 24.
- ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼.

In [4]:
# 1. ë‚˜ë¼ë³„(groupby) ê³¨ ìˆ˜ë¥¼ í•©ê³„(sum)ë¡œ í•˜ì—¬ ì§‘ê³„ í›„ ê³¨ ìˆ˜ëŒ€ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬(sort_values())
Ans = df.groupby('Country').sum('Goals').sort_values('Goals', ascending = False).reset_index()

# 2. ìƒìœ„ ë‹¤ì„¯ ê°œì˜ í–‰ë§Œì„ í•„í„°ë§.
Ans.head(5)

     Country  Goals
0     Brazil    228
1    Germany    226
2  Argentina    135
3      Italy    123
4     France    115

# Question 25.
- ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼.
- (ë§ˆë‹˜ í’€ì´ì˜ ê²½ìš° groupby().size()ë¥¼ ì‚¬ìš©í•˜ì…¨ëŠ”ë° ì¤‘ë³µëœ ì„ ìˆ˜ëª…ì´ ìˆëŠ” ê²½ìš°ê°€ í¬í•¨ë˜ì–´ í˜„ì¬ í’€ì´ì™€ ê²°ê³¼ê°€ ì¡°ê¸ˆ ë‹¤ë¥´ë‹¤).

In [17]:
# 1. Countryë¡œ groupbyí•˜ê³ , ì„ ìˆ˜ë“¤ì— ëŒ€í•´ nunique()ë¡œ ì´ ë²”ì£¼ì˜ ì¢…ë¥˜ë¥¼ count
#   - nunique()ëŠ” ë²”ì£¼ì˜ ì¢…ë¥˜ì˜ ìˆ˜ë¥¼ ì¹´ìš´íŠ¸í•˜ë©° ì¤‘ë³µì„ í¬í•¨í•˜ì§€ ì•ŠëŠ”ë‹¤. ë”°ë¼ì„œ ë§ˆë‹˜ì˜ ì •ë‹µê³¼ëŠ” ì¡°ê¸ˆ ë‹¤ë¥¸ ë‹µì´ ì¶œë ¥ëœë‹¤.
#       -> í˜„ì¬ ê³ ìœ í•˜ê²Œ ì„ ìˆ˜ë¥¼ ì‹ë³„í•  ìˆ˜ ìˆëŠ” ì»¬ëŸ¼ì´ ì—†ë‹¤ ìƒê°í•˜ê¸°ì— nunique()ë¥¼ ê·¸ëŒ€ë¡œ ì‚¬ìš©.
Ans = df.groupby('Country').nunique('Player')

# 2. ìƒìœ„ ë‹¤ì„¯ ê°±ì˜ êµ­ê°€ë¥¼ ì¶œë ¥í•˜ê¸° ìœ„í•´ Playerë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬.
Ans = Ans.sort_values('Player', ascending = False)
Ans

# 3. ì •ë‹µ ì¶œë ¥
Ans['Player'].head()

Country
Brazil       80
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

# Quesetion 26.
- Years ì»¬ëŸ¼ì€ `ë…„ë„-ë…„ë„` í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ˜ì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ˜ê°€ ì•„ë‹Œ ê²½ìš°ê°€ ì¡´ì¬í•˜ë©° í•´ë‹¹ ì¼€ì´ìŠ¤ëŠ” ëª‡ ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼.

In [33]:
# 1. '-'ì„ ê¸°ì¤€ìœ¼ë¡œ Years ì»¬ëŸ¼ì„ ë¶„ë¦¬í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ì„ ë°˜í™˜í•œë‹¤.
#   - expand = True: ë¬¸ìì—´ ë¶„ë¦¬ ê²°ê³¼ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ë‚˜ëˆˆ ìƒˆë¡œìš´ DataFrameì„ ë°˜í™˜í•œë‹¤.
year_split = df['Years'].str.split('-', expand = True)
# display(year_split)

# 2. ê° ì…€ë³„ë¡œ ê¸¸ì´ê°€ 1) NULLì´ ì•„ë‹ˆê³ , 2) ë¬¸ìì—´ì˜ ê¸¸ì´ê°€ 4ê°€ ì•„ë‹ˆë¼ë©´ `Trueë¥¼ í• ë‹¹í•œë‹¤`.
mask = year_split.apply(
    lambda col : col.map( # ì²« ë²ˆì§¸ lambda ì‹ì€ year_splitì˜ ê° ì»¬ëŸ¼ë³„ë¡œ ì ìš©ëœë‹¤. (DataFrameì´ê¸° ë•Œë¬¸).
        lambda x : len(str(x)) != 4 # ë‘ ë²ˆì§¸ lambda ì‹ì€ col(ì¦‰, Serise)ì— ì ìš©ë˜ê¸°ì— ê° ì…€ì„ ëŒ€ìƒìœ¼ë¡œ ì ìš©ëœë‹¤.
            if pd.notnull(x) # NULLì´ ì•„ë‹Œ ê²½ìš°ì—ë§Œ `x : len(str(x)) != 4`ê°€ ìˆ˜í–‰ë˜ë©° `ê¸¸ì´ê°€ 4ê°€ ì•„ë‹ˆë¼ë©´ True`ë¥¼ ë°˜í™˜í•œë‹¤. (ê¸¸ì´ê°€ 4ì¸ê²½ìš°ê°€ Falseì„ì„ ì£¼ì˜).
            else False) # NULLì´ë¼ë©´ Falseë¥¼ ë°˜í™˜í•œë‹¤.
    ) # ì¦‰, NULLì¸ ê²½ìš°ì™€ ê¸¸ì´ê°€ 4ì¸ ê²½ìš°ë§Œ Falseê°€ ë˜ê³ , ê¸¸ì´ê°€ 4ê°€ ì•„ë‹Œ ê²½ìš°ë§Œ Trueê°€ ëœë‹¤.
# display(mask)

# 3. ìƒì„±ëœ maskë¥¼ í–‰ë‹¨ìœ„ë¡œ ì ì–´ë„ í•˜ë‚˜ì˜ ê¸¸ì´ê°€ 4ê°€ ì•„ë‹Œ ì…€(Trueì¸ ì…€)ì´ ìˆë‚˜ í™•ì¸í•˜ê³  í•©ì‚°
#   - any: ì ì–´ë„ í•˜ë‚˜ê°€ Trueë¼ë©´ Trueë¥¼ ë°˜í™˜
#   - any.(axis = 1): ê° í–‰ë³„ë¡œ ì ì–´ë„ í•˜ë‚˜ì˜ ì…€ì´ Trueë¼ë©´ Trueë¥¼ ë°˜í™˜.
#   - sum(): ê° í–‰ë³„ë¡œ True í˜¹ì€ Falseê°€ ë°˜í™˜ ëìœ¼ë‹ˆ ëª¨ë‘ ë”í•˜ë©´(Trueë¥¼ ëª¨ë‘ ë”í•¨ = 4ê°€ ì•„ë‹Œ ì…€ì„ ëª¨ë‘ ë”í•¨) ê¸¸ì´ê°€ 4ê°€ ì•„ë‹Œ í–‰ë“¤ì˜ ìˆ˜ë¥¼ ë°˜í™˜ë°›ì„ ìˆ˜ ìˆë‹¤.
Ans = mask.any(axis = 1).sum()
print(Ans)

45

# Question 27.
- `Question 26`ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ `df2`ë¼ê³  ì •ì˜í•˜ê³ , ë°ì´í„°ì˜ í–‰ì˜ ìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼. (ì´í›„ë¶€í„°ëŠ” df2ë¥¼ ë¬¸ì œ í’€ì´ ëŒ€ìƒìœ¼ë¡œ í•œë‹¤).

In [42]:
# 1. Question 26ì˜ ê²°ê³¼ë¥¼ ê¸°ì¡´ ë°ì´í„°í”„ë ˆì„ì˜ check ì»¬ëŸ¼ìœ¼ë¡œ ì¶”ê°€.
df['check'] = mask.any(axis = 1)
# display(df['check'])

# 2. `df['check'] == False`ì¸ í–‰ë§Œ í•„í„°ë§í•˜ë©´ Question 26ì˜ ì˜ˆì™¸ë¥¼ ì œì™¸í•œ í–‰ì„ í•„í„°ë§í•  ìˆ˜ ìˆë‹¤.
df2 = df.loc[df['check'] == False].reset_index(drop = True)
display(df2)

# 3. ì •ë‹µ(í–‰ì˜ ìˆ˜) ì¶œë ¥.
df2.shape[0]

                   Player  Goals                Years     Country  check
0          Miroslav Klose     16  2002-2006-2010-2014     Germany  False
1                 Ronaldo     15       1998-2002-2006      Brazil  False
2             Gerd Muller     14            1970-1974     Germany  False
3           Just Fontaine     13                 1958      France  False
4                    Pele     12  1958-1962-1966-1970      Brazil  False
...                   ...    ...                  ...         ...    ...
1245        Josip Skoblar      1                 1962  Yugoslavia  False
1246          Safet Susic      1            1982-1990  Yugoslavia  False
1247  Aleksandar Tirnanic      1                 1930  Yugoslavia  False
1248  Djordje Vujadinovic      1                 1930  Yugoslavia  False
1249         Branko Zebec      1            1954-1958  Yugoslavia  False

[1250 rows x 5 columns]

1250

# Question 28.
- ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” `LenCup`ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³ , 4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [49]:
# 1. df2ì˜ Yearsì»¬ëŸ¼ì„ ë…„ë„ë³„ë¡œ ë¶„ë¦¬í•œ ë’¤ ë¦¬ìŠ¤íŠ¸í˜•íƒœë¡œ ê°’ìœ¼ë¡œ í•˜ì—¬ YearList ì»¬ëŸ¼ ìƒì„±. 
df2['YearList'] = df2['Years'].str.split('-')
# display(df2['YearList'])

# 2. ìƒì„±ëœ YearList ì»¬ëŸ¼ì˜ ê¸¸ì´(ì›”ë“œì»µ ì¶œì „ ë…„ë„ì˜ ìˆ˜)ë¥¼ ê°’ìœ¼ë¡œ í•˜ì—¬ LenCup ì»¬ëŸ¼ ìƒì„±.
df2['LenCup'] = df2['YearList'].apply(len)
# display(df2['LenCup'])

# 3. LenCupì´ 4ì¸ ê²½ìš°ë§Œ Trueë¡œ í•˜ì—¬ sum()ì„ í•˜ë©´ 4ë²ˆ ì›”ë“œì»µì„ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ˜ë¥¼ êµ¬í•  ìˆ˜ ìˆë‹¤.
Ans = (df['LenCup'] == 4).sum()
print(Ans)

16

# Question 29.
- Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [56]:
# 1. Countryê°€ Yugoslaviaì´ê³ , LenCupì´ 2ì¸ í–‰ë§Œ í•„í„°ë§.
target = df2.loc[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)]

# 2. ì„ ìˆ˜ë“¤ì˜ ìˆ˜ë¥¼ countí•˜ê¸° ìœ„í•´ len() í•¨ìˆ˜ë¥¼ ì ìš©.
Ans = len(target)
print(Ans)

7

# Question 30.
- 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ ëª…ì¸ê°€?

In [58]:
# 1. contains() í•¨ìˆ˜ë¥¼ í™œìš©í•˜ì—¬ 2002ê°€ í¬í•¨ëœ í–‰ì„ ì°¾ê³ , ëª¨ë‘ ë”í•œë‹¤.
Ans = df2['Years'].str.contains('2002').sum()
print(Ans)

156

# Question 31.
- ì´ë¦„ì— `carlos`ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ˜ëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ X).

In [ ]:
# 1. í•¨ìˆ˜ ì„¤ëª…
#   - str.lower(): ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ì´ ì—†ê¸° ë•Œë¬¸ì— ëª¨ë‘ ì†Œë¬¸ìë¡œ ë³€ê²½.
#   - str.contains(): ëª¨ë‘ ì†Œë¬¸ìë¡œ ë³€ê²½ ë˜ì—ˆê¸°ì— 'carlos'ë¥¼ í¬í•¨í•˜ëŠ” ê²½ìš°ë§Œì„ ì°¾ì•„ ëª¨ë‘ ë”í•œë‹¤.
Ans = df2['Player'].str.lower().str.contains('carlos').sum()
print(Ans)

13

# Question 32.
- ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë¦° ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [89]:
# 1. ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒì¸ ë°ì´í„°ë§Œ í•„í„°ë§
target = df2.loc[df2['LenCup'] == 1].copy()
# display(target)

# 2. ë“ì ìˆœìœ¼ë¡œ ì •ë ¬
target = target.sort_values('Goals', ascending = False)
# display(target)

# 3. ì²« ë²ˆì§¸ í–‰ì˜ ì„ ìˆ˜ ì´ë¦„ì„ ì¶œë ¥.
Ans = target.iloc[0]['Player']
print(Ans)

Just Fontaine

# Question 33.
- ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [98]:
# 1. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒë¿ì¸ í–‰ë“¤ë§Œ í•„í„°ë§.
target = df2.loc[df2['LenCup'] == 1].copy()
# display(target)

# 2. êµ­ê°€ë³„ë¡œ ê·¸ë£¹í™”í•œ ë’¤ ì„ ìˆ˜ë“¤ì˜ ìˆ˜ë¥¼ ë°˜í™˜.
target = target.groupby('Country')['Player'].nunique().reset_index()
# display(target)

# 3. ì„ ìˆ˜ ìˆ˜ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
target = target.sort_values('Player', ascending = False)
# display(target)

# 4. ì²« ë²ˆì§¸ í–‰ì˜ Countryë§Œì„ ë°˜í™˜
Ans = target.iloc[0]['Country']
print(Ans)

Brazil

# Question 34.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [3]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv'
df = pd.read_csv(data)

df

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì‹œê°„,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì‚¬ìš©ì‹œê°„
0,2021-06-01,0,3541,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,8
1,2021-06-01,0,765,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,27.21,0.35,1526.81,19
2,2021-06-01,0,2637,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,41.40,0.37,1608.56,18
3,2021-06-01,0,2919,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,0.00,0.00,0.00,75
4,2021-06-01,0,549,ì •ê¸°ê¶Œ,F,~10ëŒ€,1,13.04,0.17,731.55,6
...,...,...,...,...,...,...,...,...,...,...,...
678945,2021-06-14,23,4623,ì •ê¸°ê¶Œ,M,60ëŒ€,1,32.92,0.30,1279.01,37
678946,2021-06-14,23,2331,ì •ê¸°ê¶Œ,M,60ëŒ€,1,11.88,0.09,400.00,4
678947,2021-06-14,23,722,ì •ê¸°ê¶Œ,M,60ëŒ€,1,53.28,0.48,2070.00,20
678948,2021-06-14,23,3787,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,121.25,1.18,5103.30,86
678949,2021-06-14,23,1911,ì •ê¸°ê¶Œ,M,70ëŒ€~,1,42.18,0.38,1638.70,28

# Question 35.
- ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼.

In [4]:
# 1. ëŒ€ì—¬ì¼ì ì»¬ëŸ¼ì˜ íƒ€ì… í™•ì¸
df['ëŒ€ì—¬ì¼ì'].dtype

# 2. ëŒ€ì—¬ì¼ì ì»¬ëŸ¼ì˜ íƒ€ì…ì„ datetimeìœ¼ë¡œ ë³€í™˜
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
# print(df['ëŒ€ì—¬ì¼ì'].dtype)

# 3. ì¼ìë³„ë¡œ ê·¸ë£¹í™” í•œ ë’¤ size()ë¥¼ í†µí•´ ì´ ìˆ˜ë¥¼ ë°˜í™˜
#   - reset_index(name = )
#       - indexë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ì˜®ê¸´ë‹¤.
#       - name: ì›ë˜ ê°’ ì»¬ëŸ¼ì˜ ì»¬ëŸ¼ëª…ì„ ì§€ì •í•œë‹¤.
Ans = df.groupby('ëŒ€ì—¬ì¼ì').size().reset_index(name = 'ë°ì´í„° ìˆ˜')
display(Ans)

# 4. ê°€ì¥ ë°ì´í„° ìˆ˜ê°€ ë§ì€ ì¼ìë¥¼ ì¶œë ¥í•˜ê¸° ìœ„í•´ `ë°ì´í„° ìˆ˜`ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬.
Ans = Ans.sort_values('ë°ì´í„° ìˆ˜', ascending = False)
# display(Ans)

# 5. ì²« í–‰ì˜ ëŒ€ì—¬ì¼ìë§Œ í•„í„°ë§
Ans = Ans.iloc[0]['ëŒ€ì—¬ì¼ì']

# 6. ì •ë‹µì„ ì¶œë ¥. (ì •ë‹µì˜ í˜•ì‹ì„ ë§ì¶”ê¸° ìœ„í•´ ì‹œê°„ì„ ì œì™¸í•œ ë‚ ì§œë§Œìœ¼ë¡œ í˜•ë³€í™˜).
print(Ans.strftime('%Y-%m-%d'))

         ëŒ€ì—¬ì¼ì  ë°ì´í„° ìˆ˜
0  2021-06-01  48081
1  2021-06-02  56100
2  2021-06-03  18985
3  2021-06-04  56788
4  2021-06-05  52730
5  2021-06-06  47787
6  2021-06-07  52623
7  2021-06-08  55623
8  2021-06-09  54507
9  2021-06-10  36992
10 2021-06-11  52089
11 2021-06-12  48569
12 2021-06-13  43131
13 2021-06-14  54945

2021-06-04

# Question 36.
- ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ì—¬('Monday' ~ 'Sunday') `day_name`ì»¬ëŸ¼ì„ ìƒì„±í•˜ê³ , ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ í–‰ì˜ ìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼ (ë¬¸ì œëŠ” `ì´ìš©íšŸìˆ˜`ì¸ë° `ì´ìš©ê±´ìˆ˜` ì»¬ëŸ¼ê³¼ í—·ê°ˆë¦´ ìˆ˜ ìˆì–´ ìˆ˜ì •).

In [5]:
# 1. ìš”ì¼ëª…ìœ¼ë¡œ ëœ day_name ì»¬ëŸ¼ ìƒì„±.
df['day_name'] = df['ëŒ€ì—¬ì¼ì'].dt.day_name()
# display(df['day_name'])

# 2. ìš”ì¼ë³„ë¡œ ê·¸ë£¹í™”í•˜ê³  ë°ì´í„°ì˜ ìˆ˜ë¥¼ ì¶œë ¥.
Ans = df.groupby('day_name').size().reset_index(name = 'ë°ì´í„°ì˜ ì´ ìˆ˜')
Ans

# 3. ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
print(Ans)

    day_name  ë°ì´í„°ì˜ ì´ ìˆ˜
0     Friday    108877
1     Monday    107568
2   Saturday    101299
3     Sunday     90918
4   Thursday     55977
5    Tuesday    103704
6  Wednesday    110607

# Question 37.
- ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œë²ˆí˜¸ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼.
- ë§ˆë‹˜ì˜ ì½”ë“œëŠ” `í–‰ì˜ ìˆ˜`ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤. ë‚˜ì˜ ì½”ë“œëŠ” `ì´ìš©ê±´ìˆ˜` ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì‘ì„±. (ë‹µì´ ë‹¤ë¥´ë‹¤).

In [6]:
# 1. `ìš”ì¼ëª…-ëŒ€ì—¬ì†Œë²ˆí˜¸`ë¡œ ê·¸ë£¹í™”í•œ ë’¤, ì´ìš©ê±´ìˆ˜ë¥¼ ê³„ì‚°í•œë‹¤.
target = df.groupby(['day_name', 'ëŒ€ì—¬ì†Œë²ˆí˜¸'])['ì´ìš©ê±´ìˆ˜'].sum().reset_index()
# display(target)

# 2. ìš”ì¼ëª…ìœ¼ë¡œëŠ” ì˜¤ë¦„ì°¨ìˆœ, ì´ìš©ê±´ìˆ˜ë¡œëŠ” ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œë‹¤.
target = target.sort_values(['day_name', 'ì´ìš©ê±´ìˆ˜'], ascending = [True, False])
# display(target)

# 3. ìš”ì¼ë³„ë¡œ ê·¸ë£¹í™” í•˜ê³  ì²« ë²ˆì§¸ í–‰ë§Œ í•„í„°ë§.
#   - ìš”ì¼ë³„ë¡œë§Œ í•„í„°ë§í•˜ë©´ ì•Œì•„ì„œ ëŒ€ì—¬ì†Œë²ˆí˜¸ëŠ” ì •í•´ì§€ê¸° ë•Œë¬¸.
Ans = target.groupby('day_name').first().reset_index()
print(Ans)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  ì´ìš©ê±´ìˆ˜
0     Friday   2715   414
1     Monday   2715   374
2   Saturday    502   616
3     Sunday    502   574
4   Thursday   2715   188
5    Tuesday    502   371
6  Wednesday    502   399

# Question 38.
- ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°–ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼.

In [7]:
# 1. `ì¼ì¼ê¶Œ`ê³¼ `ì¼ì¼ê¶Œ(ë¹„íšŒì›)`ë§Œì„ Trueë¡œ í•„í„°ë§í•˜ì—¬ ìƒˆë¡œìš´ ì»¬ëŸ¼ ìƒì„±.
df['is_daily'] = df['ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ'].isin(['ì¼ì¼ê¶Œ', 'ì¼ì¼ê¶Œ(ë¹„íšŒì›)'])
# display(df['is_daily'])

# 2. ì—°ë ¹ëŒ€ë³„ë¡œ ì „ì²´ í–‰ì˜ ìˆ˜ë¥¼ ê³„ì‚°. (ë¶„ëª¨ë¡œ ì“¸ ê°’).
denominator = df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size().reset_index(name = 'ì „ì²´ìˆ˜')
# display(denominator)

# 3. ì—°ë ¹ëŒ€ë³„ is_dailyì»¬ëŸ¼ì„ ì§‘ê³„. (ë¶„ëª¨ë¡œ ì“¸ ê°’).
numerator = df[df['is_daily']].groupby('ì—°ë ¹ëŒ€ì½”ë“œ').size().reset_index(name = 'ì „ì²´ì¼ì¼ê¶Œìˆ˜')
# display(numerator)

# 4. denominatorì™€ numeratorë¥¼ í•˜ë‚˜ì˜ ë°ì´í„°í”„ë ˜ì„ìœ¼ë¡œ ìƒì„±. ë¹„ìœ¨ì„ ê³„ì‚°í•˜ê¸° ìœ„í•´.
total = denominator.merge(
    numerator,
    # left join: ì—°ë ¹ëŒ€ê°€ ê¸°ì¤€ì´ê¸°ì— ê³µë°±ì´ ìˆìœ¼ë©´ ì•ˆ ëœë‹¤.
    #   - ì˜ˆë¥¼ ë“¤ì–´ inner joinì„ í•˜ëŠ” ê²½ìš° denominatorì™€ numeratorì„ ë‘ ê°’ì´ ëª¨ë‘ ì—†ë‹¤ë©´ í•´ë‹¹ ì—°ë ¹ëŒ€ê°€ ë¹„ì–´ë²„ë¦¬ëŠ” ë¬¸ì œê°€ ë°œìƒí•œë‹¤.
    how = 'left',
    on = 'ì—°ë ¹ëŒ€ì½”ë“œ'
    ).fillna(0)
# display(total)

# 5. ë¹„ìœ¨ê³„ì‚°
total['ë¹„ìœ¨'] = total['ì „ì²´ì¼ì¼ê¶Œìˆ˜'] / total['ì „ì²´ìˆ˜']
# display(total['ë¹„ìœ¨'])

# 6. ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°–ëŠ” ì—°ë ¹ëŒ€ë¥¼ í™•ì¸í•˜ê¸°ìœ„í•´ ì •ë ¬
total = total.sort_values('ë¹„ìœ¨', ascending = False).reset_index()
# display(total['ë¹„ìœ¨'])

# 7. ì •ë‹µ ì¶œë ¥
#   - í•„ìš”í•œ ì»¬ëŸ¼ë§Œ í•„í„°ë§í•œ ë‹¤ìŒ
#   -> 0ë²ˆì§¸ indexë¥¼ í•„í„°ë§í•˜ì—¬ ìµœëŒ€ ë¹„ìœ¨ê³¼ ì—°ë ¹ëŒ€ë§Œ í•„í„°ë§. 
Ans = total[['ì—°ë ¹ëŒ€ì½”ë“œ', 'ë¹„ìœ¨']].iloc[[0]]  # âœ… ë” ê°„ë‹¨í•œ ë°©ì‹
Ans

  ì—°ë ¹ëŒ€ì½”ë“œ        ë¹„ìœ¨
0  ~10ëŒ€  0.312525

# Question 39.
- ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼.

In [8]:
# 1. ì—°ë ¹ëŒ€ë³„ë¡œ ê·¸ë£¹í™”í•œ ë’¤, ì´ë™ê±°ë¦¬ì— ëŒ€í•´ ì§‘ê³„.
Ans = df.groupby('ì—°ë ¹ëŒ€ì½”ë“œ')['ì´ë™ê±°ë¦¬'].mean()
Ans

ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€     3211.890552
30ëŒ€     3341.443859
40ëŒ€     3514.857416
50ëŒ€     3593.668100
60ëŒ€     3538.145737
70ëŒ€~    3085.039641
~10ëŒ€    2634.426279
Name: ì´ë™ê±°ë¦¬, dtype: float64

# Question 40.
- ì—°ë ¹ëŒ€ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ , ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤. ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œë²ˆí˜¸ ìˆœìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ˜ì  ì„¸ ë²ˆì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼.

In [9]:
# 1. ì—°ë ¹ëŒ€ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„° í•„í„°ë§
target = df.loc[df['ì—°ë ¹ëŒ€ì½”ë“œ'] == '20ëŒ€'].copy().reset_index(drop = True)
# display(target)

# 2. ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë“¤ì„ í•„í„°ë§.
target = target.loc[target['ì´ë™ê±°ë¦¬'] >= target['ì´ë™ê±°ë¦¬'].mean()].reset_index(drop = True)
# display(target)

# 3. ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œë²ˆí˜¸ ìˆœìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
target = target.sort_values(['ëŒ€ì—¬ì¼ì', 'ëŒ€ì—¬ì†Œë²ˆí˜¸'], ascending = False).reset_index(drop = True)
# display(target)

# 4. 1í–‰ë¶€í„° 200í–‰ ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ˜ì  ì„¸ ë²ˆì§¸ ìë¦¬ê¹Œì§€ ê³„ì‚°
# ë°ì´í„° í•„í„°ë§
Ans = target['íƒ„ì†ŒëŸ‰'].iloc[0 : 200]
# í‰ê· ì„ êµ¬í•˜ê¸° ìœ„í•´ í˜•ë³€í™˜
Ans = Ans.astype('float')
# í‰ê·  ê³„ì‚°. (ê²°ì¸¡ê°’ì´ ì—†ê¸°ì— ì²˜ë¦¬ ì•ˆí•¨, ìˆë‹¤ë©´ dropna() í˜¹ì€ ë‹¤ë¥¸ ë°©ì‹ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•˜ê³  ì§‘ê³„).
Ans = Ans.mean()
# ì†Œìˆ˜ì  ì„¸ ë²ˆì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥.
print(round(Ans, 3))

1.613

# Question 41.
- `6ì›” 7ì¼`ë‚ ì§œì˜ `~10ëŒ€`ì˜ `ì´ìš©ê±´ìˆ˜`ì˜ ì¤‘ì•™ê°’ì„ ì¶œë ¥í•˜ë¼.

In [10]:
# 1. 6ì›” 7ì¼ ë‚ ì§œë¥¼ í•„í„°ë§
target = df.loc[df['ëŒ€ì—¬ì¼ì'].dt.strftime('%m-%d') == '06-07']
# display(target)

# 2. ì´ìš©ê±´ìˆ˜ì˜ ì¤‘ì•™ê°’ì„ ì¶œë ¥. (ê²°ì¸¡ê°’ì´ ì—†ê¸°ì— ì²˜ë¦¬ ì•ˆí•¨, ìˆë‹¤ë©´ dropna() í˜¹ì€ ë‹¤ë¥¸ ë°©ì‹ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•˜ê³  ì§‘ê³„).
Ans = target['ì´ìš©ê±´ìˆ˜'].median()
print(Ans)

1.0

# Question 42.
- í‰ì¼ (ì›” ~ ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6, 7, 8 ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš©ê±´ìˆ˜ë¥¼ êµ¬í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•œ í›„, ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš©ê±´ìˆ˜ì˜ ìƒìœ„ ì„¸ ê°œì˜ ëŒ€ì—¬ì†Œì™€ ì´ìš©ê±´ìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼.

In [11]:
# 1. ë¬¸ì œë¥¼ í’€ê¸° ì „ ë°ì´í„° êµ¬ì¡° ë‹¤ì‹œ í™•ì¸
# display(df)

# 2. day_name ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ìš”ì¼ í•„í„°ë§, ëŒ€ì—¬ì‹œê°„ì„ ê¸°ì¤€ìœ¼ë¡œ ì‹œê°„ëŒ€ í•„í„°ë§.
target = df.loc[(df['day_name'].isin(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])) & (df['ëŒ€ì—¬ì‹œê°„'].isin([6, 7, 8])) ].copy()
# display(target['day_name'].unique())
# display(target['ëŒ€ì—¬ì‹œê°„'].unique())

# 3. target ë°ì´í„°í”„ë ˆì„ì—ì„œ ëŒ€ì—¬ì†Œë³„ ì´ìš©ê±´ìˆ˜ë¥¼ ì§‘ê³„ í›„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥.
Ans1 = target.groupby('ëŒ€ì—¬ì†Œë²ˆí˜¸')['ì´ìš©ê±´ìˆ˜'].sum().reset_index(name = 'ì´ìš©ê±´ìˆ˜ì´í•©')
display(Ans1)

# 4. `ëŒ€ì—¬ì†Œ-ëŒ€ì—¬ì‹œê°„`ë³„ ì´ìš©ê±´ìˆ˜ ìƒìœ„ ì„¸ ê°œì˜ 'ëŒ€ì—¬ì‹œê°„', 'ëŒ€ì—¬ì†Œë²ˆí˜¸', ê·¸ë¦¬ê³  'ì´ìš©ê±´ìˆ˜'ì˜ í•©ì„ ì¶œë ¥í•˜ë¼.
Ans2 = target.groupby(['ëŒ€ì—¬ì‹œê°„', 'ëŒ€ì—¬ì†Œë²ˆí˜¸'])['ì´ìš©ê±´ìˆ˜'].sum().reset_index(name = 'ì´ìš©ê±´ìˆ˜ì´í•©')
# display(Ans2)

# 5 ëŒ€ì—¬ì‹œê°„ë³„ë¡œ ìƒìœ„ ì„¸ ê°œì˜ ì´ìš©ê±´ìˆ˜ì´í•© í•„í„°ë§
#   - ì¶œë ¥ í˜•ì‹ì„ ë§ì¶”ê¸° ìœ„í•´ set_index()ë¡œ ë©€í‹°ì¸ë±ìŠ¤ ì„¤ì •.
Ans2 = Ans2.sort_values(['ëŒ€ì—¬ì‹œê°„', 'ì´ìš©ê±´ìˆ˜ì´í•©'], ascending = [True, False]).groupby('ëŒ€ì—¬ì‹œê°„').head(3).set_index(['ëŒ€ì—¬ì‹œê°„', 'ëŒ€ì—¬ì†Œë²ˆí˜¸'])
display(Ans2)

      ëŒ€ì—¬ì†Œë²ˆí˜¸  ì´ìš©ê±´ìˆ˜ì´í•©
0       102      52
1       103      42
2       104      32
3       105       3
4       106      17
...     ...     ...
2372   4864      12
2373   4865      27
2374   4867       9
2375   4868      10
2376   9980       1

[2377 rows x 2 columns]

            ì´ìš©ê±´ìˆ˜ì´í•©
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
6    2744       55
     1028       47
     1125       44
7    259       184
     2744      125
     2733      104
8    2701      360
     2715      155
     646       151

# Question 43.
- í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ë¥¼ ê°–ëŠ” ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê³ , í•„í„°ë§ ê²°ê³¼ë¥¼ í†µí•´ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ë¥¼ ì¶œë ¥í•˜ë¼.

In [12]:
# 1. í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° í•„í„°ë§
target = df.loc[df['ì´ë™ê±°ë¦¬'] >= df['ì´ë™ê±°ë¦¬'].mean()]
# display(target)

# 2. í‘œë³¸í‘œì¤€í¸ì°¨ ì¶œë ¥.
Ans = target['ì´ë™ê±°ë¦¬'].std()
print(Ans)

5092.139707505356

# Question 44.
- ë‚¨ì„±('M' í˜¹ì€ 'm')ê³¼ ì—¬ì„±('F' í˜¹ì€ 'f')ì˜ ì´ë™ê±°ë¦¬ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

In [ ]:
# 1. ì„±ë³„ ì»¬ëŸ¼ì˜ ë²”ì£¼ í™•ì¸
# display(df['ì„±ë³„'].unique())

# 2. `ì„±ë³„` ì»¬ëŸ¼ì„ ëª¨ë‘ ëŒ€ë¶„ìë¡œ í†µì¼
df['ì„±ë³„'] = df['ì„±ë³„'].str.upper()
df['ì„±ë³„'].unique()

# 3. ì„±ë³„ë¡œ ê·¸ë£¹í™” í›„ í‰ê· 
Ans = df.groupby('ì„±ë³„')['ì´ë™ê±°ë¦¬'].mean()
display(Ans.to_frame(name = 'ì´ë™ê±°ë¦¬í‰ê· '))

         ì´ë™ê±°ë¦¬í‰ê·
ì„±ë³„
F   3468.575025
M   3209.110871

# Question 45.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [17]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv'
df = pd.read_csv(data, encoding = 'utf-8')

df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

# Question 46.
- ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê° ë…„ë„ì˜(ë…„ë„ë³„ ì•„ë‹˜) í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

In [24]:
# 1. í–‰ë³µë­í‚¹ 10ìœ„ì¸ ë‚˜ë¼ë§Œ í•„í„°ë§
target = df.loc[df['í–‰ë³µë­í‚¹'] == 10]
# display(target)

# 2. í‰ê· ì„ ê³„ì‚°
Ans = target['ì ìˆ˜'].mean()
print(Ans)

7.259

# Question 47.
- ê° ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì˜ ë‚˜ë¼ë“¤ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼.

In [38]:
# 1. 50ìœ„ ì´ë‚´ì˜ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['í–‰ë³µë­í‚¹'] <= 50]
# display(target)

# 2. ë…„ë„-ë‚˜ë¼ë¡œ ê·¸ë£¹í™”í•˜ê³  ì ìˆ˜ì˜ í‰ê· ì„ ê³„ì‚°
Ans = target.groupby(['ë…„ë„', 'ë‚˜ë¼ëª…'])['ì ìˆ˜'].mean()
Ans = Ans.to_frame()
Ans

                              ì ìˆ˜
ë…„ë„   ë‚˜ë¼ëª…
2018 Argentina             6.388
     Australia             7.272
     Austria               7.139
     Bahrain               6.105
     Belgium               6.927
...                          ...
2019 United Arab Emirates  6.825
     United Kingdom        7.054
     United States         6.892
     Uruguay               6.293
     Uzbekistan            6.174

[100 rows x 1 columns]

# Question 48.
- 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼.

In [ ]:
# 1. 2018ë…„ë„ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['ë…„ë„'] == 2018]
# display(target)

# 2. ìƒê´€ê³„ìˆ˜ í–‰ë ¬ ìƒì„±
Ans = target[['ì ìˆ˜', 'ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']].corr()

# 3. ìƒê´€ê³„ìˆ˜ í–‰ë ¬ì—ì„œ ì •ë‹µë§Œ í•„í„°ë§.
print(Ans.iloc[0, 1])

0.40529152271510027

# Question 49.
- 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [55]:
# 1. 2018ë…„ë„ì™€ 2019ë…„ë„ ê°ê° êµ­ê°€ëª…ê³¼ í–‰ë³µë­í‚¹ì„ í•„í„°ë§í•˜ì—¬ ë‘ ê°œì˜ ë°ì´í„°í”„ë ˆì„ ìƒì„±.
df_18 = df.loc[df['ë…„ë„'] == 2018][['ë‚˜ë¼ëª…', 'í–‰ë³µë­í‚¹']].copy()
df_19 = df.loc[df['ë…„ë„'] == 2019][['ë‚˜ë¼ëª…', 'í–‰ë³µë­í‚¹']].copy()

# 2. ë‘ ë°ì´í„°í”„ë ˆì„ì„ í•˜ë‚˜ë¡œ ë³‘í•©
#   - mergeë¥¼ í•  ë•Œ ê°™ì€ ì´ë¦„ì˜ ì»¬ëŸ¼ì´ ìˆìœ¼ë©´ suffixes ì˜µì…˜ì„ í†µí•´ ì ‘ë¯¸ì‚¬ë¥¼ ì„¤ì •í•´ ì¤„ ìˆ˜ ìˆë‹¤.
total = pd.merge(df_18, df_19, on = 'ë‚˜ë¼ëª…', suffixes = ('_2018', '_2019'))
# display(total)

# 3. 2018ê³¼ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ê°™ì€ í–‰ë§Œ í•„í„°ë§
target = total.loc[total['í–‰ë³µë­í‚¹_2018'] == total['í–‰ë³µë­í‚¹_2019']]
# display(target)

# 4. nunique()ë¥¼ í†µí•´ ë‚˜ë¼ì˜ ìˆ˜ë¥¼ ë°˜í™˜.
Ans = target['ë‚˜ë¼ëª…'].nunique()
print(Ans)

15

# Question 50.
- 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê° ë³€ìˆ˜ê°„ì˜ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ ë’¤ ìƒìœ„ 5 ê°œë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. (ë‹¨, ì»¬ëŸ¼ëª…ì€ v1, v2, corrë¡œ í‘œê¸°).

In [94]:
# 1. 2019ë…„ì˜ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['ë…„ë„'] == 2019]
# display(target['ë…„ë„'].unique())

# 2. ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë§Œ í•„í„°ë§í•˜ì—¬ ìƒê´€ê´€ê³„ í–‰ë ¬ ìƒì„±
corr_mat = target.select_dtypes(include = 'number').corr()
# display(corr_mat)

# 3. ìƒê´€ê´€ê³„ í–‰ë ¬ì„ unstack()ìœ¼ë¡œ indexë¥¼ í•´ì œí•˜ì—¬ ê¸´ í˜•ì‹ìœ¼ë¡œ ë§Œë“¦.
corr_df = corr_mat.unstack().reset_index()
# display(corr_df)

# 4. ì»¬ëŸ¼ëª…ì„ ë¬¸ì œì—ì„œ ì œì‹œí•œ v1, v2, corrë¡œ ë³€ê²½
corr_df.columns = ['v1', 'v2', 'corr']
# display(corr_df)

# 5. ì¤‘ë³µí–‰ ì œê±°
#   - í™•ì¸í•˜ê³ ì í•˜ëŠ” ë‘ ì»¬ëŸ¼(v1, v2)ì„ íŠœí”Œë¡œ ë¬¶ê³  ì •ë ¬í•˜ë©´ ë‹¤ìŒê³¼ ê°™ì´ ì¤‘ë³µë˜ëŠ” ê²½ìš°ë¥¼ ë§Œë“¤ ìˆ˜ ìˆë‹¤.
#       - ì˜ˆ: 
#           sorted(['GDP', 'í–‰ë³µì ìˆ˜']) â†’ ['GDP', 'í–‰ë³µì ìˆ˜']
#           sorted(['í–‰ë³µì ìˆ˜', 'GDP']) â†’ ['GDP', 'í–‰ë³µì ìˆ˜']
#   -> ì´í›„ ìœ„ì²˜ëŸ¼ ìƒì„±í•œ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì¤‘ë³µì„ ì œê±°.
corr_df['dup'] = corr_df.apply(lambda row: tuple(sorted([row['v1'], row['v2']])), axis=1)
# display(corr_df['dup'])

# 6. ìƒì„±ëœ dup ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì¤‘ë³µì„ ì œê±°. (ì¤‘ë³µ ì²´í¬ë¥¼ ìœ„í•´ ìƒì„±í•œ dup ì»¬ëŸ¼ì„ ì œê±°í•˜ëŠ” ê²ƒì„ í¬í•¨).
corr_df = corr_df.drop_duplicates('dup').drop(columns = 'dup')
# display(corr_df)

# 7. ìƒê´€ê³„ìˆ˜ê°€ 1ì¸ ê²½ìš°(ìê¸°ìì‹ )ë¥¼ ì œì™¸
corr_df = corr_df.loc[corr_df['v1'] != corr_df['v2']]
# display(corr_df)

# 7. ì •ë‹µ ì¶œë ¥ì„ ìœ„í•´ ìƒê´€ê³„ìˆ˜ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë¦¬ í›„ ìƒìœ„ ë‹¤ì„¯ í–‰ì„ í•„í„°ë§í•˜ì—¬ ì •ë‹µ ì¶œë ¥.
corr_df = corr_df.sort_values('corr', ascending = False)
Ans = corr_df.head()
Ans

       v1     v2      corr
22  ìƒëŒ€GDP  í–‰ë³µê¸°ëŒ€ì¹˜  0.835462
11     ì ìˆ˜  ìƒëŒ€GDP  0.793883
13     ì ìˆ˜  í–‰ë³µê¸°ëŒ€ì¹˜  0.779883
12     ì ìˆ˜  ì‚¬íšŒì ì§€ì›  0.777058
21  ìƒëŒ€GDP  ì‚¬íšŒì ì§€ì›  0.754906

# Question 51.
- ê° ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ì¶œë ¥í•˜ë¼.

In [112]:
# 1. ë…„ë„, ì ìˆ˜ ìˆœìœ¼ë¡œ ì •ë ¬ í›„ ë…„ë„ë³„ë¡œ ê·¸ë£¹í™”í•˜ì—¬ ë…„ë„ë³„ í•˜ìœ„ 5ê°œì˜ í–‰ì„ í•„í„°ë§.
#   - ë…„ë„ë³„ë¡œ ì •ë ¬í•˜ê³  ì ìˆ˜ë³„ë¡œ ì •ë ¬í•˜ë©´ ì´ë¯¸ ë…„ë„ë³„ë¡œ ì •ë ¬ì´ ë¼ ìˆê¸° ë•Œë¬¸ì— ë…„ë„ë³„ ê°€ì¥ ë‚®ì€ ì ìˆ˜ë¶€í„° ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ëœë‹¤.
#   - ë”°ë¼ì„œ ì´ë•Œ ë…„ë„ë³„ë¡œ ê·¸ë£¹í™”í•˜ê³  head()ë¥¼ í™œìš©í•˜ë©´ í•˜ìœ„ 5 ê°œí–‰ì„ í•„í„°ë§ í•  ìˆ˜ ìˆë‹¤.
target = df.sort_values(['ë…„ë„', 'ì ìˆ˜']).groupby('ë…„ë„').head()
# display(bottom5)

# 2. ë…„ë„ë³„ í‰ê·  ê³„ì‚°
#   - í•„í„°ë§ëœ target ë°ì´í„°í”„ë ˆì„ì„ ë‹¤ì‹œ ë…„ë„ë³„ë¡œ ê·¸ë£¹í™”í•˜ê³  ì ìˆ˜ì˜ í‰ê· ì„ ì§‘ê³„í•˜ë©´ í•˜ìœ„ 5ê°œêµ­ê°€ì˜ í‰ê· ì„ ì§‘ê³„í•  ìˆ˜ ìˆë‹¤.
#   - ë§Œì•½ êµ­ê°€ëª…ì´ ì¤‘ë³µì´ ì¡´ì¬í•œë‹¤ë©´ df.drop_duplicated(subset = ['ë…„ë„', 'ë‚˜ë¼ëª…'])ì„ ì‹œë„í•˜ì—¬ ì¤‘ë³µì„ ì œê±°í•  ìˆ˜ ìˆë‹¤.
Ans = target.groupby('ë…„ë„')['ì ìˆ˜'].mean().reset_index(name='í•˜ìœ„ 5ê°œêµ­ í‰ê· ì ìˆ˜')

# 3. ì •ë‹µ ì¶œë ¥
display(Ans)

     ë…„ë„  í•˜ìœ„ 5ê°œêµ­ í‰ê· ì ìˆ˜
0  2018       3.1800
1  2019       3.1408

# Question 52.
- 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ ë°ì´í„°ì˜ ìƒëŒ€GDPê°€ í‰ê·  ì´ìƒì¸ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì¸ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ì°¨ì´ë¥¼ ì¶œë ¥í•˜ë¼. 
<br>
**(ë§ˆë‹˜í’€ì´ëŠ” 2019ë…„ì„ í•„í„°ë§í•˜ì§€ ì•Šì•„ ì •ë‹µì´ ë‹¤ë¦„)**

In [119]:
# 1. ìš°ì„  2019ë…„ë„ ë°ì´í„°ë¥¼ í•„í„°ë§
target = df.loc[df['ë…„ë„'] == 2019]
# display(target['ë…„ë„'].unique())

# 2. ìƒëŒ€GDPë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì´ìƒê³¼ ì´í•˜ì¸ ë‚˜ë¼ì˜ ë°ì´í„°í”„ë ˆì„ ìƒì„±.
mean_gdp = target['ìƒëŒ€GDP'].mean()
df_upper = target.loc[target['ìƒëŒ€GDP'] >= mean_gdp]
df_lower = target.loc[target['ìƒëŒ€GDP'] <= mean_gdp]

# 3. df_upperì™€ df_lowerì˜ í‰ã„±ë¥œì„ ê³„ì‚°í•˜ê³  ì°¨ì´ë¥¼ ì¶œë ¥.
Ans = df_upper['ìƒëŒ€GDP'].mean() - df_lower['ìƒëŒ€GDP'].mean()
print(Ans)

0.6765307486631016

# Question 53.
- ê° ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

In [ ]:
# 1. ì¡°ê±´ì„ ì „ë¶€ ë„£ì–´ì„œ í•œ ë²ˆì— ì¶œë ¥.
Ans = (
    df.sort_values(['ë…„ë„', 'ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹'], ascending=False) # ë…„ë„ì™€ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ ì»¬ëŸ¼ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬.
      .groupby('ë…„ë„') # ë…„ë„ë¡œ ê·¸ë£¹í™”í•˜ì—¬
      .head(20) # ì—°ë„ë³„ í•˜ìœ„ 20ê°œì˜ í–‰ í•„í„°ë§
      .groupby('ë…„ë„')[['ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹']] # í•„í„°ë§ëœ ê²°ê³¼ë¥¼ ë‹¤ì‹œ ë…„ë„ë³„ë¡œ ê·¸ë£¹í™”í•œ ë’¤ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ëŒ€ìƒ
      .mean() # í‰ê· ì§‘ê³„
      .reset_index() # ì¸ë±ìŠ¤ë¥¼ ì •ë¦¬í•˜ì—¬ ê¹”ë”í•˜ê²Œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥.
)

print(Ans)

     ë…„ë„  ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹
0  2018    0.3267
1  2019    0.3201

# Question 54.
- 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [163]:
# 1. 2018ë…„ë„ì™€ 2019ë…„ë„ë¥¼ ë‚˜ëˆ„ì–´ ë°ì´í„°í”„ë ˆì„ ìƒì„±.
df_2018 = df.loc[df['ë…„ë„'] == 2018]
# display(df_2018['ë…„ë„'].unique())
df_2019 = df.loc[df['ë…„ë„'] == 2019]
# display(df_2019['ë…„ë„'].unique())

# 2. 2018ë…„ ë°ì´í„°í”„ë ˆì„ì—ì„œ 50ìœ„ ì´ë‚´ì˜ êµ­ê°€ëª…ì„ í•„í„°ë§
under_50 = df_2018.loc[df_2018['í–‰ë³µë­í‚¹'] <= 50]['ë‚˜ë¼ëª…'].to_list()
# display(under_50)

# 3. df_2019ì—ì„œ 2018ë…„ì— 50ìœ„ ì´ë‚´ì¸ under_50ì˜ êµ­ê°€ë“¤ë§Œ í•„í„°ë§
target = df_2019.loc[df_2019['ë‚˜ë¼ëª…'].isin(under_50)]
# display(target)

# 4. í•„í„°ë§ëœ target ë°ì´í„°í”„ë ˆì„ì—ì„œ í–‰ë³µë­í‚¹ì´ 50ìœ„ê¶Œ ë°–ì¸ êµ­ê°€ì˜ ìˆ˜ë¥¼ ì¶œë ¥.
Ans = target.loc[target['í–‰ë³µë­í‚¹'] > 50]['ë‚˜ë¼ëª…'].nunique()
print(Ans)

3

# Question 55.
- 2018ë…„, 2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ì¦ê°€ ì •ë„ë¥¼ ì¶œë ¥í•˜ë¼.

In [ ]:
# 1. 2018ê³¼ 2019 ë‘ ê°œì˜ ë°ì´í„°í”„ë ˆì„ ìƒì„±.
df_2018 = df.loc[df['ë…„ë„'] == 2018][['ë‚˜ë¼ëª…', 'ì ìˆ˜']].rename(columns = {'ì ìˆ˜' : 'ì ìˆ˜_2018'})
# display(df_2018['ë…„ë„'].unique())
df_2019 = df.loc[df['ë…„ë„'] == 2019][['ë‚˜ë¼ëª…', 'ì ìˆ˜']].rename(columns = {'ì ìˆ˜' : 'ì ìˆ˜_2019'})
# display(df_2019['ë…„ë„'].unique())

# 2. ë‘ ë°ì´í„°í”„ë ˆì„ì„ ë‚˜ë¼ëª…ì„ ê¸°ì¤€ìœ¼ë¡œ merge. ì¦‰, inner joinì„ í†µí•´ ë‘˜ ë‹¤ ì¡´ì¬í•˜ëŠ” ë‚˜ë¼ëª…ë§Œ ë‚¨ê¸°ë©° ë³‘í•©í•œë‹¤.
target = pd.merge(df_2018, df_2019, on = 'ë‚˜ë¼ëª…', how = 'inner')
# display(target)

# 3. í–‰ë³µì ìˆ˜ ì¦ê°€ëŸ‰ì„ ê³„ì‚°
target['ì¦ê°€ëŸ‰'] = target['ì ìˆ˜_2019'] - target['ì ìˆ˜_2018']
# display(target['ì¦ê°€ëŸ‰'])

# 4. ì¦ê°€ëŸ‰ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ ì²« ë²ˆì§¸ í–‰ì˜ ë‚˜ë¼ëª…ê³¼ ì¦ê°€ëŸ‰ì„ ì¶œë ¥.
#   - to_frame.T: ì „ì¹˜ë¥¼ í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì˜ í˜•íƒœë¥¼ ë§ì¶°ì¤Œ
#       - ì‹œë¦¬ì¦ˆë¥¼ ì¶œë ¥í•  ë•Œ indexê°€ ì»¬ëŸ¼ì— ìœ„ì¹˜í•˜ëŠ”ë° ì´ë¥¼ ì „ì¹˜í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì˜ í˜•íƒœë¥¼ ì¡ì•„ì£¼ëŠ” ê²ƒ.
Ans = target.sort_values('ì¦ê°€ëŸ‰', ascending = False)[['ë‚˜ë¼ëª…', 'ì¦ê°€ëŸ‰']].iloc[0].to_frame().T
display(Ans)

         ë‚˜ë¼ëª…   ì¦ê°€ëŸ‰
151  Burundi  0.87

# Question 56.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [174]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv'
df = pd.read_csv(data)

df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

# Question 57.
- DateTime ì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„°í”„ë ˆì„ì„ ì¶œë ¥í•˜ë¼.

In [196]:
# 1. DateTime ì»¬ëŸ¼ì˜ ë°ì´í„° íƒ€ì…ì„ í™•ì¸
df['DateTime'].dtype

# 2. datetimeìœ¼ë¡œ í˜•ë³€í™˜
df['DateTime'] = pd.to_datetime(df['DateTime'])
# print(df['DateTime'].dtype)

# 3. ì›”ë³„ë¡œ ê·¸ë£¹í™”í•˜ê³  size()ë¥¼ í†µí•´ ì§‘ê³„
Ans = df.groupby(df['DateTime'].dt.strftime('%m')).size().reset_index(name = 'ì›”ë³„ ë°ì´í„°ì˜ ìˆ˜')
display(Ans)

   DateTime  ì›”ë³„ ë°ì´í„°ì˜ ìˆ˜
0        01       4464
1        02       4032
2        03       4464
3        04       4320
4        05       4464
5        06       4320
6        07       4464
7        08       4464
8        09       4320
9        10       4464
10       11       4320
11       12       4320

# Question 58.
- 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼.

In [ ]:
# 1. 3ì›” ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['DateTime'].dt.strftime('%m') == '03']
# display(target)

# 2. ì‹œê°„ëŒ€ë³„ë¡œ ê·¸ë£¹í™”í•˜ê³  ì˜¨ë„ì˜ í‰ê· ì„ ì§‘ê³„ í›„ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ê³  ì²« í–‰ì„ í•„í„°ë§.
Ans = target.groupby(target['DateTime'].dt.strftime('%H'))['Temperature'].mean().sort_values(ascending = True)
print(Ans.iloc[0])

11.506612903225806

# Question 59.
- 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼.

In [212]:
# 1. 3ì›”ì˜ ë°ì´í„°ë§Œì„ í•„í„°ë§
target = df.loc[df['DateTime'].dt.strftime('%m') == '03']
# display(target)

# 2. ì‹œê°„ëŒ€ë³„ë¡œ ê·¸ë¡­í™”í•˜ê³  ì˜¨ë„ì˜ í‰ê· ì„ ì§‘ê³„ í›„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³  ì²« í–‰ì„ í•„í„°ë§
Ans = target.groupby(target['DateTime'].dt.strftime('%H'))['Temperature'].mean().sort_values(ascending = False)
print(Ans.iloc[0])

18.393602150537635

# Question 60.
- Zone 1 Power Consumption ì»¬ëŸ¼ì´ Zone 2 Power Consumption ì»¬ëŸ¼ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

In [226]:
# 1. ì»¬ëŸ¼ëª…ì— ê³µë°±ì´ í¬í•¨ë¼ ìˆì–´ ê³µë°±ì„ ëª¨ë‘ '_'ë¡œ ëŒ€ì²´
#   - r: ë¬¸ìì—´ì˜ \ë¥¼ íŠ¹ìˆ˜ë¬¸ìë¡œ í•´ì„í•˜ì§€ ì•Šë„ë¡ í•¨. ì¦‰, ì´ìŠ¤ì¼€ì´í”„ë¬¸ì´ ì•„ë‹˜.
#   - '\s+': sëŠ” ê³µë°±ë¬¸ì í•˜ë‚˜ë¥¼ ì˜ë¯¸. s+ëŠ” ê³µë°±ë¬¸ì í•˜ë‚˜ ì´ìƒì„ ì˜ë¯¸.
#   - regex = True: ì²« ë²ˆì§¸ ì¸ìë¥¼ ì •ê·œí‘œí˜„ì‹ìœ¼ë¡œ í•´ì„í•˜ë„ë¡ í•¨. ì¦‰, '\s+'ë¥¼ ë¬¸ìì—´ë¡œ ì¸ì‹í•˜ì§€ ì•Šê³  ì •ê·œí‘œí˜„ì‹ì„ ì¸ì‹í•˜ê²Œ í•˜ëŠ” ê²ƒ.
df.columns = df.columns.str.lower().str.replace(r'\s+', '_', regex = True).str.strip()

# 1. ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§. (ì»¬ëŸ¬ëª…ì— ê³µë°±ì´ í¬í•¨ë¼ ìˆì–´ ì£¼ì˜).
target = df.loc[df['zone_1_power_consumption'] > df['zone_2_power_consumption']]
# display(target)

# 2. í•„í„°ë§í•œ ë°ì´í„°í”„ë ˆì„ì„ ê¸°ì¤€ìœ¼ë¡œ Humidityì˜ í‰ê· ì„ ê³„ì‚°
Ans = target['humidity'].mean()
print(Ans)

68.23624448055052

# Question 61.
- ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼.

In [229]:
# 1. ê° zoneì˜ ì—ë„ˆì§€ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ í–‰ë ¬ì„ ìƒì„±.
target = df[['zone_1_power_consumption', 'zone_2_power_consumption', 'zone_3_power_consumption']].corr()
display(target)

,zone_1_power_consumption,zone_2_power_consumption,zone_3_power_consumption
zone_1_power_consumption,1.000000,0.834519,0.750733
zone_2_power_consumption,0.834519,1.000000,0.570932
zone_3_power_consumption,0.750733,0.570932,1.000000

# Question 62.
- Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B, 20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ì™¸ì˜ ê²½ìš° Dë¼í•  ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [242]:
# 1. dp.cut()ì„ í†µí•´ ê° ë²”ìœ„ë¥¼ ë§¤í•‘
df['ë‹¨ê³„ì˜ ìˆ˜'] = pd.cut(
    df['temperature'], # êµ¬ê°„ì„ ë‚˜ëˆŒ ëŒ€ìƒ ì»¬ëŸ¼
    bins = [-float('inf'), 10, 20, 30, float('inf')], # ë²”ìœ„ëŠ” í•˜ë‹¨ì˜ right ì¸ìì™€ ê´€ë ¨ìˆë‹¤. 
    labels = ['A', 'B', 'C', 'D'], # ê° êµ¬ê°„ë³„ ë¼ë²¨ ì„¤ì •.
    right = False # ìš°ì¸¡ ê²½ê³„ ë¯¸í¬í•¨ìœ¼ë¡œ `ìŒì˜ ë¬´í•œ <= x < 10, 10 <= x < 20, 20 <= x < 30, ...`ë¡œ êµ¬ê°„í™” ëœë‹¤.
)
# display(df['ë‹¨ê³„ì˜ ìˆ˜'].unique())

# 2. ê° ë²”ì£¼ë³„ ë°ì´í„°ì˜ ìˆ˜ ì§‘ê³„
#   - observed: Trueì¸ ê²½ìš° ì§‘ê³„ ê°’ì´ ì¡´ì¬í•˜ëŠ” ë²”ì£¼ë§Œ ë°˜í™˜. Falseì¸ ê²½ìš° ëª¨ë“  ë²”ì£¼ë¥¼ ë°˜í™˜. (ê¸°ë³¸ì€ False ì´ë‹¤).
Ans = df.groupby('ë‹¨ê³„ì˜ ìˆ˜', observed = False).size()
Ans

ë‹¨ê³„ì˜ ìˆ˜
A     2874
B    26993
C    21105
D     1444
dtype: int64

# Question 63.
- 6ì›” ë°ì´í„° ì¤‘ 12ì‹œ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼.

In [246]:
# 1. 6ì›” 12ì‹œ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['datetime'].dt.strftime('%m %H') == '06 12']
# display(target['datetime'].unique())

# 2. í•„í„°ë§ëœ ë°ì´í„°ì—ì„œ Temperature ì»¬ëŸ¼ì˜ í‘œì¤€í¸ì°¨ë¥¼ ì¶œë ¥
Ans = target['temperature'].std()
print(Ans)

2.0499417827951025

# Question 64.
- 6ì›” ë°ì´í„° ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼.

In [249]:
# 1. 6ì›” 12ì‹œ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['datetime'].dt.strftime('%m %H') == '06 12']
# display(target['datetime'].unique())

# 2. í•„í„°ë§ëœ target ë°ì´í„°í”„ë ˆì„ì˜ Temperature ì»¬ëŸ¼ì˜ ë¶„ì‚°ì„ ê³„ì‚°
Ans = target['temperature'].var()
print(Ans)

4.202261312849163

# Question 65.
- Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°–ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì„ ì¶œë ¥í•˜ë¼.
- (ë§ˆë‹˜ ì½”ë“œë¡œ í•´ë„ ë‹µì´ ë‹¤ë¥¸ ê±¸ë¡œ ë³´ì•„ ëŒ€ìƒìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ” ë°ì´í„°í”„ë ˆì„ì´ ë‹¤ë¥¸ ë“¯).

In [277]:
# 1. Temperature ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['temperature'] >= df['temperature'].mean()]
# display(target)

# 2. Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
target = target.sort_values('temperature')
# display(target['temperature'])

# 3. ë„¤ ë²ˆì§¸ í–‰ì˜ Humidityë¥¼ ì¶œë ¥
Ans = target['humidity'].iloc[3]
print(Ans)

89.5

# Question 66.
- Temperature ì»¬ëŸ¼ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°–ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§í•˜ê³ , Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ ë„¤ ë²ˆì©¨ í–‰ì˜ Humidityë¥¼ ì¶œë ¥í•˜ë¼.
- (ë§ˆë‹˜ ì½”ë“œë¡œ í•´ë„ ë‹µì´ ë‹¤ë¥¸ ê±¸ë¡œ ë³´ì•„ ëŒ€ìƒìœ¼ë¡œ ì‚¬ìš©í•˜ëŠ” ë°ì´í„°í”„ë ˆì„ì´ ë‹¤ë¥¸ ë“¯).

In [278]:
# 1. Temperatureê°€ ì¤‘ê°„ê°’ ì´ìƒì¸ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['temperature'] >= df['temperature'].median()]
# display(target)

# 2. Temperature ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
target = target.sort_values('temperature')
# display(target['temperature'])

# 3. ë„¤ ë²ˆì§¸ í–‰ì˜ Humidityë¥¼ ì¶œë ¥.
Ans = target['humidity'].iloc[3]
print(Ans)

62.66

# Question 67.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [ ]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
df = pd.read_csv(data)

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Question 68.
- Legendary ì»¬ëŸ¼ì€ ì „ì„¤ í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤. ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ ì¶œë ¥í•˜ë¼.

In [286]:
# 1. Legendaryê°€ Trueì¸ ê²½ìš°ì™€ Falseì¸ ê²½ìš°ì˜ í‰ê· ì„ êµ¬í•˜ê³  ì°¨ì´ë¥¼ ê³„ì‚°
Ans = df.loc[df['Legendary'] == True]['HP'].mean() - df.loc[df['Legendary'] == False]['HP'].mean()
print(Ans)

25.55614861329147

# Question 69.
- Type1ì€ ì£¼ì†ì„±, Tpye2ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„±ì˜ ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?

In [301]:
# 1. ì»¬ëŸ¼ëª…ì— ê³µë°±ì´ ìˆê¸°ì— '_'ë¡œ ë¨¼ì € ì¹˜í™˜ í›„ í™•ì¸
df.columns = df.columns.str.replace(r'\s+', '_', regex = True).str.strip()
# print(df.columns)

# 2. nuique()ë¥¼ í†µí•´ ì¼ë‹¨ ë¶€ì†ì„±ì˜ ê°œìˆ˜ í™•ì¸
print(df.groupby('Type_2').size().sort_values(ascending = False).reset_index(name = 'ë¶€ì†ì„±ì˜ ìˆ˜')['Type_2'].iloc[0])

Flying

# Question 70.
- ê°€ì¥ ë§ì€ Type 1ì˜ ì¢…ì˜ í‰ê·  Attack ê°’ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆ ê°’ì„ ì¶œë ¥í•˜ë¼.

In [308]:
# 1. ê°€ì¥ ë§ì€ Type 1ì˜ ì¢…ì„ í•„í„°ë§.
most_type_1 = df.groupby('Type_1').size().sort_values(ascending = False).reset_index(name = 'ì£¼ì†ì„±ì˜ ìˆ˜')['Type_1'].iloc[0]
# print(most_type_1)

# 2. most_type_1ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['Type_1'] == most_type_1]
# display(target['Type_1'].unique())

# 3. í•„í„°ë§ëœ target ë°ì´í„°í”„ë ˆì„ì˜ Attackì˜ í‰ê· ì„ Defenseë¡œ ë‚˜ëˆˆë‹¤.
Ans = target['Attack'].mean() / target['Defense'].mean()
print(Ans)

1.0165238678090576

# Question 71.
- í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ì€ ëª‡ ì„¸ëŒ€ì¸ê°€?

In [319]:
# 1. Legendaryê°€ Trueì¸ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['Legendary'] == True].copy()

# 2. í•„í„°ë§ ëœ target ë°ì´í„°í”„[ë ˆì„ì„ Generationê³¼ Legendaryë¡œ ê·¸ë£¹í™”í•˜ê³  ì§‘ê³„
target = target.groupby(['Generation', 'Legendary']).size().reset_index(name = 'ì„¸ëŒ€ë³„ ì „ì„¤ ìˆ˜')
# display(target)

# 3. ì§‘ê³„ëœ ë°ì´í„°ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
target = target.sort_values('ì„¸ëŒ€ë³„ ì „ì„¤ ìˆ˜', ascending = False)
# display(target)

# 4. ì²« ë²ˆì§¸ í–‰ì˜ ì„¸ëŒ€ë¥¼ ì •ë‹µìœ¼ë¡œ ì¶œë ¥
Ans = target['Generation'].iloc[0]
print(Ans)

3

# Question 72.
- 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed' ê°„ì˜ ìƒê´€ê´€ê³„ ê³„ìˆ˜ ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„êµ¬í•˜ì—¬ë¼.

In [341]:
# 1. ì»¬ëŸ¼ëª…ì„ ë³€í™˜í–ˆê¸°ì— ì»¬ëŸ¼ëª…ì„ ìš°ì„  í™•ì¸
# print(df.columns)

# 2. í•„ìš”í•œ ì»¬ëŸ¼ë§Œ ì¶”ì¶œí•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ìƒì„±
target_lst = ['HP', 'Attack', 'Defense', 'Sp._Atk', 'Sp._Def', 'Speed']
target = df[['HP', 'Attack', 'Defense', 'Sp._Atk', 'Sp._Def', 'Speed']]
# display(target)

# 3. ìƒê´€ê´€ê³„ í–‰ë ¬ ìƒì„±
corr_mat = target.corr()

# 4. ìƒê´€ê´€ê³„ í–‰ë ¬ì„ ê¸´ í˜•íƒœì˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
corr_mat = corr_mat.unstack().reset_index()
# display(corr_mat)

# 4. ì»¬ëŸ¼ëª…ì„ ì§ê´€ì ìœ¼ë¡œ ë³€ê²½
corr_mat.columns = ['value_1', 'value_2', 'corr']
# display(corr_mat)

# 5. ì¤‘ë³µë˜ëŠ” ê²½ìš°ë¥¼ íŒë‹¨í•˜ê¸° ìœ„í•´ ê¸°ì¤€ì´ ë˜ëŠ” ì»¬ëŸ¼ ìƒì„±
corr_mat['dup'] = corr_mat.apply(lambda row : tuple(sorted([row['value_1'], row['value_2']])), axis = 1)
# display(corr_mat['dup'])

# 6. ìƒì„±í•œ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì¤‘ë³µì œê±°
corr_mat = corr_mat.drop_duplicates('dup').drop(columns = 'dup')
# display(corr_mat)

# 7. ìê¸°ìì‹ ê³¼ì˜ ìƒê´€ê´€ê³„ ì œê±°
corr_mat = corr_mat.loc[corr_mat['value_1'] != corr_mat['value_2']]
# display(corr_mat)

# 8. corr ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³  ì²« ë²ˆì§¸ í–‰ì„ í•„í„°ë§í•˜ì—¬ ì¶œë ¥
corr_mat = corr_mat.sort_values('corr', ascending = False)
Ans = corr_mat.iloc[0]
display(Ans)

value_1     Defense
value_2     Sp._Def
corr       0.510747
Name: 16, dtype: object

# Question 73.
- ê° Generationë³„ë¡œ Attackì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œì˜ ë°ì´í„°(18ê°œ)ì˜ Attackì˜ í‰ê· ì„ ì¶œë ¥í•˜ë¼.

In [351]:
# 1. Generationê³¼ Attackì„ ê¸°ì¤€ìœ¼ë¡œ Generationì€ ë‚´ë¦¼ì°¨ìˆœ, Attackì€ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬.
target = df.sort_values(['Generation', 'Attack'], ascending = [True, True])
# display(target)

# 2. ì •ë ¬ëœ ë°ì´í„°í”„ë ˆì„ targetì„ Gerationìœ¼ë¡œ ê·¸ë£¹í™”í•˜ê³  ê° ìƒìœ„ 3ì˜ Attackì„ ì¶œë ¥.
target = target.groupby('Generation')[['Generation', 'Attack']].head(3).reset_index(drop = True)
# display(target)

# 3. ìƒì„œëœ target ë°ì´í„°í”„ë ˆì„ì˜ Attackì˜ í‰ê· ì„ ì •ë‹µìœ¼ë¡œ ì¶œë ¥.
Ans = target['Attack'].mean()
print(Ans)

19.5

# Question 74.
- ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ ìƒìœ„ 5ê°œì˜ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ í‰ê· ì„ ì¶œë ¥í•˜ë¼.

In [ ]:
# 1. ë°”ë¡œ ì´ì „ ë¬¸ì œ(Question 73)ì™€ ê°™ê¸°ì— í•œ ì¤„ë¡œ ì½”ë”©
Ans = df.sort_values(['Generation', 'Attack'], ascending = [True, False]).groupby('Generation')['Attack'].head(5).mean()
print(Ans)

157.23333333333332

# Question 75.
- ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1, Type2)ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?
- (ë§ˆë‹˜ì˜ í’€ì´ê°€ ë” ì§ê´€ì ì´ê³  íš¨ìœ¨ì ì´ë‹¤.)

In [ ]:
# 1. Type2ê°€ nanì´ ìˆì´ê²Œ nonì´ ì•„ë‹Œ ê°’ë“¤ë§Œ ì¶œë ¥.
target = df.loc[df['Type_2'].notna()].copy()
# display(target.info())

# 1. (Type1, Type2) ìŒìœ¼ë¡œ ëœ ì»¬ëŸ¼ ìƒì„±.
#   - zip(): ë°˜ë³µ ê°€ëŠ¥í•œ ê°ì²´ë¥¼ ë¬¶ì–´ íŠœí”Œë¡œ í˜•íƒœë¡œ ë°˜í™˜í•´ ì£¼ëŠ” í•¨ìˆ˜.
#   - list()ë¡œ ë¬¶ì–´ Seriesë¡œ ì»¬ëŸ¼ì„ ìƒì„±.
target['Type_pairs'] = list(zip(target['Type_1'], target['Type_2']))
# display(target['Type_pairs'])

# 2. Type_pairsë¡œ ê·¸ë£¹í™”ë¥¼ í•œ ë’¤ ê° ë²”ì£¼ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì¶œë ¥.
target = target.groupby('Type_pairs').size().reset_index(name = 'ìŒë³„ ë¹ˆë„')
# display(target)

# 3. ìŒë³„ ë¹ˆë„ë¥¼ ì¤‘ì‹¬ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ ì²« ë²ˆì§¸ í–‰ì„ ì¶œë ¥.
target = target.sort_values('ìŒë³„ ë¹ˆë„', ascending = False).reset_index(drop = True).iloc[0]
display(target.to_frame().T)

# 4. ë²ˆì™¸: í•„ìš”í•˜ë‹¤ë©´ ì•„ë˜ì™€ ê°™ì´ Type_pairs ì»¬ëŸ¼ì—ì„œ ê°œë³„ Typeì„ ì¶œë ¥í•˜ì—¬ ì‚¬ìš©.
Type_1_value = target['Type_pairs'][0]
Type_2_value = target['Type_pairs'][1]

'''
< ë§ˆë‹˜ í’€ì´: ë¹„ìš©ìƒìœ¼ë¡œ ë” íš¨ìœ¨ì ì„ (ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ìƒì„±ì´ ì—†ê¸° ë•Œë¬¸) >
result = df[['Type 1','Type 2']].value_counts().head(1)
print(result)
'''

         Type_pairs ìŒë³„ ë¹ˆë„
0  (Normal, Flying)    24

Normal, Flying

# Question 76.
- í•œ ë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1, Type2)ì˜ ìŒì˜ ê°œìˆ˜ëŠ” ëª‡ ê°œì¸ê°€?
- (ë§ˆë‹˜ì˜ í’€ì´ê°€ ë” ì§ê´€ì ì´ê³  íš¨ìœ¨ì ì´ë‹¤.)

In [ ]:
# 1. Type2ê°€ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['Type_2'].notna()].copy()
# display(target.info())

# 2. targetë°ì´í„°ì— Type_pairsì»¬ëŸ¼ì„ ì¶”ê°€
target['Type_pairs'] = list(zip(target['Type_1'], target['Type_2']))
# display(target['Type_pairs'])

# 3. Type_pairsë¡œ ê·¸ë£¹í™”í•˜ê³  ë¹ˆë„ìˆ˜ê°€ 1ì¸ ìŒë§Œ ë¦¬ìŠ¤íŠ¸ë¡œ í•„í„°ë§
temp = target.groupby('Type_pairs').size().reset_index(name = 'ìŒë³„ ë¹ˆë„ìˆ˜')
# display(temp)

# 4. ë¦¬ìŠ¤íŠ¸ë¡œ ë¹ˆë„ìˆ˜ê°€ 1ì¸ ìŒë“¤ë§Œì„ í•„í„°ë§ í›„ len()ì„ í†µí•´ ê²°ê³¼ë°˜í™˜
pairs_lst = list(temp.loc[temp['ìŒë³„ ë¹ˆë„ìˆ˜'] == 1]['Type_pairs'])
Ans = len(pairs_lst)
print(Ans)

'''
< ë§ˆë‹˜ í’€ì´: ë¹„ìš©ìƒìœ¼ë¡œ ë” íš¨ìœ¨ì ì„ (ë¶ˆí•„ìš”í•œ ì»¬ëŸ¼ ìƒì„±ì´ ì—†ê¸° ë•Œë¬¸) >
target = df[['Type 1','Type 2']].value_counts()
result = len(target[target==1])
print(result)
'''

39

# Question 77.
- í•œ ë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1, Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ëª‡ ê°œì”© ê°–ê³  ìˆëŠ”ê°€?
- ì´ë²ˆì—ëŠ” ì»¬ëŸ¼ì„ ìƒì„±í•˜ëŠ” ê²ƒì´ ë” íš¨ìœ¨ì .

In [466]:
# 1. Type2ê°€ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[df['Type_2'].notna()].copy()
# display(target.info())

# 2. targetë°ì´í„°ì— Type_pairsì»¬ëŸ¼ì„ ì¶”ê°€
target['Type_pairs'] = list(zip(target['Type_1'], target['Type_2']))
# display(target['Type_pairs'])

# 3. Type_pairsë¡œ ê·¸ë£¹í™”í•˜ê³  ë¹ˆë„ìˆ˜ê°€ 1ì¸ ìŒë§Œ ë¦¬ìŠ¤íŠ¸ë¡œ í•„í„°ë§
temp = target.groupby('Type_pairs').size().reset_index(name = 'ìŒë³„ ë¹ˆë„ìˆ˜')
# display(temp)

# 4. ë¦¬ìŠ¤íŠ¸ë¡œ ë¹ˆë„ìˆ˜ê°€ 1ì¸ ìŒë“¤ë§Œì„ í•„í„°ë§ í›„ len()ì„ í†µí•´ ê²°ê³¼ë°˜í™˜
pairs_lst = list(temp.loc[temp['ìŒë³„ ë¹ˆë„ìˆ˜'] == 1]['Type_pairs'])
# display(pairs_lst)

# 5. targetì—ì„œ pairs_lstì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§
target_pair = target.loc[target['Type_pairs'].isin(pairs_lst)]
# display(target_pair.groupby('Type_pairs').size())

# 6. Generationìœ¼ë¡œ ê·¸ë£¹í™”í•œ ë’¤ Type_pairsì˜ ë²”ì£¼ì˜ ì¢…ë¥˜ë¥¼ ì§‘ê³„
Ans = target_pair.groupby(['Generation'])['Type_pairs'].nunique()
display(Ans)

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: Type_pairs, dtype: int64

# Question 78.
- ë°ì´í„°ë¥¼ ë¡œë“œí•˜ë¼.

In [468]:
data = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv'
df = pd.read_csv(data)

df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

# Question 79.
- ì „ì²´ ë°ì´í„°ì˜ `ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)`ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

In [487]:
# 1. ì»¬ëŸ¼ëª…ë“¤ë¶€í„° í™•ì¸
# display(df.columns)

# 2. ê³µë°±ì´ ìˆì–´ ì»¬ëŸ¼ëª…ì„ ì¶œë ¥í•˜ê¸° ì–´ë ¤ìš°ë‹ˆ ê³µë°±ì œê±°
df.columns = df.columns.str.replace(r'\s+', '', regex = True).str.strip()
# display(df.columns)

# 3. `ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)`ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ìƒì„±í•œë‹¤.
df['í˜ˆì••ì°¨ì´'] = df['ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ):mmHg'] - df['ì´ì™„ê¸°í˜ˆì••(ìµœì €):mmHg']
# display(df['í˜ˆì••ì°¨ì´'])

# 4. í‰ê· ì„ ê³„ì‚°í•˜ê³  ì¶œë ¥.
Ans = df['í˜ˆì••ì°¨ì´'].mean()
print(Ans)

52.19539414750672

# Question 80.
- 50 ~ 59ì„¸ì˜ í‰ê· ì‹ ì¥ì„ êµ¬í•˜ì—¬ë¼.

In [491]:
# 1. 50ëŒ€ì— ì†í•˜ëŠ” ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[(df['ì¸¡ì •ë‚˜ì´'] >= 50) & (df['ì¸¡ì •ë‚˜ì´'] < 60)]
# display(target['ì¸¡ì •ë‚˜ì´'].describe())

# 2. í•„í„°ë§í•œ target ë°ì´í„°í”„ë ˆì„ì˜ í‰ê· ì‹ ì¥ì„ ì¶œë ¥.
Ans = target['ì‹ ì¥:cm'].mean()
print(Ans)

164.07490107405314

# Question 81.
- ì—°ë ¹ëŒ€ (20 ~ 29: 20ëŒ€, 30 ~ 39: 30ëŒ€, ...)ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼.

In [502]:
# 1. ë‚˜ì´ êµ¬ê°„ í™•ì¸
print(df['ì¸¡ì •ë‚˜ì´'].min(), df['ì¸¡ì •ë‚˜ì´'].max())

# 2. pd.cutì„ í†µí•´ ì—°ë ¹ëŒ€ ì»¬ëŸ¼ì„ ìƒì„±.
df['ì—°ë ¹ëŒ€ ê·¸ë£¹'] = pd.cut(
    df['ì¸¡ì •ë‚˜ì´'],
    bins = [20, 30, 40, 50, 60, 70],
    labels = ['20ëŒ€', '30ëŒ€', '40ëŒ€', '50ëŒ€', '60ëŒ€'],
    right = False
)
# display(df['ì—°ë ¹ëŒ€ ê·¸ë£¹'])

# 3. ê·¸ë£¹í™” í•˜ì—¬ ì§‘ê³„
Ans = df.groupby('ì—°ë ¹ëŒ€ ê·¸ë£¹').size()
display(Ans)

21.0 64.0

C:\Users\ashle\AppData\Local\Temp\ipykernel_33672\526798433.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  Ans = df.groupby('ì—°ë ¹ëŒ€ ê·¸ë£¹').size()

ì—°ë ¹ëŒ€ ê·¸ë£¹
20ëŒ€    5831
30ëŒ€    2660
40ëŒ€    1801
50ëŒ€    1769
60ëŒ€    1335
dtype: int64

# Question 82.
- ì—°ë ¹ëŒ€(20 ~ 29: 20ëŒ€, 30 ~ 39: 30ëŒ€, ...)ë³„ ë“±ê¸‰ì˜ ë¹ˆë„ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼.

In [510]:
# 1. ì—°ë ¹ëŒ€ ì»¬ëŸ¼ìƒì„±
df['ì—°ë ¹ëŒ€ ê·¸ë£¹'] = pd.cut(
    df['ì¸¡ì •ë‚˜ì´'],
    bins = [20, 30, 40, 50, 60, 70],
    labels = ['20ëŒ€', '30ëŒ€', '40ëŒ€', '50ëŒ€', '60ëŒ€'],
    right = False
)

# 2. `ì—°ë ¹ëŒ€-ë“±ê¸‰`ë³„ë¡œ ê·¸ë£¹í™”í•œ ë’¤ ì§‘ê³„
Ans = df.groupby(['ì—°ë ¹ëŒ€ ê·¸ë£¹', 'ë“±ê¸‰'], observed = False).size().reset_index(name = 'ë¹ˆë„ìˆ˜')
Ans

   ì—°ë ¹ëŒ€ ê·¸ë£¹ ë“±ê¸‰   ë¹ˆë„ìˆ˜
0     20ëŒ€  A  1585
1     20ëŒ€  B  1443
2     20ëŒ€  C  1455
3     20ëŒ€  D  1348
4     30ëŒ€  A   743
5     30ëŒ€  B   697
6     30ëŒ€  C   626
7     30ëŒ€  D   594
8     40ëŒ€  A   386
9     40ëŒ€  B   428
10    40ëŒ€  C   455
11    40ëŒ€  D   532
12    50ëŒ€  A   321
13    50ëŒ€  B   410
14    50ëŒ€  C   474
15    50ëŒ€  D   564
16    60ëŒ€  A   314
17    60ëŒ€  B   371
18    60ëŒ€  C   339
19    60ëŒ€  D   311

# Question 83.
- ë‚¨ì„± ì¤‘ A ë“±ê¸‰ê³¼ D ë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼.

In [521]:
# 1. ì¸¡ì •íšŒì›ì„±ë³„ í™•ì¸
# df['ì¸¡ì •íšŒì›ì„±ë³„'].unique()

# 2. ë‚¨ì„±ì´ë©´ì„œ A ë“±ê¸‰ê³¼ D ë“±ê¸‰ë§Œì„ í•„í„°ë§
target = df.loc[(df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M') & (df['ë“±ê¸‰'].isin(['A', 'D']))]
# target['ë“±ê¸‰'].unique()

# 3. ê° ì²´ì§€ë°©ë¥  í‰ê· ì„ ê³„ì‚°
target_mean = target.groupby('ë“±ê¸‰')['ì²´ì§€ë°©ìœ¨:%'].mean().reset_index(name = 'ì²´ì§€ë°©ìœ¨ í‰ê· ')
target_mean

# 4. ë” í° ì²´ì§€ë°©ìœ¨ í‰ê· ì—ì„œ ë” ì‘ì€ ì²´ì§€ë°©ìœ¨ í‰ê· ì„ ì°¨ê°.
Ans = target_mean['ì²´ì§€ë°©ìœ¨ í‰ê· '].iloc[1] - target_mean['ì²´ì§€ë°©ìœ¨ í‰ê· '].iloc[0]
print(Ans)

7.932086486137521

# Question 84.
- ì—¬ì„± ì¤‘ A ë“±ê¸‰ê³¼ D ë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê·  ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼.

In [526]:
# 1. ì—¬ì„±ì´ë©´ì„œ A ë“±ê¸‰ê³¼ D ë“±ê¸‰ì¸ ë°ì´í„°ë§Œ í•„í„°ë§
target = df.loc[(df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'F') & (df['ë“±ê¸‰'].isin(['A', 'D']))]
# display(target['ë“±ê¸‰'].unique())

# 2. ì´ë²ˆì—ëŠ” í•œ ì¤„ ì½”ë”©í•˜ê³  ì ˆëŒ€ê°’ ì‚¬ìš©.
Ans = abs(target.loc[target['ë“±ê¸‰'] == 'A']['ì²´ì¤‘:kg'].mean() - target.loc[target['ë“±ê¸‰'] == 'D']['ì²´ì¤‘:kg'].mean())
print(Ans)

5.176211590296504

# Question 85.
- bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆ ê°’ì´ë‹¤. ë°ì´í„°ì˜ bmië¥¼ êµ¬í˜„í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³ , ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

In [530]:
# 1. bmi ì»¬ëŸ¼ ìƒì„±.
df['bmi'] = df['ì²´ì¤‘:kg'] / (((df['ì‹ ì¥:cm']) / 100) ** 2)
# display(df['bmi'])

# 2. ë‚¨ì„±ì˜ í‰ê·  bmië¥¼ í•œ ì¤„ ì½”ë”©
Ans = df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']['bmi'].mean()
print(Ans)

24.46134409819308

# Question 86.
- bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼.

In [532]:
# 1. ì•ì„œ ìƒì„±í•œ bmi ì»¬ëŸ¼ì„ í™œìš©í•˜ì—¬ í•œ ì¤„ ì½”ë”©.
Ans = df.loc[df['ì²´ì§€ë°©ìœ¨:%'] > df['bmi']]['ì²´ì¤‘:kg'].mean()
print(Ans)

61.7408806392542

# Question 87.
- ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼.

In [534]:
# 1. í•„ìš”í•œ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê³  í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ëŠ” í•œ ì¤„ ì½”ë”©
Ans = df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']['ì•…ë ¥D:kg'].mean() - df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'F']['ì•…ë ¥D:kg'].mean()
print(Ans)

17.55954185047464

# Question 88.
- ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼.

In [535]:
# 1. í•„ìš”í•œ ë°ì´í„°ë§Œ í•„í„°ë§í•˜ì—¬ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ëŠ” í•œ ì¤„ ì½”ë”©
Ans = df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'M']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸°:íšŒ'].mean() - df.loc[df['ì¸¡ì •íšŒì›ì„±ë³„'] == 'F']['êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸°:íšŒ'].mean()
print(Ans)

14.243156833157627